<div style="border: 1px solid #d3d7df;">

    %image

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div style="color:#fff; background-color:#929aaf; font-size:13px;">
        <div><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Ocorrência:</b> %referencia</span></div>
    </div>


    <div style="background-color:#d3d7df;">



        <h6 style="color:#0b306b; border-bottom:1px solid #fff; font-size:13px;">Dados da Ocorrência</h6>

        <br/>

        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Categoria:</b> %catName</span></p>
        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Subcategoria:</b> %subcatName</span></p>
        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Descrição:</b> %descricao</span></p>

    </div>

    <div style="background-color:#d3d7df;">

        <h6 style="color:#0b306b; border-bottom:1px solid #fff; font-size:13px;">Localização da Ocorrência</h6>

        <br/>

        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Freguesia:</b> %fregName</span></p>
        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Sítio:</b> %sitio</span></p>
        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Morada:</b> %morada</span></p>
        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Pontos de Referência:</b> %ptosrefs</span></p>
        <p style="color:black; font-size:9px;"><span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span> <span>%space</span>  <span><b>Pontos GPS:</b> <span>Latitude %lat</span> <span>%space</span> <span>%space</span> <span>Longitude %long</span></span></p>

    </div>

</div>


