<p></p>
<table class="invoice .invoice-items">
    <tr>
        <td colspan="2">
            <h4>%EVENT_TITLE</h4>
        </td>
    </tr>
    <tr>
        <td >
            %DESC_USER_LABEL
        </td>
        <td >
            %DESC_USER_VAL <br>
            %DESC_USERLOGIN_VAL ( %DESC_USEREMAIL_VAL )
        </td>
    </tr>

    
    
    <tr>
        <td >
            %DESC_CARGO_LABEL
        </td>
        <td >
            %DESC_CARGO_VAL
        </td>
    </tr>
    
    <tr>
        <td >
            %DESC_FUNCAO_LABEL
        </td>
        <td >
            %DESC_FUNCAO_VAL
        </td>
    </tr>

</table>