<p></p>
<table class="invoice .invoice-items">
    <tr>
        <td colspan="2">
            <h4>%DESC_CATEGORY_VAL - %EVENT_TITLE</h4>
        </td>
    </tr>
    <tr>
        <td >
            %DESC_USER_LABEL
        </td>
        <td >
            %DESC_USER_VAL (  %DESC_USEREMAIL_VAL )
        </td>
    </tr>

    <tr>
        <td >
            %DESC_CATEGORY_LABEL
        </td>
        <td >
            %DESC_CATEGORY_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_WEBSITELIST_LABEL
        </td>
        <td >
            %DESC_WEBSITELIST_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_MENUMAIN_LABEL
        </td>
        <td >
            %DESC_MENUMAIN_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_MENUSEC_LABEL
        </td>
        <td >
            %DESC_MENUSEC_VAL
        </td>
    </tr>


    <tr>
        <td >
            %DESC_SUBJECT_LABEL
        </td>
        <td >
            %DESC_SUBJECT_VAL
        </td>
    </tr>



    <tr>
        <td >
            %DESC_STATUS_LABEL
        </td>
        <td >
            %DESC_STATUS_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_CTLANGUAGE_LABEL
        </td>
        <td >
            %DESC_CTLANGUAGE_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_DESCRIPTION2_LABEL
        </td>
        <td >
            %DESC_DESCRIPTION2_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_DESCRIPTION4_LABEL
        </td>
        <td >
            %DESC_DESCRIPTION4_VAL
        </td>
    </tr>

    <tr>
        <td >
            %DESC_OBS_LABEL
        </td>
        <td >
            %DESC_OBS_VAL
        </td>
    </tr>

</table>