#numberConsumidor, #mailConsumidor, #nifConsumidor, #fregConsumidor{
    margin-right:2%;
}

#numberContador, #confMail, #telefoneConsumidor, #codPostal{
    margin-left:2%;
    float: right;
}

#nameConsumidor.form-group, #moradaConsumidor.form-group{
    width:100% !important;
    display:block !important;
}

#fregConsumidor select{
    width: 100%;
    height: 35px;
}

#shareButton #partilha{
    padding: 7px 15px !important;
}