/**
* @version   $Id: master-ie9.css 26122 2015-01-27 15:27:42Z james $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Gantry Core */
body [class*="rt-grid"] {display: inline;float: left;margin: 0;position: relative;}
body .rt-grid-1:before, body .rt-grid-2:before, body .rt-grid-3:before, body .rt-grid-4:before, body .rt-grid-5:before, body .rt-grid-6:before, body .rt-grid-7:before, body .rt-grid-8:before, body .rt-grid-9:before, body .rt-grid-10:before, body .rt-grid-11:before, body .rt-grid-12:before {display: table;content: "";clear: both;}
body .rt-grid-1:after, body .rt-grid-2:after, body .rt-grid-3:after, body .rt-grid-4:after, body .rt-grid-5:after, body .rt-grid-6:after, body .rt-grid-7:after, body .rt-grid-8:after, body .rt-grid-9:after, body .rt-grid-10:after, body .rt-grid-11:after, body .rt-grid-12:after {display: table;content: "";clear: both;}
body .gantry-width-10, body .gantry-width-20, body .gantry-width-25, body .gantry-width-30, body .gantry-width-33, body .gantry-width-40, body .gantry-width-50, body .gantry-width-60, body .gantry-width-66, body .gantry-width-70, body .gantry-width-75, body .gantry-width-80, body .gantry-width-90 {
	display: block;
	float: left;
}
body .rt-grid-1 {width: 8.33333%;}
body .rt-grid-2 {width: 16.66667%;}
body .rt-grid-3 {width: 25%;}
body .rt-grid-4 {width: 33.33333%;}
body .rt-grid-5 {width: 41.66667%;}
body .rt-grid-6 {width: 50%;}
body .rt-grid-7 {width: 58.33333%;}
body .rt-grid-8 {width: 66.66667%;}
body .rt-grid-9 {width: 75%;}
body .rt-grid-10 {width: 83.33333%;}
body .rt-grid-11 {width: 91.66667%;}
body .rt-grid-12 {width: 100%;}

body .rt-push-1 {left: 8.33333%;}
body .rt-push-2 {left: 16.66667%;}
body .rt-push-3 {left: 25%;}
body .rt-push-4 {left: 33.33333%;}
body .rt-push-5 {left: 41.66667%;}
body .rt-push-6 {left: 50%;}
body .rt-push-7 {left: 58.33333%;}
body .rt-push-8 {left: 66.66667%;}
body .rt-push-9 {left: 75%;}
body .rt-push-10 {left: 83.33333%;}
body .rt-push-11 {left: 91.66667%;}

body .rt-pull-1 {left: -8.33333%;}
body .rt-pull-2 {left: -16.66667%;}
body .rt-pull-3 {left: -25%;}
body .rt-pull-4 {left: -33.33333%;}
body .rt-pull-5 {left: -41.66667%;}
body .rt-pull-6 {left: -50%;}
body .rt-pull-7 {left: -58.33333%;}
body .rt-pull-8 {left: -66.66667%;}
body .rt-pull-9 {left: -75%;}
body .rt-pull-10 {left: -83.33333%;}
body .rt-pull-11 {left: -91.66667%;}

body .rt-prefix-1 {padding-left: 8.33333%;}
body .rt-prefix-2 {padding-left: 16.66667%;}
body .rt-prefix-3 {padding-left: 25%;}
body .rt-prefix-4 {padding-left: 33.33333%;}
body .rt-prefix-5 {padding-left: 41.66667%;}
body .rt-prefix-6 {padding-left: 50%;}
body .rt-prefix-7 {padding-left: 58.33333%;}
body .rt-prefix-8 {padding-left: 66.66667%;}
body .rt-prefix-9 {padding-left: 75%;}
body .rt-prefix-10 {padding-left: 83.33333%;}
body .rt-prefix-11 {padding-left: 91.66667%;}

body #rt-content-top .rt-grid-6, body #rt-content-bottom .rt-grid-6, body #rt-content-top .rt-grid-8, body #rt-content-bottom .rt-grid-8, body #rt-content-top .rt-grid-9, body #rt-content-bottom .rt-grid-9 {width: 100%;}
body #rt-content-top .rt-grid-3, body #rt-content-bottom .rt-grid-3 {width: 33.33333%;}
body #rt-content-top .rt-grid-4, body #rt-content-bottom .rt-grid-4 {width: 50%;}

/* Navigation */
body .gf-menu.l1 > li.parent > .item:after {top: 50%;margin-top: 10px;}

/* Module Suffixes */
body [class*="box"] [class*="box"] {filter: none !important;}
body [class^="box"] .module-content [class*="custom"], body [class*=" box"] .module-content [class*="custom"] {filter: none;}

/* Joomla Pagination */
body .pagination ul li a {filter: none;}

/* Gradient + Border Radius Fix */
body .button, body .readon, body button.validate, body p.readmore a, body #member-profile a, body #member-registration a, body .formelm-buttons button, body .controls .btn, body .logout-button .btn, body #gantry-totop, body .sprocket-mosaic-header li, body .sprocket-readmore, body .sprocket-mosaic-loadmore, body .sprocket-lists-title .indicator, body .roksearch_results a.clr, body #k2Container .k2ReadMore, body #k2Container #submitCommentButton {filter: none !important;}
body #rt-header .horizontal-login #modlgn-passwd, body #rt-header .horizontal-login #modlgn-username, body .rokajaxsearch .roksearch-wrapper {filter: none !important;}
body .sprocket-features-pagination li, body .sprocket-lists-pagination li, body .sprocket-strips-pagination li {filter: none !important;}
body .sprocket-strips .sprocket-strips-item {filter: none !important;}

/* Counter */
body #rt-comingsoon-counter .number {filter: none !important;}

/* RokSprocket */
.sprocket-lists-image, .sprocket-lists-text {float: left; box-sizing: border-box;}
.sprocket-features-list, .sprocket-features-pagination {float: left;}
.sprocket-strips-container > li {float: left;position: relative;z-index: 20;}
.sprocket-strips-container > li:hover {z-index: 30;}
.cols-1 > li {width: 100%;}
.cols-2 > li {width: 50%;}
.cols-3 > li {width: 33.333333%;}
.cols-4 > li {width: 25%;}
.cols-5 > li {width: 20%;}
.cols-6 > li {width: 16.666667%;}
.cols-7 > li {width: 14.285714%;}
.cols-8 > li {width: 12.5%;}
.cols-9 > li {width: 11.111111%;}
.cols-10 > li {width: 10%;}
.cols-11 > li {width: 9.090909%;}
.cols-12 > li {width: 8.333333%;}

/* Demo */
body.-rt-iridescent-style #rt-header .rt-grid-9 {width: 100%;}