h3{
    margin-top: 0 !important;
    font-weight: bold !important;
}

.static-info {
    margin-bottom: 20px !important;
}

.col-md-12 .col-md-6:nth-child(1){
    padding-left:0;
}

.col-md-12 .col-md-6:nth-child(2){
    padding-right:0;
}

.col-md-12 .col-md-6:nth-child(1) .form-group {
    margin-right: 0;
}

.col-md-12 .col-md-6:nth-child(2) .form-group {
    margin-left: 0;
}

.col-md-12 .value{
    padding-top: 5px;
}

#dataInicio, #dataFim{
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #c2cad8;
    padding: 5px 10px;
}

.date-picker1 .btn.default:not(.btn-outline) {
    color: #fff;
    background-color: #c2cad8;
    border-color: #c2cad8;
}

#valorProj .form-control{
    width: 97%;
    display: inline-block;
    vertical-align: middle;
}

.mt-repeater-item .input-fixed{
    background: transparent;
    border: 0px;
    min-height: 60px;
    width: 100%;
}

.col-md-12.partners{
    padding-left: 0px;
    padding-right: 0px;
}

.mt-repeater .mt-repeater-input {
    display: block !important;
    padding: 0 !important;
    width: 100% !important;
}

.col-md-12 .mt-repeater .col-md-6:nth-child(1) {
    padding-left: 5px;
}

.col-md-12 .mt-repeater .col-md-6:nth-child(2) {
    padding-right: 5px;
}

.mt-repeater .mt-repeater-input input[type=text]{
    border-radius:3px;
}

.col-md-12 h4{
    font-weight: bold !important;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.mt-repeater-add{
    margin-bottom: 30px !important;
}

.col-md-12.docs{
    padding-left: 0;
    padding-right: 0;
}

.col-md-12.docs .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blocoFormCultura, .blocoEscala{
    display:none;
}

.mt-repeater .uneditable-input{
    min-height:70px !important;
}