.label-pendente {background-color: #bd4e2e;}
.label-emanalise {background-color: #d4c744;}
.label-emresolucao {background-color: #154874;}
.label-concluido {background-color: #4b744f;}
.label-despublicado {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}

