.blocoFormCultura, .blocoEscala{
    display:none;
}

.fileuploader-items li:nth-child(2){
    display:none !important;
}

h3{
    margin-top: 0 !important;
    font-weight: bold !important;
}

.static-info {
    margin-bottom: 20px !important;
}

.col-md-12 .col-md-6:nth-child(1){
    padding-left:0;
}

.col-md-12 .col-md-6:nth-child(2){
    padding-right:0;
}

.col-md-12 .col-md-6:nth-child(1) .form-group {
    margin-right: 0;
}

.col-md-12 .col-md-6:nth-child(2) .form-group {
    margin-left: 0;
}

.col-md-12 .value{
    padding-top: 5px;
}

#dataInicio, #dataFim{
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #c2cad8;
    padding: 5px 10px;
}

.date-picker1 .btn.default:not(.btn-outline) {
    color: #fff;
    background-color: #c2cad8;
    border-color: #c2cad8;
}

#valorProj .form-control{
    width: 97%;
    display: inline-block;
    vertical-align: middle;
}

.col-md-12.docs{
    padding-left: 0;
    padding-right: 0;
}

.col-md-12.docs .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fileuploader{
    margin: 0 !important;
}