.despublicado {
    background-color: #bd4e2e !important;
    border: 1px solid #bd4e2e !important;
    text-align:center;
    color:#fff;
    width: 110px;
    border-radius: 3px;
}

.publicado {
    background-color: #4b744f !important;
    border: 1px solid #4b744f !important;
    text-align:center;
    color:#fff;
    width: 110px;
    border-radius: 3px;
}