.despublicado {
    background-color: #bd4e2e !important;
    border: 1px solid #bd4e2e !important;
    text-align:center;
    color:#fff;
    width: 110px;
    border-radius: 3px;
}

.publicado {
    background-color: #4b744f !important;
    border: 1px solid #4b744f !important;
    text-align:center;
    color:#fff;
    width: 110px;
    border-radius: 3px;
}

.static-info .name {
    padding: 0 5px;
}

.static-info .value {
    min-height: 31px;
}

.cultura {
    background-color: #ebb344 !important;
    border: 1px solid #ebb344 !important;
    text-align:center;
    color:#fff;
    width: 110px;
    border-radius: 3px;
}

.media {
    background-color: #b9dbf0 !important;
    border: 1px solid #b9dbf0 !important;
    text-align:center;
    color:#fff;
    width: 110px;
    border-radius: 3px;
}

.row.static-info{
    margin-left:0 !important;
    margin-right:0 !important;
}

.col-md-4.main, .col-md-8.main{
    display: inline-block;
    vertical-align:top;
    margin: 0 -2px;
    float:none;
}

.form-actions{
    text-align:center;
}

.row.static-info .ValorEstadoAtualStatic{
    border:0px !important;
    background:transparent !important;
    padding:0 !important;
    margin: 10px 0 !important;
}

.row.static-info .ValorEstadoAtualStatic .label{
    padding: 6px 14px !important;
}

.col-md-3 .row.static-info {
    margin-bottom: 0 !important;
}

.col-md-3 .btAlterarEstadoModalOpen {
    margin-top: 35px;
}

.row.partners{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 5px;
    margin-bottom:10px;
}

table{
    border:1px solid #ddd;
}

table thead td{
    padding: 10px;
    background: #ddd;
    font-size: 17px;
}

table thead td:nth-child(2){
    border-left:1px solid #fff;
}

table tbody td{
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

table tbody td:nth-child(2){
    border-left:1px solid #ddd;
}