.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}

.view-agenda div.dataTables_wrapper div.dataTables_filter label {
    display: block;
    text-align: left;
}

#tabela_lista_agenda_filter.dataTables_filter{
    width:66%;
    display:inline-block;
    vertical-align:top;
    float:right;
}

.view-agenda .dataTables_length{
    width:33%;
    display:inline-block;
    vertical-align:top;
    float:left;
}

.view-agenda div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
    display: block;
    width: 100% !important;
}

.view-agenda div.dataTables_wrapper div.dataTables_length select{
    display: block;
}

.view-agenda .portlet.light.bordered{
    padding: 10px !important;
}

.EstadoFilterDropBoxAgenda, .CatFilterDropBoxAgenda, .ConcFilterDropBoxAgenda{
    width:33.3%;
    display:inline-block;
    vertical-align:top;
    float:right;
    margin-top:10px;
}

.EstadoFilterDropBoxAgenda{
    padding-left: 1%;
}

.CatFilterDropBoxAgenda{
    padding-right: 0.5%;
    padding-left: 0.5%;
}

.ConcFilterDropBoxAgenda{
    padding-right: 1%;
}

.EstadoFilterDropBoxAgenda label, .CatFilterDropBoxAgenda label, .ConcFilterDropBoxAgenda label{
    display: block;
}

.EstadoFilterDropBoxAgenda .input-inline, .CatFilterDropBoxAgenda .input-inline, .ConcFilterDropBoxAgenda .input-inline{
    width:100%;
    display:block;
    float:none;
}