.view-agenda .portlet.light.bordered {
    padding: 10px !important;
}

.view-agenda .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-agenda h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-agenda legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-agenda .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-agenda .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-agenda .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-agenda .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-agenda .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-agenda .bloco{
    margin-bottom:50px;
}

.view-agenda .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-agenda h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.form-actions{
    text-align: center;
}

.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}


.view-agenda .portlet-body.form .col-md-8, .view-agenda .portlet-body.form .col-md-4{
    margin-top: 10px;
    float: none;
}

.view-agenda .portlet-body.form .col-md-8{
    width:66%;
    display:inline-block;
    vertical-align:top;
}

.view-agenda .portlet-body.form .col-md-4{
    width:33%;
    display:inline-block;
    vertical-align:top;
    float:right;
}

.view-agenda.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-agenda.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-agenda .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-agenda .descritivo .row.static-info .value{
    min-height: 200px;
}

.view-agenda .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-agenda .form-horizontal .form-group.half.right{
    float:right;
}

.view-agenda .dataTables_wrapper .dataTables_length label{
    text-align: left;
    width: 100%;
}

.view-agenda div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-agenda .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-agenda .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-agenda div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 4px 24px 4px 12px;
}

.view-agenda.layout-viewdiasinternacionais4manager .row.static-info .value .label {
    padding: 6px 15px;
}

.view-agenda .form-group.half.state{
    float:right;
}

.view-agenda .form-group.half.state .value{
    background-color: transparent;
    padding-left:0;
}

.view-agenda .form-group.half.state .col-md-3{
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.view-agenda .form-group.all.multiline .value{
    min-height:300px;
}

.view-agenda.layout-viewdiasinternacionais4manager .col-md-8{
    padding-left: 0px;
    padding-right: 10px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.view-agenda.layout-viewdiasinternacionais4manager .col-md-4{
    padding-left: 10px;
    padding-right: 0px;
    float:right;
}

.select2-container--bootstrap{
    margin-top: 7px !important;
}

div.dataTables_wrapper div.dataTables_filter label{
    width:100%;
}

div.dataTables_wrapper div.dataTables_filter label{
    width:100%;
}

.layout-list4manager .input-inline{
    display:block;
    width:100%;
}

.view-agenda #tabela_lista_dias_internacionais_wrapper .EstadoFilterDropBoxDiasInternacionais{
    padding-left: 10px;
}

.view-agenda #tabela_list_dias_internacionais_wrapper .CatFilterDropBoxDiasInternacionais{
    padding-right: 5px;
    padding-left: 5px;
}

.view-agenda .dataTables_wrapper .dataTables_length label{
    text-align: left;
    width: 100%;
}

.view-agenda div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-agenda .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-agenda .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-agenda div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-agenda .EstadoFilterDropBoxDiasInternacionais {
    width: 30%;
    float: right;
    margin-right: 10px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 4px 24px 4px 12px;
}

.view-agenda .dataTables_wrapper #tabela_lista_dias_internacionais_filter.dataTables_filter {
    width: 66.6%;
}

.view-agenda #tabela_lista_dias_internacionais_wrapper .EstadoFilterDropBoxDiasInternacionais, .view-agenda #tabela_lista_dias_internacionais_wrapper .CatFilterDropBoxDiasInternacionais{
    margin-right: 0px;
    width: 33.3%;
    display:inline-block;
    float: right;
}

.view-agenda .dataTables_wrapper #tabela_lista_dias_internacionais_filter.dataTables_filter label, .view-agenda #tabela_lista_dias_internacionais_wrapper .EstadoFilterDropBoxDiasInternacionais label, .view-agenda #tabela_lista_dias_internacionais_wrapper .CatFilterDropBoxDiasInternacionais label{
    width: 100%;
    display:block;
    text-align: left;
}

.view-agenda #tabela_lista_dias_internacionais_wrapper .EstadoFilterDropBoxDiasInternacionais .input-inline, .view-agenda #tabela_lista_dias_internacionais_wrapper .CatFilterDropBoxDiasInternacionais .input-inline{
    display: block;
    width: 100%;
}

.view-agenda #tabela_lista_dias_internacionais_wrapper .EstadoFilterDropBoxDiasInternacionais, .view-agenda #tabela_lista_dias_internacionais_wrapper .CatFilterDropBoxDiasInternacionais{
    margin-top:20px;
}

.view-agenda.layout-addnewdiasinternacionais4manager .form-group.half.right, .view-agenda.layout-viewdiasinternacionais4manager .form-group.half.right, .view-agenda.layout-editdiasinternacionais4manager .form-group.half.right{
    float:right;
}

.select2-container--bootstrap {
    margin-top: 5px !important;
}

.form-group.half .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, .form-group.half .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    width: 100%;
    padding-top: 100%;
    margin: 0;
}

.form-group.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list{
    margin: 0;
}

.view-agenda.layout-viewdiasinternacionais4manager .cbp .cbp-item{
    width: 100% !important;
    height: 100% !important;
}

.view-agenda.layout-viewdiasinternacionais4manager .portlet.light.bg-inverse.bordered{
    min-height:300px;
}

.view-agenda.layout-editdiasinternacionais4manager .form-group.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2){
    display:none !important;
}

.view-agenda.layout-editdiasinternacionais4manager .form-group.half .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-agenda.layout-editdiasinternacionais4manager .form-group.half.estado .select2-container--bootstrap {
    margin-top: 0px !important;
}

.view-agenda .textarea .row.static-info .value{
    min-height:100px;
}
