.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}

.view-agenda .portlet.light.bordered {
    padding: 10px !important;
}

.view-agenda .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-agenda h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-agenda legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-agenda .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-agenda .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-agenda .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-agenda .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-agenda .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-agenda .bloco{
    margin-bottom:50px;
}

.view-agenda .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-agenda h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.form-actions{
    text-align: center;
}

.view-agenda .portlet-body.form .col-md-8, .view-agenda .portlet-body.form .col-md-4{
    margin-top: 10px;
    float: none;
}

.view-agenda .portlet-body.form .col-md-8{
    width:66%;
    display:inline-block;
    vertical-align:top;
}

.view-agenda .portlet-body.form .col-md-4{
    width:33%;
    display:inline-block;
    vertical-align:top;
    float:right;
}

.view-agenda .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-agenda .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-agenda.layout-viewpatrocinadores4manager .form-group.half.state{
    float: right;
}

.view-agenda.layout-viewpatrocinadores4manager .form-group.half.state .value {
    background-color: transparent;
    padding-left: 0;
}

.view-agenda.layout-viewpatrocinadores4manager .row.static-info .value .label {
    padding: 6px 15px;
}

.view-agenda .form-horizontal .form-group.half {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-agenda.layout-viewpatrocinadores4manager .form .form-bordered .form-group>div{
    padding: 0 !important;
}

.view-agenda.layout-viewpatrocinadores4manager .form-group .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.view-agenda.layout-viewpatrocinadores4manager #vdPatrocinadoresFileGridLogo .cbp .cbp-item{
    width: auto !important;
}

.view-agenda.layout-editpatrocinadores4manager .value.col-md-12 .form-control {
    height: 34px;
    margin: 1px 0;
}

.view-agenda.layout-editpatrocinadores4manager .form-horizontal .form-group.half.state{
    float:right;
}