body{
    overflow-x:hidden;
}

#PortalMunicipal{
    margin-top: 30px;
    padding: 50px 0;
    background: rgb(242,242,242);
    border-top: 1px solid #e1e1e1;
    display:none;
}

#PortalMunicipal .col-md-12{
    float:none !important;
}

#PortalMunicipal .w30{
    width:30%;
    display:inline-block;
    vertical-align:top;
}

#PortalMunicipal .w17{
    width:17%;
    display:inline-block;
    vertical-align:top;
}

#PortalMunicipal .w30 .morada, #PortalMunicipal .w30 .telefonenum {
    margin: 0;
    font-size: 13px;
}

#PortalMunicipal .w30 .telefone {
    margin: 20px 0 0 0;
    font-size: 15px;
}

#PortalMunicipal p {
    margin: 2px 0;
}

#PortalMunicipal .otherbutton{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    padding: 3px 7px;
    margin: 20px 1%;
    background: white;
    text-align: center;
    color: #009ee0;
    border: 1px solid #009ee0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#PortalMunicipal .otherbutton:hover{
    background: #009ee0;
    color: white;
}

#PortalMunicipal .feriado {
    margin: 0;
    font-weight: bold;
}

#PortalMunicipal .linksuteis {
    text-align: center;
    padding: 20px;
}

#PortalMunicipal .links {
    background: #009ee0;
    border: 1px solid #009ee0;
    width: 50%;
    margin: 0;
    color: white;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#PortalMunicipal .links:hover {
    background: white;
    color: #009ee0;
}

#PortalMunicipal .titulo{
    font-size: 16px;
    color: #333;
    height: 47px;
    text-transform: uppercase;
}

#PortalMunicipal li {
    font-size: 13px;
    border-bottom: 1px solid #33333317;
    padding: 10px;
    color: #333;
}

#PortalMunicipal li a{
    color: #333;
    text-decoration:none;
}

#PortalMunicipal .w17 ul{
    margin-top: 0;
    margin-left: 0;
    list-style: none;
    padding-inline-start: 0;
}

#PortalMunicipal li .hov, #PortalMunicipal li:hover .out{
    display:none;
}

#PortalMunicipal li .out, #PortalMunicipal li:hover .hov{
    display:inline-block;
}

#PortalMunicipal li .hov, #PortalMunicipal li .out{
    margin-right:10px;
}

#footer{
    padding:30px 0;
    border-top: 1px solid #e1e1e1;
    background: rgb(242,242,242);
}

#footer .w25{
    display:inline-block;
    vertical-align:middle;
    width:24%;
    padding:0 15px;
}

#footer .w35{
    display:inline-block;
    vertical-align:middle;
    width:34%;
    padding:0 15px;
}

#footer .portal{
    text-align:right;
}

#footer #portal{
    margin-right: 20px;
}

#footer .w40{
    display:inline-block;
    vertical-align:middle;
    width:40%;
    text-align:center;
}

#footer button{
    outline:none;
    background:none;
    border:0px;
}

#close{
    position: absolute;
    width: 50px;
    right: 25px;
    z-index:9999;
    cursor:pointer;
}

#close img{
    width: 50px;
    margin-top: -25px;
}

.logo {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 99;
    box-shadow: 2px 2px 2px #00000036;
}

.logo .col-md-3 img{
    max-width: 200px;
    padding: 5px 0;
    margin-left: 15px;
}

.content{
    margin-top: 120px;
    margin-bottom: 30px;
}

.logo #menu, .logo #closeMainMenu{
    border:0px;
    background:transparent;
    outline: none;
    margin-right: 15px;
    margin-top: 20px;
}

.logo .col-md-3.pull-right{
    text-align:right;
}

.logo #menu img, .logo #closeMainMenu img{
    width: 45px;
    padding: 0;
    margin-left: 0;
}

#closeMainMenu{
    display:none;
}

.logo .col-md-6{
    text-align:center;
}

.logo .col-md-6 input{
    width: 450px;
    padding: 10px;
    border: 2px solid #0b306b;
    color: #000;
    font-weight: bold;
    outline: none;
}

.logo .col-md-6 .search-container{
    margin-top: 33px;
}

.logo .col-md-6 button{
    margin-left: -4px;
    background: #0b306b;
    color: #fff;
    border: 1px solid #0b306b;
    padding: 5px 8px 8px 8px;
    font-size: 20px;
    outline: none;
}

#FP .w70{
    width: 70%;
    display:inline-block;
    vertical-align:middle;
}

#FP .w70 img{
    width:100%;
}

#FP .w30{
    width: 29%;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
}

#FP .w30 #novaOcorrencia{
    outline: none;
    border: 2px solid #0b306b;
    background: #0b306b;
    color: #fff;
    padding: 30px 0px;
    font-size: 30px;
    width: 280px;
    margin: 0 auto;
}

#FP .w30 #novaOcorrencia:hover{
    background: #fff;
    color: #0b306b;
}

#FP .w30 a, #FP .w30 a:hover{
    text-decoration:none;
}

/*Tabela*/

th.m-datatable__cell{
    min-width: 100px;
    text-align: center;
    color: #fff;
    border-left: 1px solid #fff;
    font-size: 13px;
    height: 40px;
    padding: 0 5px;
}

.historico th.m-datatable__cell{
    width:10%;
}

.m-datatable__head tr.m-datatable__row{
    background: #0b306b;
}

div.m-datatable{
    max-width: 1200px;
    margin: 0 auto;
}

tbody tr.m-datatable__row td{
    text-align: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid #000;
    color: #000;
}

/*Slider Alerta*/
.ultimosalertas{
    position: relative;
    height: 51px;
    margin-bottom: 5px;
}

.ultimosalertas .title, .ultimosalertas .slideContent{
    text-align: center;
    display:inline-block;
    vertical-align:middle;
    border-left: 0 !important;;
    border: 1px solid #0b306b;
}

.ultimosalertas .title{
    border: 1px solid #0b306b;
    background:#fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    position: relative;
    z-index: 9999;
}

.ultimosalertas .slideContent{
    padding: 15px;
    height: 51px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background:#fff;
}

.ultimosalertas .slideContent .ocorrencia{
    position: relative;
    line-height: 1;
    width: 100%;
    z-index: 99999;
}

.ocorre{
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    line-height: 1;
    position: absolute;
    height: 15px;
}

.ocorre.n1{
    left:0;
}

.ocorre.n5{
    left:-150%;
}
.ocorre.n2, .ocorre.n3, .ocorre.n4{
    left:105%;
}

/*Menu Principal*/

#menuContent{
    width: 240px;
    position: fixed;
    background: #fff;
    right: 0;
    top: 93px;
    z-index: 9999;
    box-shadow: 0px 3px 6px 1px #00000036;
    display:none;
}

#menuContent a, #menuContent a:hover{
    text-decoration:none;
}

#menuContent a div{
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    color: #000;
    font-size: 14px;
}

#menuContent a:hover div, #menuContent a.active div{
    font-weight:bold;
}

#menuContent a div .hov, #menuContent a:hover div .out, #menuContent a.active div .out{
     display:none;
}

#menuContent a div .out, #menuContent a:hover div .hov, #menuContent a.active div .hov{
    display:inline-block;
    margin-right:10px;
}

/*Menu Lista Ocorrencias*/

.warning{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
}

.warning img{
    width: 60px;
}

.tabulador{
    width: 1200px;
    margin: 0px auto 50px auto;
    text-align: center;
    border-bottom: 1px solid #0b306b;
}

.tabulador button {
    outline: none;
    border: 1px solid;
    padding: 20px;
    margin-top: 20px;
    font-size: 17px;
}

.tabulador #button_espera{
    border-color:#0b306b;
    background:#0b306b;
    color:#fff;
}

.tabulador #button_analise, .tabulador #button_concluido{
    border-color:#e1e1e1;
    background:#fff;
    color:#000;
}

.tabulador #button_espera:hover, .tabulador #button_analise:hover, .tabulador #button_concluido:hover{
    border-color:#0b306b;
    background:#0b306b;
    color:#fff;
}

#espera{
    display:block;
}

#analise, #concluido{
    display:none;
}

/*Formulário*/

#new_alerta{
    width: 1200px;
    margin:0 auto;
}

.section h3{
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.section{
    background: #0b306b;
    padding: 10px;
    border-bottom: 0px;
}

.form-group {
    min-height: 30px;
}

#new_alerta .col-md-9 {
    width: 74% !important;
    display: inline-block !important;
    float:none !important;
}

/*Resultados da Pesquisa*/
.corpoResultado{
    border:1px solid #e1e1e1;
    border-top:0px;
}

.headpesquisa{
    background: #0b306b;
    color: #fff;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.refer{
    text-transform: initial;
    padding: 0 10px;
}

.headpesquisa .w33 button{
    border: 2px solid #fff;
    background: transparent;
    float: right;
    font-size: 23px;
    padding: 6px;
}

.headpesquisa .w33 button:hover{
    background: #fff;
    color: #0b306b;
}

.dadosLocalizacao{
    border-top: 1px solid #e1e1e1;
}

.w100{
    width:100%;
    display:inline-block;
    vertical-align: top;
}

.w33{
    width:33%;
    display:inline-block;
    vertical-align: top;
}

.w25 {
    width: 24.5%;
    display: inline-block;
    vertical-align: top;
}

.w33 .w100, .w66 .w100{
    margin-bottom:20px;
}

.w66{
    width:66%;
    display:inline-block;
    vertical-align: top;
}

.corpoResultado h2{
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.dadosOcorrencia, .dadosLocalizacao, .dadosPessoais{
    padding:20px;
}

.item{
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.result1, .result2{
    font-weight:bold;
    color:#000;
}

.result1 span, .result2 span{
    font-weight:100;
}

.result{
    color:#000;
}
