.view-agua .portlet.light.bordered {
    padding: 10px !important;
}

.view-agua .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-agua h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-agua legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-agua .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-agua .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-agua .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-agua .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-agua .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-agua .bloco{
    margin-bottom:50px;
}

.view-agua .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-agua h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-agua .portlet-body.form .col-md-8, .view-agua .portlet-body.form .col-md-4{
    margin-top: 10px;
}

.view-agua.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-agua.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-agua .dataTables_wrapper .dataTables_length label, .view-agua .dataTables_wrapper .dataTables_filter label, .view-agua .EstadoFilterDropBox label, .view-agua .CategoriasFilterDropBox label{
    text-align: left;
    width: 100%;
}

.view-agua div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-agua .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-agua .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-agua div.dataTables_wrapper div.dataTables_filter input, .view-agua .EstadoFilterDropBox select.input-sm, .view-agua .CategoriasFilterDropBox select.input-sm{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-agua .EstadoFilterDropBox {
    width: 30%;
    float: right;
    margin-right: 10px;
}

.label-analise{
    background-color: #d4c744;
}

.label-valido{
    background-color: #4b744f;
}

.label-rejeitado{
    background-color: #bd4e2e;
}

.view-agua .form-horizontal .form-group.half {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-agua .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-agua .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-agua .form-horizontal .form-group.half.state{
    width: 200px;
}

.view-agua .form-horizontal .form-group.half.stateButton{
    float:none !important;
    margin-top: 40px;
    margin-left: 30px;
    width:auto;
}

.view-agua .state .row.static-info .value{
    background-color: transparent !important;
    padding: 5px 0;
}

.view-agua.layout-view4manager .form-group.half:nth-child(odd){
    float: right;
}

.form-actions{
    text-align: center;
}

.view-agua.layout-view4manager .portlet.light.form-fit>.portlet-title{
    padding: 17px 0px 10px;
}

#AlterarNewEstadoModal .blocoIconsMsgAviso, .view-agua #AlterarNewEstadoModal .form-group:after{
    display:none;
}

.modal-footer{
    text-align:center;
}

.view-agua #AlterarNewEstadoModal h4{
    margin-top: 0;
}

#tabela_lista_leituras td:nth-child(6){
    padding: 5px 0;
    text-align: center;
}

#tabela_lista_leituras td:nth-child(6) .btn{
    margin-right:0 !important;
    line-height: 1 !important;
}