.form-group{
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
}

.form-group#proc, .form-group#encontrar{
    margin-right:2%;
}

.form-group#local, .form-group#Viajo{
    margin-left:2%;
    float:right;
}

.form-group#proc, .form-group#local{
    margin-bottom:20px;
}

.select2-container--bootstrap .select2-selection{
    border-radius:0;
}