.form-group{
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
}

.form-group#localidade{
    margin-right:2%;
}

.form-group#categoriasOndeFicar{
    margin-left:2%;
    float:right;
}

.select2-container--bootstrap .select2-selection{
    border-radius:0;
}