.view-percursospedestres .portlet.light.bordered {
    padding: 10px !important;
}

.view-percursospedestres .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-percursospedestres h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-percursospedestres legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-percursospedestres .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-percursospedestres .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-percursospedestres .value.col-md-12 .form-control, .view-percursospedestres .value.col-md-5 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-percursospedestres .value.col-md-12 .form-control.wysihtml5{
    height: auto;
}

.view-percursospedestres .wysihtml5-toolbar .btn {
    color: #fff !important;
    background-color: #3d4957 !important;
    border-color: #f1f4f7 !important;
}

.view-percursospedestres .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-percursospedestres .form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-percursospedestres .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-percursospedestres .form-horizontal .form-group.half:nth-child(odd){
    float:right;
}

.view-percursospedestres .select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 5px;
    font-size: 13px;
    margin: 5px 0;
}

.view-percursospedestres .form-horizontal .form-group.third{
    width: 31%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-percursospedestres .form-horizontal .form-group.third.left{
    margin-right:2%;
}

.view-percursospedestres .form-horizontal .form-group.third.center{
    margin-right:1%;
    margin-left:1%;
}

.view-percursospedestres .form-horizontal .form-group.third.right{
    margin-left:2%;
}

.view-percursospedestres .bloco{
    margin-bottom:50px;
}

.view-percursospedestres .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-percursospedestres h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-percursospedestres .form-horizontal .form-group.half .col-md-5{
    width:48%;
    padding-left:0;
    padding-right:0;
}

.view-percursospedestres .form-horizontal .form-group.half .col-md-2{
    width:3%;
    padding-left:0;
    padding-right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

#uploadFieldCapa .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, #uploadFieldGPX .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, #uploadFieldKML .fileuploader-theme-thumbnails .fileuploader-thumbnails-input{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 100%;
    padding-top: 100%;
}

#uploadFieldCapa .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item, #uploadFieldGPX .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item, #uploadFieldKML .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 100%;
    padding-top: 100%;
}

.form-actions{
    text-align: center;
}

.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}

.EstadoFilterDropBox, .TipoFilterDropBox, .ZonaFilterDropBox{
    width: 31.3%;
    display: inline-block;
    margin-left: 0;
    margin-top:15px;
}

.EstadoFilterDropBox label, .TipoFilterDropBox label, .ZonaFilterDropBox label, .EstadoFilterDropBox .input-inline, .TipoFilterDropBox .input-inline, .ZonaFilterDropBox .input-inline{
    display:block;
    width:100% !important;
}

.EstadoFilterDropBox{
    margin-right:2%;
}

.TipoFilterDropBox{
    margin-right:1%;
    margin-left:1%;
}

.ZonaFilterDropBox{
    margin-left:2%;
}

.view-percursospedestres .tabbable-line>.tab-content{
    padding: 0;
}

.view-percursospedestres .dataTables_wrapper .dataTables_filter {
    width:66%;
}

.view-percursospedestres .dataTables_wrapper .dataTables_length{
    width:33%;
}

.view-percursospedestres .dataTables_wrapper .dataTables_length label, .view-percursospedestres .dataTables_wrapper .dataTables_filter label{
    text-align: left;
    width:100%
}

.view-percursospedestres div.dataTables_wrapper div.dataTables_filter input{
    width:100% !important;
    display:block;
    margin-left:0;
}

.view-percursospedestres div.dataTables_wrapper div.dataTables_length select{
    width:75px !important;
    display:block;
}

.view-percursospedestres .portlet-body.form .col-md-8, .view-percursospedestres .portlet-body.form .col-md-4{
    margin-top: 10px;
}

.view-percursospedestres.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-percursospedestres.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-percursospedestres .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-percursospedestres .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

#vdPercursosPedestresFileGridCapa .cbp-item.identity.logos, #vdPercursosPedestresFileGridGPX .cbp-item.identity.link, #vdPercursosPedestresFileGridKML .cbp-item.identity.link{
    width: 100% !important;
}

#vdPercursosPedestresFileGridGaleria .cbp-item.identity.logos{
    width: 23.7% !important;
    display: inline-flex;
    position: relative;
    left: 0 !important;
    vertical-align: top;
    top: 0 !important;
    margin: 0.5%;
}

.row.static-info .col-md-12 {
    text-align:center;
}

.view-percursospedestres .row.static-info .value.ValorEstadoAtualStatic{
    background-color:transparent;
    padding:5px 0;
}

.view-percursospedestres .multiline .value{
    min-height:100px !important;
}

.view-percursospedestres .portlet.light.form-fit>.portlet-title {
    padding: 10px;
    margin-bottom: 0;
}

#uploadFieldCapa .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2), #uploadFieldKML .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2), #uploadFieldGPX .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2){
    display:none !important;
}

.view-percursospedestres .col-md-3 .portlet.light.bordered {
    border: 2px solid #3d4957!important;
    text-align: center;
    color: #3d4957;
    background: #fff;
    padding: 30px 10px !important;
}

.view-percursospedestres .col-md-3 .portlet.light.bordered:hover{
    background: #e7ecf1;
}

.view-percursospedestres .col-md-3 .portlet.light.bordered h3{
    font-weight: 100;
    font-size: 23px;
    line-height: 23px;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput{
    width:100%;
    display:block;
}

.view-percursospedestres .mt-repeater-delete {
    margin-top: 0 !important;
}

.view-percursospedestres .DestaqueInput .mt-repeater-item{
    padding-bottom: 0;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput .form-group.all{
    width: 90%;
    display: inline-block;
    vertical-align: bottom;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput .form-group.all .name.col-md-12, .view-percursospedestres .mt-repeater-input.HastagsInput .form-group.all .name.col-md-12{
    margin-top: 0px;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput, .view-percursospedestres .mt-repeater-input.HastagsInput{
    padding: 0 10px 0px;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput .form-group, .view-percursospedestres .mt-repeater-input.HastagsInput .form-group{
    margin-bottom: 0;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput .value.col-md-12 .form-control, .view-percursospedestres .mt-repeater-input.HastagsInput .value.col-md-12 .form-control{
    margin: 5px 0 0 0;
}

.view-percursospedestres .mt-repeater-input.HastagsInput {
    width:100%;
    display:block;
}

.view-percursospedestres .Hastags .mt-repeater-item {
    width:47%;
    display:block;
}

.view-percursospedestres .mt-repeater-input.HastagsInput .form-group.all{
    width: 80%;
    display: inline-block;
    vertical-align: bottom;
}

.bloco .box{
    border: 1px solid #3d4957;
    padding: 0 10px 10px 10px;
    margin-bottom:50px;
}

.view-percursospedestres .sectionTitle{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 10px 0;
}

.view-percursospedestres .mt-repeater-input.DestaqueInput .form-group.all .name.col-md-12.second{
    margin-top: 20px;
}