.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: none !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left:0;
    padding-right:0;
}

.col-md-3, .col-md-9{
    width: 100%;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    margin-bottom:0;
}

.form-group {
    margin-bottom: 25px;
}

#fiscalid, #mail, #cat, #blocoSubCat, #eventStart, #eventStartHour, #eventEnd, #eventEndHour, #conc, #blocoFreg, #face, #insta, #yout, #vim, #eventPreco, #uploadField, #uploadFieldCartaz{
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
}

#fiscalid, #cat, #eventStart, #eventEnd, #conc, #face, #yout, #uploadField{
    margin-right:2%;
    float:left;
}

#mail, #blocoSubCat, #eventStartHour, #eventEndHour, #blocoFreg, #insta, #vim, #uploadFieldCartaz{
    margin-left:2%;
    float: right;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #333;
    background-color: #fff !important;
    border: 1px solid rgb(170, 170, 170) !important;
    border-radius: 0;
    box-shadow: none !important;
    height: 35px;
    padding: 0 10px;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
    max-height: 250px !important;
    background: rgba(170, 170, 170, 0.76);
    color: #fff !important;
}

.select2-container--bootstrap .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 12px;
    background: #ffffff;
    border-left: 1px solid white;
}

.select2-container--bootstrap .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    outline: 1px solid white;
    width: 10px;
    border-left: 1px solid white;
}

.select2-container--bootstrap .select2-results>.select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #f1f1f1 !important;
    color: #333 !important;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #ffffff !important;
    color: #333 !important;
    display: none !important;
}

.select2-container--bootstrap .select2-selection, .select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection, .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection{
    background-color:#aaaaaa !important;
    border: 1px solid rgb(170, 170, 170) !important;
    border-radius: 0 !important;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection{
    border-color:rgb(170, 170, 170) !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
}

.input-group.timepicker{
    width:100%;
}

#eventStart .btn.default:not(.btn-outline), #eventEnd .btn.default:not(.btn-outline){
    color: #333;
    background-color: #aaaaaa;
    border-color: #aaaaaa;
}

#eventStart .btn:not(.btn-sm):not(.btn-lg), #eventEnd .btn:not(.btn-sm):not(.btn-lg){
    line-height: 1.5;
}

.fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list {
    margin: 0 !important;
}

.fileuploader {
    padding: 10px !important;
    margin: 0 !important;
    background: #fff !important;
    border-radius: 0 !important;
    text-align: center !important;
    border: 1px solid rgb(170, 170, 170) !important;
}

.fileuploader-theme-thumbnails .fileuploader-thumbnails-input, .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    margin: 0 !important;
}

.fileuploader-theme-thumbnails .fileuploader-thumbnails-input-inner, .fileuploader-theme-thumbnails .fileuploader-item-inner {
    border-radius: 0 !important;
}

.fileuploader-theme-thumbnails .fileuploader-thumbnails-input-inner {
    background: #e1e1e1 !important;
    border: 0px !important;
    color: #aaaaaa !important;
    opacity: 1 !important;
}

#uploadFieldCartaz .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, #uploadFieldCartaz .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item, #uploadField .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, #uploadField .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    width: 100% !important;
    padding-top: 40% !important;
}

#uploadFieldGaleria .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-item {
    margin: 5px !important;
}

#uploadFieldGaleria .fileuploader {
    text-align: left !important;
}

.backgroundErro {
    border: 1px solid #aaaaaa;
    padding: 15px 30px;
    margin-bottom: 50px;
}

.backgroundErro h2 svg{
    width: 50px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    color: #aaaaaa;
    margin-top: -10px;
}

.backgroundErro h2{
    margin-top: 8px;
    margin-right: 68px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 8px;
    font-weight: bold;
    color: #aaaaaa;
}

.backgroundErro #fechaErro{
    position: relative;
    float: right;
    outline: none;
    background: #aaaaaa;
    margin-top: -8px;
}

.backgroundErro #fechaErro svg{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.backgroundErro #fechaErro svg path{
    fill: #fff;
}

.backgroundErro ol li{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
    padding-top: 5px;
}

.sucesso{
    text-align: center;
    border: 1px solid #aaaaaa;
    padding: 20px;
    margin-bottom: 40px;
}

.sucesso svg{
    width: 50px;
}

.sucesso svg path{
    fill: #aaaaaa;
}

.sucesso svg polyline{
    stroke: #aaaaaa;
}

.sucesso .w65{
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #aaaaaa;
    padding: 0 30px;
}

.sucesso .w35{
    width: 34%;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}

.sucesso .w35 h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

.sucesso .w35 a div{
    width: 100px;
    margin: 0 auto;
    background: #aaaaaa;
    padding: 10px 5px;
    color: #fff;
    border: 1px solid #aaaaaa;
}

.sucesso .w35 a div:hover{
    background: #fff;
    color: #aaaaaa;
}

.sucesso .w35 a:hover{
    text-decoration:none;
}