.EstouComVontade .w15{
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
}

.EstouComVontade .w15 .botao{
    border: 1px solid #000;
    border-radius: 30px;
    font-family: 'CoolveticaRg-Regular',sans-serif;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}

.EstouComVontade .w15 .botao:hover, .EstouComVontade .w15 .botao.bot1{
    background: #000;
    color: #fff;
}

.EstouComVontade .w85{
    width: 72%;
    display: inline-block;
    vertical-align: top;
}

.EstouComVontade .w85 .estouVontadeContent{
    display:none;
}

.EstouComVontade .w85 .estouVontadeContent.cont1{
    display:block;
}

.EstouComVontade .w33{
    width: 31%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    margin-bottom: 30px;
    margin-right: 3.5%;
}

.EstouComVontade .w33 .box{
    background: #f1f1f1;
    padding: 20px;
}

.EstouComVontade .w33 .image{
    height: 135px;
    overflow: hidden;
}

.EstouComVontade .w33 .image img{
    width: 100%;
}

.EstouComVontade .w33:nth-child(3), .EstouComVontade .w33:nth-child(6){
    margin-right:-2px;
}

.EstouComVontade .w33 .w25:nth-child(4), .EstouComVontade .w33:nth-child(5), .EstouComVontade .w33:nth-child(6){
    margin-bottom:0;
}

.EstouComVontade .w33 .info .w30{
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.EstouComVontade .w33 .info .w70{
    width: 84%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    padding-left:15px;
}

.EstouComVontade .w33 .info .w30 .day{
    font-size: 25px;
    font-family: 'CoolveticaRg-Regular',sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    color: #ffc11f;
    text-align: right;
    margin-top: -4px;
}

.EstouComVontade .w33 .info .w30 .month, .EstouComVontade .w33 .info .w30 .year{
    font-size: 10px;
    font-family: 'CoolveticaRg-Regular',sans-serif;
    text-transform: inherit;
    text-align: right;
    color: #000;
    font-weight: bold;
    line-height: 1;
}

.EstouComVontade .w33 .info .w30 .year{
    letter-spacing: 1px;
}

.EstouComVontade .w33 .info .w30 .separator{
    margin-top: 5px;
    text-align: right;
    border-top: 4px solid #ffc11f;
    text-transform: lowercase;
    color: #ffc11f;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 4px;
    font-size: 12px;
}

.EstouComVontade .w33 .info .w70 .titleEvent{
    font-size: 16px;
    font-family: 'CoolveticaRg-Regular',sans-serif;
    font-weight: bold;
    color: #000;
    line-height: 1;
    margin-bottom: 15px;
    height: 35px;
    overflow: hidden;
}

.EstouComVontade .w33 .info .w70 .titleEvent:hover{
    color: #ffc11f;
}

.EstouComVontade .w33 a {
    text-decoration:none !important;
}

.EstouComVontade .w33 .info .w70 .icon{
    width: 13px;
    display: inline-block;
    vertical-align: middle;
}

.EstouComVontade .w33 .info .w70 .text{
    width: 152px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    color: #000;
    font-family: 'CoolveticaRg-Regular',sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.EstouComVontade .w33 .info .w70 .catEvent{
    margin-bottom: 5px;
}

.EstouComVontade .w33 .more .Botao{
    margin-top: 20px;
    width: 100px;
    margin-left: auto;
    text-align: center;
    background: #ffc11f;
    padding: 5px;
    font-family: 'CoolveticaRg-Regular',sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    border:1px solid #ffc11f;
}

.EstouComVontade .w33 .more .Botao:hover{
    background:#fff;
    color:#000;
}