.view-patrocinadores .portlet.light.bordered {
    padding: 10px !important;
}

.view-patrocinadores .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-patrocinadores h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-patrocinadores legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-patrocinadores .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-patrocinadores .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-patrocinadores .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-patrocinadores .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-patrocinadores .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-patrocinadores .bloco{
    margin-bottom:50px;
}

.view-patrocinadores .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-patrocinadores h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

#uploadFieldLogo .fileuploader-theme-thumbnails .fileuploader-thumbnails-input{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 25%;
    padding-top: 25%;
}

#uploadFieldLogo.half .fileuploader-theme-thumbnails .fileuploader-thumbnails-input{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 50%;
    padding-top: 50%;
}

#uploadFieldLogo .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 25%;
    padding-top: 25%;
}

#uploadFieldLogo.half .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 50%;
    padding-top: 50%;
}

#uploadFieldLogo.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2) {
    display:none !important;
}

.form-actions{
    text-align: center;
}

.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}


.view-patrocinadores .portlet-body.form .col-md-8, .view-patrocinadores .portlet-body.form .col-md-4{
    margin-top: 10px;
}

.view-patrocinadores.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-patrocinadores.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-patrocinadores .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-patrocinadores .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-patrocinadores .form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-patrocinadores .form-horizontal .form-group.half:nth-child(odd){
    float:right;
}

.view-patrocinadores .dataTables_wrapper .dataTables_length label, .view-patrocinadores .dataTables_wrapper .dataTables_filter label, .view-patrocinadores .EstadoFilterDropBox label{
    text-align: left;
    width: 100%;
}

.view-patrocinadores div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-patrocinadores .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-patrocinadores .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-patrocinadores div.dataTables_wrapper div.dataTables_filter input, .view-patrocinadores .EstadoFilterDropBox select.input-sm{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-patrocinadores .EstadoFilterDropBox {
    width: 30%;
    float: right;
    margin-right: 10px;
}