/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@import "variables.less";
@import "mainbody-@{mainbody-overlay}.less";
@import "/jui/less/mixins.less";
@import "mixins/index.less";

// Core
#component-body, .component-content {
	padding: 20px;
	color: @body-text;
	background: @body-background;
}

// Horizontal Line
hr {
	border-color: @body-border;
}

// Legend
legend {
	color: @body-text;
}
// Manager Thumbnails
iframe#imageframe {
	border: 1px solid @body-border;
}
.manager.thumbnails {
	margin: 0 -20px;
}

// Print, Email, and Edit Icons
.actions {
	float: right;
	position: relative;
	z-index: 1;
	.cols-3 &, .cols-4 & {
		float: none;
		text-align: right;
	}
	li {
		list-style: none;
		display: inline-block;
	}
	a {
		margin-left: 8px;
		text-decoration: none;
		&:before {
			font-family: FontAwesome;
		}
		&:hover {
			text-decoration: none;
		}
	}
	i {
		display: none;
	}
	img, [class^="icon-"], [class*=" icon-"] {
		display: none;
		#component-body & {
			display: inline-block;
		}
	}
	.print-icon {
		a:before {
			content: "\f02f";
		}
	}
	.email-icon {
		a:before {
			content: "\f0e0";
		}
	}
	.edit-icon {
		a:before {
			content: "\f044";
		}
	}
}

// Article Details
.article-info {
	font-size: 90%;
	&.muted {
		color: inherit;
	}
	dd {
		margin-left: 0;
	}
}
.article-info-term {
	display: none;
}
.parent-category-name, .category-name, .create, .modified, .published, .createdby, .hits {
	> span[class*="icon"] {
		display: none;
	}
	&:before {
		font-family: FontAwesome;
		margin-right: 2px;
		text-shadow: none;
	}
}
.parent-category-name:before {
	content: "\f0c9";
}
.category-name:before {
	content: "\f0c9";
}
.create:before {
	content: "\f017";
}
.modified:before {
	content: "\f017";
}
.published:before {
	content: "\f017";
}
.createdby:before {
	content: "\f040";
}
.hits:before {
	content: "\f019";
}
.content_vote, .tags {
	margin: 10px 0;
}
.content_rating {
	display: block;
}

// Intro Image
.img-intro-right, .img-fulltext-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.img-intro-left, .img-fulltext-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

// Categories List
.categories-list {
	padding: 0 5px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			margin: 0;
		}
		ul {
			margin-left: 15px;
		}
	}
	dl {
		dt, dd {
			display: inline;
		}
	}
}
.category-desc {
	line-height: 1.7em;
	margin: 10px 0;
	padding-left: 0;
}
.cat-children {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// Article Category List
.category {
	width: 100%;
	td {
		padding: 8px;
	}
	th {
		padding: 8px;
		text-align: left;
	}
}

// Blog
.item-separator, .row-separator {
	display: block;
	clear: both;
	margin: 12px 0;
	border: 0;
	height: 2px;
}
.cols-1 {
	display: block;
	float: none !important;
	margin: 0 !important;
}
.cols-2 {
	.column-1, .column-2 {
		width: 48%;
	}
	.column-1 {
		float: left;
	}
	.column-2 {
		float: right;
		margin: 0;
	}
}
.cols-3 {
	.column-1, .column-2 {
		float: left;
		width: 29%;
	}
	.column-1 {
		margin-right: 7%;
	}
	.column-2 {
		margin-left: 0;
	}
	.column-3 {
		float: right;
		width: 29%;
	}
}
.cols-4 {
	.column-1, .column-2, .column-3 {
		float: left;
		width: 23%;
		margin-right: 2%;
	}
	.column-2 {
		margin-left: 0;
	}
	.column-4 {
		float: right;
		width: 23%;
		margin-right: 2%;
	}
}

// Archive Page
.page-header {
	margin: 0;
	padding: 0;
	border: 0;
}
fieldset.filters {
	margin: 10px 0 !important;
	padding: 0 !important;
}
.archive {
	#archive-items {
		margin-left: 0;
		list-style: none;
	}
	.filter-search {
		background: none;
		border: 0;
		margin: 0;
		padding: 0;
		&.alert {
			float: left;
		}
	}
	select {
		margin-right: 5px;
	}
	.createdby {
		display: block;
	}
	.muted {
		color: inherit;
	}
}

// Article Index
#article-index {
	float: right;
	border: 1px solid @body-border;
	background: darken(@body-background, 5%);
	border-radius: 3px;
	margin-left: 15px;
	ul {
		list-style: none;
		margin: 0;
		li {
			&:first-child a {
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;
			}
			a {
				display: block;
				padding: 5px 10px;
				font-size: @base-font-size - 2;
				border-bottom: 1px solid @body-border;
				&.active {
					color: inherit;
				}
				&:hover {
					background: @body-background-alt;
				}
			}
			&:last-child a {
				border-bottom: none !important;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
			}
		}
	}
}
.article-index {
	margin-left: 15px;
	.nav-tabs.nav-stacked > li > a {
		font-size: @base-font-size - 2;
		padding: 7px 10px;
		border: 1px solid @body-border;
		background: darken(@body-background, 5%);
		&:hover {
			background: @body-background-alt;
		}
		&.active {
			color: inherit;
		}
	}
}

// Pagination
.pagination {
	margin: 10px 0;
	padding: 10px 0;
	clear: both;
	text-align: center;
	.counter {
		float: none;
		text-align: center;
		margin: 0;
		margin-bottom: 5px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		.box-shadow(none);
		li {
			display: inline-block;
			text-align: center;
			margin: 0 5px;
			a, span {
				float: none;
				margin: 0 5px;
				padding: 0 5px;
				background: none;
				border: none;
				text-shadow: none;
				&:hover {
					background: none;
				}
			}
		}
	}
}
.pagination-start, .pagination-next, .pagination-end, .pagination-prev {
	border: 0;
}
.pagination-start {
	padding: 0;
	span {
		padding: 0;
	}
}
.pagenav {
	list-style: none;
    margin: 5px 0;
    padding: 15px 0;
}
.pagenav-prev {
	float: left;
}
.pagenav-next {
	float: right;
}
.pager li {
	margin: 0 5px;
}
.pager a, .pager span {
	background: none;
	border: 0;
	padding: 0;
	&:hover {
		background: none;
	}
}

// Breadcrumbs
#rt-breadcrumbs {
	.rt-block {
	    margin: 10px;
	    padding: 10px 15px;
	}
	.showHere {
		font-weight: bold;
		margin-right: 5px;
	}
}
//J25
.breadcrumbs {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		float: left;
		text-shadow: none;
	}
	a, span {
		text-decoration: none;
		&:after {
			font-family: FontAwesome;
			content: "\f101";
			margin: 0 5px 0 10px;
		}
		&:hover {
			text-decoration: none;
		}
		&:last-child:after {
			display: none;
		}
	}
	img {
		display: none;
	}
}
//J3
.breadcrumb {
	padding: 0;
	margin: 0;
	background: none;
	li {
		list-style: none;
		text-shadow: none;
		&:not(:first-child):after {
			font-family: FontAwesome;
			content: "\f101";
			margin: 0 10px;
		}
		&:hover {
			text-decoration: none;
		}
		&:last-child:after {
			display: none;
		}
	}
	.divider {
		display: none;
	}
	.icon-location {
		display: inline-block !important;
		&:before {
			font-family: FontAwesome !important;
			content: "\f041";
		}
	}
}

// WebLinks
.weblink-category {
	td.title {
		font-size: @base-font-size;
		text-align: left;
	}
	p {
		margin: 5px 0;
	}
}
.num {
	vertical-align: top;
	text-align: left;
}
.hits {
	vertical-align: top;
}
.filter {
	margin: 10px 0;
	text-align: right;
	margin-right: 7px;
}

.element-invisible {
	position: absolute;
	margin-left: -3000px;
	margin-top: -3000px;
	height: 0;
}
.cat-items {
	margin-top: 20px;
	.filter-search {
		margin-bottom: 10px;
	}
	select {
		margin-bottom: 0;
	}
}
table.weblinks {
	font-size: @base-font-size;
	margin: 10px 10px 20px 0;
	width: 99%;
	td {
		border-collapse: collapse;
		padding: 7px;
		p {
			margin: 0;
			line-height: 1.3em;
		}
	}
	th {
		padding: 7px;
		text-align: left;
	}

}

// Form
legend {
	font-size: @base-font-size + 6;
	border-bottom: 1px solid @body-border;
	small {
		color: @body-border;
	}
}
form fieldset dt {
	clear: left;
	float: left;
	width: 12em;
	padding: 3px 0;
}
form fieldset dd {
	float: left;
	padding: 3px 0;
}
.invalid {
	border-color: #ff0000 !important;
}
label.invalid {
	color: #ff0000 !important;
}
input[type="radio"], input[type="checkbox"] {
	margin: 5px;
	height: auto;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .uneditable-input, .uneditable-textarea {
	color: @body-text-light;
	background-color: @body-background;
	border: 1px solid @body-border;
}
.input-prepend,.input-append {
	.add-on {
		color: @body-text;
		background: darken(@body-background, 5%);
		border: 1px solid @body-border;
	}
	&.input-append .media-preview {
		margin: 0;
	}
}
.btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover {
	background-color: darken(@body-background, 10%) !important;
	color: darken(@body-background, 50%);
}
.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover {
	background-color: @accent-color1 !important;
	color: @white !important;
}
.content_vote select {
	padding: 12px;
}

// Table
.table {
	th, td {
		border-top: 1px solid @body-border;
	}
}
table {
	border-collapse: collapse;
}
table.table-bordered {
	border-collapse: separate;
	*border-collapse: collapse;
	th {
		background-color: darken(@body-background, 5%);
	}
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
	background: @body-background-alt;
}
.well {
	background-color: transparent;
	border: none;
	.box-shadow(none);
}
.nav-tabs.nav-stacked > li > a {
	background-color: darken(@body-background, 5%);
	&:hover {
		background-color: @body-background-alt;
	}
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.cat-list-row0 {
	background-color: darken(@body-background, 5%);
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover,
.cat-list-row0:hover, .cat-list-row1:hover {
	background-color: @body-background-alt;
}

// Contacts
.contact {
	padding: 0;
	.button {
		float: none !important;
		clear: left;
		display: block;
		margin: 20px 0 0 0;
	}
	.title {
		font-size: @base-font-size;
		line-height: 33px;
		margin: 0 0 2px 0;
		box-shadow: none;
		padding: 0;
		text-align: left;
		border-radius: 3px;
		#gradient > .vertical(@body-background, darken(@body-background, 5%));
		border: 1px solid @body-border;
		a {
			display: block;
			padding: 0 10px;
			span {
				line-height: 1em;
				&:before {
					font-family: FontAwesome;
					content: "\f055";
					margin: 0 10px 0 0;
					font-size: 1.3em;
					display: inline;
					vertical-align: middle;
				}
			}
		}
	}
	.pane-toggler-down a span:before {content: "\f056";}
}
.contact-category {
	padding: 0 10px;
	#adminForm .filters {
		border: 0;
		padding: 0;
	}
}
.contact-image {
	margin: 10px 0;
	overflow: hidden;
	display: block;
	img {
		max-width: 100%;
	}
}
address {
	font-style: normal;
	margin: 10px 0;
	span {
		display: block;
	}
}
.contact-address {
	margin: 20px 0 10px 0;
}
.contact-email {
	div {
		padding: 2px 0;
		margin: 0 0 10px 0;
	}
	label {
		width: 17em;
		float: left;
	}
}
#contact-textmsg {
	padding: 2px 0 10px 0;
}
#contact-email-copy {
	float: left;
	margin-right: 10px;
}
dl.tabs {
	float: left;
	margin: 50px 0 0 0;
	z-index: 50;
	clear: both;
	dt {
		float: left;
		padding: 4px 10px;
		border-left: 1px solid @body-border;
		border-right: 1px solid @body-border;
		border-top: 1px solid @body-border;
		margin-right: 3px;
		background: #f0f0f0;
		color: #666666;
	}
	.open {
		background: #F9F9F9;
		border-bottom: 1px solid #F9F9F9;
		z-index: 100;
		color: @black;
	}
}
.current {
	clear: both;
	border: 1px solid @body-border;
	padding: 10px 10px;
	dd {
		padding: 0;
		margin: 0;
	}
}
#content-pane.tabs {
	margin: 1px 0 0 0;
}

// Search
.searchintro {
	font-weight: normal;
	margin: 20px 0 20px;
}
#searchForm {
	.inputbox {
		margin-bottom: 0;
	}
	input[type="radio"], input[type="checkbox"] {
		margin-top: 3px;
		margin-right: 5px;
		float: none;
		vertical-align: top;
	}
}
#searchForm, #finder-search {
	padding: 0 5px;
}
.form-limit {
	margin: 20px 0 0;
	text-align: right;
	padding: 0 10px 0 20px;
}
.highlight {
	font-weight: bold;
}
.ordering-box {
	float: right;
}
.phrases-box {
	width: 60%;
	float: left;
}
.only, .phrases {
	margin: 10px 0 0 0;
	line-height: 1.3em;
}
.search label {
	padding-top: 0 !important;
	display: inline-block;
}
label.ordering {
	display: block;
	margin: 10px 0 10px 0;
}
.word {
	padding: 10px 10px 10px 0;
}
.word input {
	font-weight: bold;
	padding: 4px;
	font-size: @base-font-size;
}
.word label {
	font-weight: bold;
}
fieldset.only label, fieldset.phrases label {
	margin: 0 10px 0 0;
}
.ordering-box label.ordering {
	margin: 0 10px 5px 0;
}
form .search label, form .finder label {
	display: none;
}
form #finder-filter-select-list label {
	display: block;
	margin-top: 10px;
	margin-bottom: 2px;
}
.search dd {
	padding: 2px 15px 2px 5px;
}
.search #searchForm .btn, .search #searchForm .button, #finder-search .btn {
	padding: 13px 15px !important;
}
.result-title {
	padding: 15px 15px 0 5px;
	font-weight: bold;
}
.result-text {
	padding: 10px 15px 10px 5px;
	line-height: 1.7em;
}
.result-url {
	font-size: @base-font-size;
	padding: 2px 15px 15px 5px;
}
.result-created {
	padding: 2px 15px 15px 5px;
	font-size: @base-font-size - 2;
}
.result-category {
	padding: 10px 15px 5px 5px;
}

// Member Access
#password-lbl, #username-lbl {
	width: 130px;
	display: block;
	float: left;
}
.login {
	.control-label {
		padding-top: 0;
		text-align: left;
	}
}
.login-fields {
	margin-bottom: 5px;
}
#remember-lbl {
	display: inline-block;
	margin-right: 5px;
}
#remember {
	margin: 0;
}
.login + div {
	margin-top: 12px;
}
.login + div ul li, #login-form li {
	list-style: none;
}
.login + div ul li a:before, #login-form a:before {
	font-family: FontAwesome;
	content: "\f059";
	margin-right: 4px;
}
.login + div ul {
	padding: 0;
	margin-left: 0;
}
.login-description {
	margin: 10px 0;
}

// Login Module
#login-form {
	.userdata {
		margin: 12px 0;
	}
	ul {
		padding: 0;
		margin-left: 0;
		li {
			a {
				font-size: @base-font-size;
				text-decoration: none;
			}
		}
	}
	input[type="text"], input[type="password"] {
		width: 100%;

	}
	.input-prepend {
		width: 100%;
		.add-on {
			width: 25%;
			text-align: center;
			padding: 0;
		}
		input[type="text"], input[type="password"] {
			width: 75%;
			border-radius: 0 3px 3px 0;
		}
		input#modlgn-secretkey {
			width: 57%;
			border-radius: 0;
			+ span {
				width: 19%;
				text-align: center;
				padding: 0;
			}
		}
	}
	#form-login-remember {
		label {
			display: inline-block;
			&.control-label {
				margin: -10px 0 0 5px;
			}
		}
		input {
			margin: 0;
		}
	}
}

// User Profile
#users-profile-core, #users-profile-custom {
	margin: 10px 0 15px 0;
	padding: 15px;
	dt {
		float: left;
		width: 12em;
		padding: 3px 0;
		margin-right: 10px;
	}
	dd {
		padding: 3px 0;
	}
}
#member-profile , #member-registration {
	fieldset {
		margin: 10px 0 15px 0;
		padding: 15px;
		dd {
			float: none;
			padding: 5px 0;
			input {
				width: 17em;
			}
		}
	}
}
#member-profile fieldset dd select {
	width: 17em;
}
#member-profile fieldset dt, #member-registration fieldset dt {
	padding: 5px 5px 5px 0;
	width: 13em;
}
.optional {
	font-size: @base-font-size;
}
#member-registration {
	padding: 0 5px;
}

// Menu Module
ul.menu {
	list-style: none;
	margin: 0 -15px;
	padding: 0;
	ul {
		list-style: none;
	}
	li {
		margin-bottom: 5px;
		a, .item, .separator {
			display: block;
			text-decoration: none;
			padding: 5px 15px;
			border-radius: 3px;
		}
		a:before, .item:before, .separator:before {
			content: "\f138";
			font-family: FontAwesome;
			margin-right: 10px;
			display: inline;
		}
		&:last-child {
			margin-bottom: 0;
		}
		ul {
		    margin: 0 0 0 20px;
		    padding: 8px 0 0;
		}
	}
	li.active.current, li#current.active {
		border: 0;
		padding: 0;
		> a {
			color: @body-text;
		}
		> a:before, > .item:before, > .separator:before {
			content: "\f0a9";
		}
	}
	ul.small {
		font-size: 14px;
	}
}
.nav > li > a:hover {
	background: none;
}


// Frontend Module Editing
#modules-form {
    .radio input[type="radio"], .checkbox input[type="checkbox"] {
        display: inline-block;
        margin-left: 0;
    }
}

// Editing
.edit.item-page {
	input, input .inputbox, #jform_images_image_intro, #jform_images_image_fulltext {
		width: 250px;
	}
	.calendar, .calendar table {
		margin-left: 15px;
	}
}
#adminForm {
	fieldset {
		padding: 20px 15px;
		margin: 10px 0 15px 0;
	}
	label {
		width: 100%;
	}
	.formelm-area {
		padding: 5px 0;
		label {
			vertical-align: top;
			display: inline-block;
			width: 7em;
		}
	}
}
.modal.btn {
	position: relative;
	top: inherit;
	bottom: inherit;
	left: inherit;
	right: inherit;
}
.media-preview.add-on {
	margin-top: 0;
}
.input-append #jform_publish_up + .btn, .input-append #jform_publish_down + .btn {
	padding-bottom: 4px;
	margin-left: 15px;
}
#editor-xtd-buttons {
	a {
		&:link, &:hover, &:visited {
			color: #323232;
		}
		&.modal-button {
			text-shadow: none;
		}
	}
	.readmore {
		.box-shadow(none);
		font-size: inherit;
		font-family: inherit;
		border: inherit;
		a {
			text-shadow: none;
		}
		&:before {
			display: none;
		}
	}
}
.formelm {
	margin: 5px 0;
	.fltlft {
		float: left;
	}
	.button2-left, .media-preview {
		margin: 10px 0 0 10px;
		a {
			padding: 3px 10px !important;
			.border-radius(4px);
		}
	}
}
.formelm-buttons {
	text-align: right;
	margin-bottom: 10px;
}
.button2-left {
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	.readmore {
		background-image: none;
		background-color: transparent;
		border: none;
		padding: 0;
		text-shadow: none;
		font-size: inherit;
		text-transform: inherit;
	}
}
.contentpaneopen_edit {
	float: left;
}
.mceButton:hover {
	background: none !important;
}
.formelm-buttons {
	text-align: right;
	margin-bottom: 10px;
}
.button2-left .blank a, .button2-left a, .button2-left .readmore a {
	background: #eee;
	padding: 4px !important;
	margin: 0 !important;
	line-height: 1.2em;
	border: solid 1px #ddd;
	font-weight: bold;
	text-decoration: none;
	display: inline;
	text-shadow: none;
}
#publishing .chzn-container-multi .chzn-choices {
	color: @body-text;
	background-color: @body-contrast;
	background-image: none;
	border: 1px solid @body-border;
	border-radius: 3px;
	li.search-field input[type="text"] {
		min-height: 45px;
	}
}
#publishing {
	.chzn-container-active .chzn-choices {
		border: 1px solid @accent-color1;
		box-shadow: none;
	}
	.chzn-container .chzn-drop {
		border: none;
		color: @body-text;
		background: @body-background;
	}
}
.chzn-container .chzn-drop, .chzn-container .chzn-results li.no-results {
	border: none;
	color: @body-text;
	background: darken(@body-background, 12%);
}
.chzn-container-multi .chzn-choices {
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 3px;
	width: 250px;
	background-image: none;
	li.search-field input[type="text"] {
		box-shadow: none;
		height: 45px;
		margin: 0;
		padding: 0 5px;
		color: @body-text !important;
	}
}

// Image Popup
.manager.thumbnails {
	> li {
		float: left !important;
		margin-left: 20px !important;
		list-style: none;
	}
}
.control-group {
	margin-left: 0 !important;
}

// Article PopUp
.adminlist, #adminForm {
	.title > a {
		font-weight: bold;
	}
	th.title {
		font-size: inherit;
		letter-spacing: inherit;
		margin-top: inherit;
		text-transform: inherit;
	}
}

// Figure Caption
figcaption,
figure {
    display: block;
}
figure {
    display: table;
}
figure.pull-center,
img.pull-center {
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

// Calendar
.calendar {
	td.button {
		background-image: none;
		background-color: transparent;
		border: none !important;
		padding: 0;
		text-shadow: none;
		font-size: inherit;
		text-transform: inherit;
		color: @black !important;
		display: table-cell;
		.box-shadow(none);
		.border-radius(0);
		line-height: inherit;
		&:hover {
			color: @black !important;
		}
		&:before {
			display: none;
		}
	}
	tbody {
		td.hilite, td.selected {
			border: none;
			padding: 2px 4px 2px 2px;
		}
	}
	td.title {
		font-size: 1.4em;
		display: table-cell;
		line-height: inherit;
	}
	tr.daynames {
		td {
			border: none !important;
		}
	}
}

// Items More
.items-more {
	padding-top: 10px;
	h3 {
		font-weight: normal;
		margin: 0;
		padding: 0;
		font-size: 1.4em;
	}
	ol {
		line-height: 1.3em;
		list-style-type: none;
		margin: 0;
		padding: 10px 0 10px 2px;
		li {
			margin-bottom: 5px;
			a {
				display: inline;
				font-weight: normal;
				padding: 0;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f055";
				margin: 0 5px;
			}
		}
	}
}

// Pagebreak
table.contenttoc {
	padding: 10px;
	margin: 10px;
}
table.contenttoc tr td {
	padding: 1px 0;
}
.pagenavcounter {
	font-weight: bold;
}

// Email to Friend
.mailto-close {
	float: right;
}
#mailtoForm .button {
	margin-top: 15px;
}

// System Message
#system-message {
	padding: 0;
	margin: 15px 0;
	dd {
		margin: 0;
		ul {
			border-radius: 3px;
			margin: 15px 0;
			list-style: none;
			padding: 10px;
			.sys-msg();
			li:before {
				font-family: FontAwesome;
				content: '\f05a';
				margin-right: 8px;
				font-size: @base-font-size + 10;
				opacity: 0.8;
				vertical-align: middle;
			}
		}
	}
	.error {
		ul {
			.sys-msg(error);
			li:before {
				content: '\f056';
			}
		}
	}
	.notice {
		ul {
			.sys-msg(notice);
			li:before {
				content: '\f06a';
			}
		}
	}
	.alert {
		border-radius: 4px;
		margin: 15px 0;
		list-style: none;
		padding: 10px 35px 10px 10px;
		.sys-msg();
		&-error {
			.sys-msg(error);
			&:before {
				content: '\f056';
			}
		}
		&-warning {
			.sys-msg(notice);
			&:before {
				content: '\f06a';
			}
		}
		&-success {
			.sys-msg(success);
			&:before {
				content: '\f058';
			}
		}
		> div:first-child {
			margin-bottom: 0 !important;
		}
		p:last-child {
			margin-bottom: 0;
		}
		&:before {
			font-family: FontAwesome;
			content: '\f05a';
			margin-right: 10px;
			font-size: @base-font-size + 12;
			opacity: 0.8;
			vertical-align: middle;
			float: left;
		}
	}
	dt.error, dt.notice, dt.message {
		display: none;
	}
}
.success {
	.sys-msg(success);
}
.error {
	.sys-msg(error);
}
.warning {
	.sys-msg(notice);
}
.info {
	.sys-msg(info);
}

// Notice Styles
div, p {
	&.success {
		.sys-msg(success);
	}
	&.info {
		.sys-msg(info);
	}
	&.error {
		.sys-msg(error);
	}
	&.warning {
		.sys-msg(notice);
	}
}

// Tooltip
.tip {
	font-size: 0.8em;
	text-align: left;
	padding: 3px;
	max-width: 400px;
}
.tip-title {
	font-weight: bold;
}
.tip-wrap {
	padding: 8px;
	border-radius: 3px;
	background: darken(@body-background, 5%);
	color: @body-text;
}
.tooltip {
	z-index: 20000;
}

// Unpublished
.system-unpublished .system-unpublished {
	margin: -10px;
	padding: 10px;
	border-top: 16px solid;
	border-bottom: 5px solid;
	position: relative;
	background: @body-contrast;
	border-color: @body-border;
}
.system-unpublished .system-unpublished:before {
	content: 'Unpublished';
	text-transform: uppercase;
	top: -19px;
	left: 10px;
	position: absolute;
	font-size: 0.8em;
	font-weight: bold;
}

// Debug
#system-debug {
	color: @light-grey;
	background-color: @white;
	padding: 10px;
	margin: 10px;
	div {
		font-size: 11px;
	}
}

// Article Tags
ul.tags.inline, ol.tags.inline {
	list-style: none; 
	margin: 0 -4px;
	padding: 0;
	> li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
	label {
		padding: 5px 4px;
		font-size: 11px;
		font-weight: bold;
		line-height: 14px;
		color: #fff;
		vertical-align: baseline;
		white-space: nowrap;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		border-radius: 3px;
	}
}