/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

@mobile-menu-background: 		#252525;

@body-text:						#efefef;
@body-text-light:				#585858;

@body-background:				#3a3a3a;
@body-background-alt:			#303030;

@body-background3:				#383838;
@body-background4:				#282828;

@body-title:					#cfcfcf;
@body-border:					#181818;
@body-border2:					#111111;
@body-border3:					#101010;
@body-contrast:					#282828;