/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #dd1144; }
.kwd, .linenums .tag { color: #3A87B2; }
.typ, .atn, .dec, .var { color: teal; }
.tag, .pln { color: @body-text; }

.prettyprint {
  padding: 8px;
  background-color: @body-background3;
  border: 1px solid #ddd;
}
.prettyprint.linenums {
  @box-shadow: 40px 0 0 @body-background inset, 41px 0 0 #ddd inset;
  .box-shadow(@box-shadow);
}

ol.linenums {
  margin: 0 0 0 33px;
  padding-left: 0;
  li {
    padding-left: 12px;
    color: @body-text-light;
    line-height: 18px;
  }
}