/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

// Core
body {
	position: relative;
	&.font-family-iridescent {
		font-family: @base-font-family;
	}
}

// Page Surround
#rt-page-surround {
	overflow: hidden;
	color: @body-text;
	background: @pagesurround-background;
}

.rt-block {
	margin: 10px;
	padding: 15px;
}

a {
	color: @accent-color1;
	.transition(all 0.3s ease);
	&:hover {
		color: @accent-color2;
		.demostyle-type-preset3 & {
			color: inherit;
		}
	}
	.demostyle-type-preset3 & {
		color: lighten(@accent-color1, 45%);
	}
}

// Fonts
.title, .blog-featured h1, .button, .readon, button.validate, .pagenav li a, #member-profile a, #member-registration a, .formelm-buttons button, .controls .btn, .logout-button .btn, &.roksearch_results a.clr, .rokajaxsearch .inputbox, .item-title, .notice, .message, .success, .info, .error, .warning, dt, .table th, th.title, legend, fieldset dd, li.author, li.date, li.comments, .showHere, .highlight, .word_input, .word_label, .search_legend, .result_title, .pagenavcounter, .counter, .tip-title, .system-unpublished, a.readmore, p.readmore a, #member-profile a, #member-registration a, .pagenav a, &.roksearch_results a.clr {
	font-weight: bold;
}

// Heading and Title
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h1 {font-size: @base-font-size * 1.7; line-height: @base-line-height * 1.3;}
h2, .title {font-size: @base-font-size * 1.6; line-height: @base-line-height * 1.3;}
h3 {font-size: @base-font-size * 1.5; line-height: @base-line-height * 1.2;}
h4 {font-size: @base-font-size * 1.4; line-height: @base-line-height * 1.2;}
h5 {font-size: @base-font-size * 1.3; line-height: @base-line-height * 1.1;}
h6 {font-size: @base-font-size * 1.2; line-height: @base-line-height * 1.1;}
.blog-featured .item > h2, .items-leading [class*="leading-"] > h2 {font-size: @base-font-size * 2; line-height: @base-line-height * 1.35;}

// Default Logo
#rt-logo {
	display: block;
	margin: 4px 25px;
	.logo-type-iridescent & {
		background-image: url(../images/logo/logo.png);
		background-repeat: no-repeat;
		width: 115px;
		height: 20px;
	}
}
.rt-logo-block {
	padding: 20px 0;
	.-rt-iridescent-style & {
		position: absolute;
		z-index: 100;
	}
	// Mobile Mode
	@media (max-width: 767px) {
		body.layout-mode-responsive.-rt-iridescent-style & {
			left: 50%;
			margin-left: -57px;
		}
	}
}

// Main Navigation
.menu-block .gf-menu {
	.item {
		color: @header-textcolor;
		font-family: @alt-font-family;
		text-transform: uppercase;
	}
	.menu-item-wrapper {
		display: block;
		padding: 5px 15px;
		border-radius: 0;
		.transition(all 0.2s ease-in);
		.submenu & {
			padding: 0;
			margin: 0 -5px;
			display: inline-block;
		}
	}
	&.l1 > li {
		> .item {
			height: 65px;
			padding: 0;
			.menu-item-wrapper {
				color: @header-textcolor;
				padding: 0;
				margin: 0 10px;
				.transition(color 0.3s ease);
			}
		}
		&:last-child {
			border-right: 1px solid transparent;
		}
		&.parent > .item {
			.menu-item-wrapper {
				&:after {
					font-family: FontAwesome;
					content: "\f107";
					line-height: normal;
				}
			}
			&:after {
			    display: none;
			}
			&.subtext {
				.menu-item-wrapper {
					&:after {
						content: "";
					}
					em {
						&:after {
							content: "\f107";
							font-family: FontAwesome;
							font-size: @menu-font-size;
							float: right;
							margin-top: -12px;

						}
					}
				}
			}
		}
	}
	li {
		float: none;
		display: inline-block;
		&:hover, &:focus {
			> .item .menu-item-wrapper {
				color: @white;
			}
			> .item:after {
				color: @white;
			}
		}
		&.active {
			> .item .menu-item-wrapper {
				color: @white;
			}
			> .item:after {
				color: @white;
			}
		}
	}
	.dropdown {
		background: @accent-color1;
		border-radius: 0;
		border: 1px solid transparent;
		padding: 0 5px;
		.item {
			font-weight: normal;
			font-size: @menu-font-size - 2;
		}
		.menu-item-wrapper {
			color: @header-textcolor;
			padding: 5px !important;
		}
		li {
			&:hover, &:focus {
				> .item .menu-item-wrapper {
					color: @white;
				}
				> .item:after {
					color: @white;
				}
			}
			&.active {
				> .item .menu-item-wrapper {
					color: @white;
				}
				> .item:after {
					color: @white;
				}
			}
		}
	}
	.grouped ol {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 3px;
	}
	.modules {
		font-family: @alt-font-family;
		a:not(.readon) {
			color: @header-textcolor;
			&:hover {
				color: @white !important;
			}
			.demostyle-type-preset3 & {
				color: lighten(@accent-color1, 25%) !important;
			}
		}
		.readon {
			.buttonStyleFlat(@white, darken(@accent-color1, 18%), 3px) !important;
			&:hover {
				.buttonStyleFlat(@white, darken(@accent-color1, 12%), 3px) !important;
			}
		}
	}
}
.gf-menu-toggle {
	background-color: darken(@accent-color1, 5%);
	border: 1px solid darken(@accent-color1, 20%);
	border-radius: 3px;
	z-index: 3001;
	.header-type-fixed &, .header-type-scroll.scrolling-enable & {
		position: fixed;
	}
	.header-type-fixed.gf-sidemenu-size-marginleft &, .header-type-scroll.scrolling-enable.gf-sidemenu-size-marginleft & {
		left: @menu-side-width + 10px;
	}
}
.icon-bar {
	background-color: @white;
}
.layout-mode-responsive {
	.gf-menu-device-wrapper-sidemenu {
		background: @mobile-menu-background;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}
	.gf-menu-device-container {
		background: @mobile-menu-background;
		.gf-menu {
			background-color: @mobile-menu-background;
			border-top: 15px solid @mobile-menu-background;
			border-bottom: 15px solid @mobile-menu-background;
			ul, ol,
			> li:first-child,
			> li.active:first-child,
			> li:last-child,
			li ol > li:last-child,
			li .columns-1 > .col1 > ul > li:last-child,
			li .columns-2 > .col2 > ul > li:last-child,
			li .columns-3 > .col3 > ul > li:last-child,
			li .columns-4 > .col4 > ul > li:last-child {
				background-color: @mobile-menu-background !important;
			}
			li {
				&:hover, &:focus, &.active {
					> .item .menu-item-wrapper {
						color: darken(@accent-color1, 25%);
						background: transparent;
					}
				}
			}
			.menu-item-wrapper {
				padding: 0 !important;
			}
			.item {
				border: 1px solid transparent;
			}
			&.l1 .item {
				font-size: @menu-font-size - 2;
				border: none;
				background: none;
			}
			.dropdown {
				margin-top: 0;
			}
		}
	}
	&.mainbody-overlay-dark .responsive-type-panel .gf-menu {
		li {
			&:hover, &:focus {
				> .item .menu-item-wrapper {
					color: @white;
				}
				> .item:after {
					color: @white;
				}
			}
			&.active {
				> .item .menu-item-wrapper {
					color: @white;
				}
				> .item:after {
					color: @white;
				}
			}
		}
	}
}

// Header
#rt-header {
	.rt-container {
		color: @header-textcolor;
		background-color: @header-background;
		box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
		z-index: 101;
		.header-type-scroll &, .header-type-fixed & {
			box-shadow: none;
		}
	}
	.menu-block {
		float: right;
		margin-right: 15px;
		.-rt-iridescent-style & {
			position: absolute;
			z-index: 100;
			right: 0;
			// Mobile Mode
			@media (max-width: 767px) {
				margin-top: 55px !important;
			}
		}
		.header-type-scroll &, .header-type-fixed & {
			position: relative !important;
		}
	}
	.header-type-scroll &, .header-type-fixed & {
		background-color: @header-background;
		position: fixed;
		width: 100%;
		z-index: 3000;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	}
	.header-type-scroll.scrolling-enable &, .header-type-fixed & {
		opacity: 1;
		visibility: visible;
		.transition(opacity 0.35s);
	}
	.gf-sidemenu-size-marginleft & {
		// Mobile Mode
		@media (max-width: 767px) {
			left: @menu-side-width;
		}
	}
	.readon {
		color: @white;
		border: 1px solid transparent;
		background: darken(@accent-color1, 8%);
		&:hover {
			color: @white;
			background: lighten(@accent-color1, 10%);
		}
	}
	a:not(.readon) {
		color: darken(@accent-color1, 18%);
		&:hover {
			color: inherit !important;
		}
		.demostyle-type-preset3 & {
			color: darken(@white, 35%);
		}
	}
}
.rt-header-fixed-spacer {
	display: block;
	.header-type-fixed & {
		height: 72px;
	}
	.-rt-iridescent-style & {
		height: 0;
	}
}

// Slideshow
#rt-slideshow {
	color: @slideshow-textcolor;
	display: block;
	.rt-block {
		margin: 0;
		padding: 0;
	}
	.sprocket-fullslideshow-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		height: 100%;
	}
	.layout-fullslideshow {
		.sprocket-features-content {
			background: fade(@slideshow-overlaybackground, (@slideshow-overlayopacity * 100));
			margin: 0;
			width: 100%;
			top: 0;
		}
		.sprocket-features-pagination {
			bottom: 20%;
		}
		.sprocket-features-padding {
			padding: 0;
			.absoluteCenter();
		}
	}
	li:not(.sprocket-features-index-1) .sprocket-features-img-container,
	li:not(.sprocket-features-index-1) .sprocket-features-content {
		opacity: 0;
	}
	.rt-tobottom {
		&:before {
			color: @slideshow-textcolor;
			font-family: FontAwesome;
			content: "\f103";
			z-index: 99;
			font-size: 3.5em;
		    opacity: 0.25;
		    margin-top: -80px;
		    .absoluteHorizontalCenter();
		    .transition(opacity 0.2s ease);
		}
		&:hover:before {
			opacity: 1;
		}
	}
}

// Top
#rt-top {
	.rt-container {
		color: @top-textcolor;
		background-color: @top-background;
	}
}

// Showcase
#rt-showcase {
	.rt-container {
		color: @showcase-textcolor;
		background-color: @showcase-background;
	}
}

// Feature
#rt-feature {
	.rt-container {
		color: @feature-textcolor;
		background-color: @feature-background;
	}
	a:not(.readon) {
		color: darken(@accent-color1, 18%);
		&:hover {
			color: inherit !important;
		}
		.demostyle-type-preset3 & {
			color: darken(@white, 35%);
		}
	}
}

// Utility
#rt-utility {
	.rt-container {
		color: @utility-textcolor;
		background-color: @utility-background;
	}
}

// Breadcrumb
#rt-breadcrumbs {
	.rt-container {
		color: @body-text;
		background: darken(@body-background, 12%);
	}
}

// MainBody
.rt-mainbody-wrapper {
	color: @body-text;
	background: @body-background;
}

// Sidebar
.rt-sidebar-wrapper {
	background: darken(@body-background, 5%);
}
#rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {
	margin-top: 25px;
}

// Extension
#rt-extension {
	.rt-container {
		color: @extension-textcolor;
		background-color: @extension-background;
	}
	.readon {
		color: @white;
		border: 1px solid transparent;
		background: darken(@accent-color1, 8%);
		&:hover {
			color: @white;
			background: lighten(@accent-color1, 10%);
		}
	}
	a:not(.readon) {
		color: darken(@accent-color1, 18%);
		&:hover {
			color: inherit !important;
		}
		.demostyle-type-preset3 & {
			color: darken(@white, 35%);
		}
	}
}

// Bottom
#rt-bottom {
	.rt-container {
		color: @bottom-textcolor;
		background-color: @bottom-background;
	}
}

// Footer
#rt-footer {
	.rt-container {
		border-top: 1px solid lighten(@footer-background, 8%);
		color: @footer-textcolor;
		background-color: @footer-background;
	}
}

// Copyright
#rt-copyright {
	.rt-container {
		color: @copyright-textcolor;
		background-color: @copyright-background;
		overflow: hidden;
	}
}

// Positions Which are Not Set From Template Admin
#rt-drawer, #rt-above, #rt-maintop, #rt-expandedtop, #rt-expandedbottom, #rt-mainbottom, #rt-debug, #rt-analytics {
	.rt-container {
		color: @body-text;
		background: @body-background;
	}
}
#rt-firstfullwidth, #rt-secondfullwidth, #rt-thirdfullwidth {
	color: @body-text;
	background: @body-background;
}

// Module Styling
.module-title {
	margin-bottom: 15px;
	.title {
		font-family: @base-font-family;
		.rt-modtitle-uppercase & {
			font-size: @base-font-size;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.rt-title-center & {
		text-align: center;
	}
}
.rt-modtitle-only, .rt-nomodulecontent {
	.module-content {
		display: none;
	}
}

// Module Suffix
[class^="fa-"], [class*=" fa-"] {
	&:before {
		font-family: FontAwesome;
	}
	&.rt-block, &[class*="custom"] {
		font-family: inherit;
		line-height: inherit;
		-moz-osx-font-smoothing: inherit;
		-webkit-font-smoothing: inherit;
		font-style: inherit;
		font-weight: inherit;
		&:before {
			display: none;
		}
	}
	&.rt-block {
		display: block;
	}
	&.title-icon {
		line-height: inherit;
		margin-right: 5px;
	}
}

[class^="title"], [class*=" title"] {
	&.rt-block {
		padding: 15px;
	}
	.title {
		padding: 10px 15px;
	}
}

[class^="box"], [class*=" box"] {
	border: 1px solid transparent;
	&.rt-block {
		margin-bottom: 25px;
	}
	[class^="box"], [class*=" box"] {
		border: none;
	}
	a:not(.readon) {
		color: darken(@accent-color1, 18%);
		&:hover {
			color: inherit !important;
		}
	}
}

.box1 {
	color: @white;
	background: @accent-color1;
	#rt-header &, #rt-feature &, #rt-extension & {
		background: darken(@accent-color1, 5%);
	}
	ul.menu li {
		a, .item, .separator {
			color: @white !important;
			&:hover {
				.textColor(@accent-color1);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@accent-color1)!important;
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid transparent;
		background: darken(@accent-color1, 8%);
		&:hover {
			color: @white;
			background: lighten(@accent-color1, 10%);
		}
	}
	a:not(.readon) {
		.demostyle-type-preset3 & {
			color: @grey;
		}
	}
}
.box2 {
	color: @white;
	background: @accent-color2;
	ul.menu li {
		a, .item, .separator {
			color: @white !important;
			&:hover {
				.textColor(@accent-color2);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@accent-color2)!important;
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid transparent;
		background: darken(@accent-color2, 8%);
		&:hover {
			color: @white;
			background: lighten(@accent-color2, 10%);
		}
	}
	a:not(.readon) {
		.demostyle-type-preset3 & {
			color: darken(@white, 35%);
		}
		.demostyle-type-preset5 & {
			color: darken(@accent-color2, 15%);
		}
	}
}
.box3 {
	color: @dark-grey;
	background: @light-grey;
	ul.menu li {
		a, .item, .separator {
			color: @dark-grey !important;
			&:hover {
				.textColor(@light-grey);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@light-grey)!important;
			}
		}
	}
	.readon {
		color: @dark-grey !important;
		border: 1px solid transparent !important;
		background: darken(@light-grey, 8%) !important;
		&:hover {
			color: @dark-grey !important;
			background: lighten(@light-grey, 10%) !important;
		}
	}
	a:not(.readon) {
		.demostyle-type-preset3 & {
			color: lighten(@dark-grey, 20%);
		}
	}
}
.box4 {
	color: lighten(@black, 40%);
	background: @black;
	.demostyle-type-preset3 & {
		background: lighten(@black, 8%);
	}
	ul.menu li {
		a, .item, .separator {
			color: @white !important;
			&:hover {
				.textColor(@black);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@black)!important;
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid ltransparent;
		background: lighten(@black, 12%);
		&:hover {
			color: @white;
			background: lighten(@black, 18%);
		}
	}
	a:not(.readon) {
		.demostyle-type-preset3 & {
			color: @white;
		}
	}
}
.box5 {
	border: 1px solid darken(@accent-color1, 10%);
}
.box6 {
	border: 1px solid darken(@white, 10%);
}

.title1 {
	.module-title {
		.title {
			color: @white;
			background: @accent-color1;
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@accent-color1, 12%);
		background: darken(@accent-color1, 5%);
		&:hover {
			color: @white;
			background: lighten(@accent-color1, 10%);
		}
	}
}
.title2 {
	.module-title {
		.title {
			color: @white;
			background: @accent-color2;
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@accent-color2, 12%);
		background: darken(@accent-color2, 5%);
		&:hover {
			color: @white;
			background: lighten(@accent-color2, 10%);
		}
	}
}
.title3 {
	.module-title {
		.title {
			color: @dark-grey !important;
			background: @light-grey !important;
		}
	}
	.readon {
		color: @dark-grey !important;
		border: 1px solid darken(@light-grey, 8%) !important;
		background: darken(@light-grey, 8%) !important;
		&:hover {
			color: @dark-grey !important;
			background: lighten(@light-grey, 10%) !important;
		}
	}
}
.title4 {
	.module-title {
		.title {
			color: @white;
			background: @dark-grey;
			.mainbody-overlay-dark & {
				background: lighten(@dark-grey, 10%);
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@dark-grey, 8%);
		background: darken(@dark-grey, 8%);
		&:hover {
			color: @white;
			background: lighten(@dark-grey, 10%);
		}
	}
}
.title5 {
	.module-title .title {
		margin: 0;
		padding: 5px 0;
		position: relative;
		font-weight: normal;
		&:after {
			background: @body-text;
			content: "";
			position: absolute;
			left: 0;
		    bottom: 0;
		    height: 5px;
		    width: 50px;
		}
	}
}
.title6 {
	.module-title .title {
	    font-size: 2em;
	    line-height: 1.3em;
	    letter-spacing: 2px;
	    margin: 0 -2px 15px 0;
	    padding: 10px;
	    position: relative;
		&:after {
			background: @body-text;
			content: "";
			position: absolute;
			left: 50%;
		    bottom: 0;
		    height: 4px;
		    margin-left: -42px;
		    width: 80px;
		}
	}
}

// Buttons
.button, .readon, .readon2, a.readmore, button.validate, p.readmore a, #member-profile a, #member-registration a, .formelm-buttons button, .controls .btn, .logout-button .btn, .sprocket-readmore, &.roksearch_results a.clr, .search .btn, #finder-search .btn, .content_vote .btn, .filters .btn {
	.buttonStyleFlat(@white, @accent-color1, 3px);
	font-weight: bold;
	text-transform: uppercase;
	font-size: @base-font-size - 2;
	display: inline-block;
	padding: 15px 20px;
	line-height: normal;
	border: 1px solid transparent;
	background-image: none;
	text-shadow: none;
	text-decoration: none;
	.boxSizing(border-box);
	.transition(all 0.2s ease-in);
	&:hover {
		.buttonStyleFlat(@white, @accent-color2, 3px);
		border: 1px solid transparent;
		background-position: inherit;
		background-image: none;
		text-shadow: none;
		text-decoration: none;
	}
}
#finder-search .btn {
	.buttonStyleFlat(@white, @accent-color1, 3px) !important;
	opacity: 1;
	&:hover {
		.buttonStyleFlat(@white, @accent-color2, 3px) !important;
	}
}
.logout .btn .icon-arrow-left {
	display: none;
}
.readon2 {
	.buttonStyleFlat(@white, @accent-color2, 3px);
	&:hover {
		.buttonStyleFlat(@white, @accent-color1, 3px);
	}
}
.readon3 {
	font-family: @alt-font-family;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;font-size: @base-font-size - 2;
	color: @accent-color1;
	&:hover {
		color: @accent-color2;
	}
}
.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover {
	color: darken(@accent-color1, 35%) !important;
	text-shadow: none;
}

// Label
label {
	line-height: inherit;
	vertical-align: middle;
}

// Inputs
textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 3px;
	height: 45px;
	padding: 0 15px;
	margin: 0;
	vertical-align: middle;
	box-shadow: none;
	.boxSizing(border-box);
	&:focus {
		border-color: @accent-color1;
	}
}
.input-append .add-on, .input-prepend .add-on,
.input-append .btn, .input-prepend .btn {
	height: 45px;
	padding: 0 15px;
	line-height: 45px;
	.boxSizing(border-box);
}

// SelectBox
select,
select[multiple],
select[size] {
	height: auto;
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 3px;
	padding: 6px;
	margin: 0;
	vertical-align: middle;
}

// TextArea
textarea {
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 3px;
	margin: 0;
	padding: 5px 10px;
	vertical-align: middle;
	&:focus {
		border-color: @accent-color1;
	}
}

// Abbreviations and acronyms
abbr[title] {
  	border-bottom: 1px dotted @body-border;
}

// Blockquotes
blockquote {
	border-left: 5px solid @body-border;
	&.pull-right {
		border-right: 5px solid @body-border;
	}
	small {
		color: @body-text-light;
	}
}

// Canvas
canvas {
    width: 100% !important;
    max-width: 1200px;
}

// Gantry Font Sizer
#rt-accessibility {
	.rt-desc {
		float: left;
		margin-right: 8px;
	}
	#rt-buttons {
		.button {
			font-family: FontAwesome;
			padding: 0;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			vertical-align: middle;
			border-radius: 2px;
		}
		.small {
			font-size: inherit;
		}
		.small .button:after {
			content: "\f068";
		}
		.large .button:after {
			content: "\f067";
		}
	}
}

// Copyright
.rt-copyright-content {
	text-align: center;
	font-size: @base-font-size - 2;
}

// Gantry ToTop
.gantry-totop-wrapper {
	float: right;
	// Mobile Mode
	@media (max-width: 767px) {
		body.layout-mode-responsive & {
			float: none;
		}
	}
}
#gantry-totop {
	color: @white;
	background: @accent-color1;
	font-size: 1.5em;
	opacity: 0.5;
	border-radius: 100%;
	display: block;
	text-align: center;
	width: 45px;
	height: 45px;
	line-height: 45px;
	.transition(all 0.2s ease);
	&:before {
		font-family: FontAwesome;
		content: "\f102";
	}
	&:hover {
		opacity: 1;
	}
	// Mobile Mode
	@media (max-width: 767px) {
		body.layout-mode-responsive & {
			margin: auto;
		}
	}
}

// Gantry Branding
.rt-powered-by {
	display: block;
	background: url(../images/utilities/rockettheme.png) 0 0 no-repeat;
	width: 179px;
	height: 38px;
	opacity: 0.8;
	.transform(translateZ(0px));
	.transition(opacity 0.2s ease-in);
	&:hover {
		opacity: 1;
	}
}

// Popup/Login Module Feature
#rt-popupmodule, #rt-popuplogin {
	display: none;
	.rt-block {
		margin: 0;
		padding: 0;
	}
	.title {
		margin-top: 0;
	}
}
#rt-popuplogin {
	#form-login-remember {
		clear: both;
	}
	#modlgn-passwd, #modlgn-username, #modlgn-secretkey {
		width: 250px;
		margin-right: 10px;
	}
	#form-login-secretkey {
		margin-right: 0;
		.icon-help {
			line-height: 1;
		}
	}
	label {

	}
	input.button {
		clear: both;
		display: block;
	}
	p {
		margin-bottom: 10px;
	}
	.readon {
		float: right;
	}
	ul {
		margin-top: 25px;
		li {
		float: none;
		display: block;
		}
	}
}

// Horizontal Menu
.rt-horizmenu {
	.menu {
		list-style: none;
		li {
			display: inline-block;
			a:before, .item:before, .separator:before {
				display: none;
			}
		}
	}
}

// Social Buttons
.rt-social-buttons {
	text-align: right;
	.social-button {
		color: @accent-color1;
		margin: 0 1px;
	    border-radius: 100%;
	    display: inline-block;
	    font-size: 1.2em;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    width: 40px;
		&:hover {
			color: @accent-color2;
		}
	}
	@media (max-width: 767px) {
		body.layout-mode-responsive & {
			text-align: center;
		}
	}
}