/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

@import "variables.less";

// General Typography
.superhero {
	font-size: 5em;
	font-family: @alt-font-family;
	line-height: 1;
	text-transform: uppercase;
}
.rt-lead {
	font-size: @base-font-size * 1.35;
	line-height: @base-line-height * 1.25;
}
.promo1 {
	font-size: @base-font-size * 3;
	line-height: @base-line-height * 3;
}
.promo2 {
	font-size: @base-font-size * 1.5;
	line-height: @base-line-height * 1.5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}
.rt-text-large {
	display: block;
	font-size: @base-font-size * 2.5;
	line-height: @base-line-height * 2;
}
.rt-text-medium {
	display: block;
	font-size: @base-font-size * 1.3;
	line-height: @base-line-height * 1.3;
}
.rt-text-small {
	display: block;
	font-size: @base-font-size * 0.8;
	line-height: @base-line-height 1.2;
}
.rt-title-large {
	.title {
		font-size: @base-font-size * 1.6;
		line-height: @base-line-height * 1.2;
	}
}
.rt-title-tag {
	display: block;
	font-size: @base-font-size * 1.1;
	font-weight: normal;
	text-transform: none;
	opacity: 0.5;
}

// Tablet Modes
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body.layout-mode-responsive {
		// General Typography
		.promo1 {
			font-size: @base-font-size * 3;
			line-height: @base-line-height * 3;
		}
		.promo2 {
			font-size: @base-font-size * 1.5;
			line-height: @base-line-height * 1.5;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-style: italic;
		}
	}
}

// Mobile Modes
@media (max-width: 767px) {
	body.layout-mode-responsive {
		// General Typography
		.promo1 {
			font-size: @base-font-size * 2.8;
			line-height: @base-line-height * 2.8;
		}
		.promo2 {
			font-size: @base-font-size * 1.3;
			line-height: @base-line-height * 1.3;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-style: italic;
		}
		.rt-title-tag {
			font-size: @base-font-size * 1.1;
			line-height: @base-line-height * 1.1;
		}
	}
}

// Small Screen Mobile Modes
@media only screen and (max-width: 480px) {
	body.layout-mode-responsive {
		// General Typography
		.promo1 {
			font-size: @base-font-size * 2;
			line-height: @base-line-height * 1.8;
		}
		.promo2 {
			font-size: @base-font-size * 1.2;
			line-height: @base-line-height * 1.2;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-style: italic;
		}
		.superhero {
			font-size: 3em;
		}
	}
}