@font-face {
    font-family: din-condensed-bold;
    src: url(fonts/din-condensed-bold/din-condensed-bold.woff);
}

@font-face {
    font-family: raleway-regular;
    src: url(fonts/raleway-regular/raleway-regular.woff);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eef1f5;
}

::-webkit-scrollbar-thumb {
    background: #0b306b;
}

.alert-danger {
    background-color: #eeeeee;
    border-color: #fbe1e3;
    color: #e73d4a;
    font-size: 12px;
    font-family: raleway-regular;
}

.alert-success {
    font-size: 12px;
}

a {
    color: #666;
}

.site.login {
    font-family: din-condensed-bold;
}

.site.login {
    background-color: #ffffff!important;
}

.site.login.corporate .loginContent .form-actions .btn{
    margin-top: 25px;
}

body{
    font-family: raleway-regular;
    background-color: #fff;
}

.loginLogo{
    width: 50%;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #0b306b;
    text-align:center;
}

.loginContent{
    width: 50%;
    float: right;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.site.registration .loginContent {
    width: 50%;
    float: right;
    display: inline-block;
}

.loginContent h3.form-title{
    color:#0b306b;
    font-family: din-condensed-bold;
    font-size: 34px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.loginContent .control-label {
    margin-top: 1px;
    font-weight: 400;
    font-family: din-condensed-bold;
    color: #666;
    font-size: 22px !important;
    padding-left: 10px;
}

.loginContent .form-control {
    width: 100%;
    height: 45px;
    padding: 6px 35px 6px 12px;
    background-color: #eee;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loginContent .icon{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: -35px;
}

.loginContent .icon img{
    width: auto;
    height: 25px;
}

.loginContent .form-control{
    font-size: 27px;
    font-weight: bold;
    color: #666;
    font-family: din-condensed-bold;
}

.loginContent .form-control:hover, .loginContent .form-control:focus, .loginContent .form-control:visited, .loginContent .form-control.active{
    background: rgb(11 48 107 / 0.30);
    color: #fff;
}

.loginContent .form-actions .btn{
    background: #0b306b;
    border:1px solid #0b306b;
    color: #fff;
    font-family: raleway-regular;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
}

.loginContent .form-actions .btn:hover{
    background: #fff;
    color: #0b306b;
}

.loginContent .has-error .help-block{
    font-size: 12px;
    font-family: raleway-regular;
    font-weight: bold;
}

.loginContent .forgotPassword{
    text-align:right;
    margin-top:0px;
}

.loginContent .forgotPassword a{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-family: raleway-regular;
    font-weight: bold;
}

.loginContent .login-form{
    width: 100%;
    padding: 0 20%;
}

.loginContent .brasao{
    position: fixed;
    right: 60px;
    top: 40px;
}

.loginContent .brasao img{
    width: 70px;
}

.loginContent .login-options {
    margin-top: 30px;
    margin-bottom: 0;
}

.loginContent .login-options .newUser{
    width: 64%;
    text-align: right;
    font-family: raleway-regular;
    font-weight: bold;
    font-size:12px;
    display:inline-block;
    vertical-align:middle;
}

.loginContent .login-options .newUser a{
    margin-left: 20px;
    text-decoration: none;
    border: 1px solid #666;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666;
    background: #fff;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.loginContent .login-options .newUser a:hover, .loginContent .login-options .corporate a:hover{
    color:#fff;
    background: #666;
}

.loginContent .login-options .corporate{
    width: 35%;
    font-family: raleway-regular;
    font-weight: bold;
    font-size: 12px;
    padding-left: 0;
    display:inline-block;
    vertical-align:middle;
}

.loginContent .login-options .corporate a{
    text-decoration: none;
    border: 1px solid #666;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666;
    background: #fff;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.loginLogo .sliderMotion{
    width: 100%;
    padding: 50px;
    text-align: center;
}

.sliderMotion li{
    display:none;
}

.sliderMotion li:nth-child(1){
    display:list-item;
}

.loginLogo .sliderMotion ul {
    margin-bottom: 0;
    list-style: none;
    padding-inline-start: 0;
}

.loginLogo .sliderMotion ul img{
    width: 500px
}

.loginLogo .sliderMotion ul .subtitulo{
    color: #fff;
    font-family: din-condensed-bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

.loginLogo .sliderMotion ul .titulo{
    color: #fff;
    font-family: din-condensed-bold;
    font-size: 50px;
    text-align: center;
}

.loginLogo .sliderMotion ul .tag{
    color: #fff;
    text-align: center;
    font-family: raleway-regular;
    font-weight: bold;
    font-size: 12px;
}

.loginLogo .sliderMotion ul .mensagem{
    color: #fff;
    text-align: center;
    font-family: raleway-regular;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.page-header.navbar {
    height: 80px;
    min-height: 80px;
}

.page-header.navbar .page-logo .logo-default {
    margin-top: 5px;
    max-height: 70px;
}

.page-sidebar-fixed .page-sidebar {
    top: 80px;
}

.page-content-wrapper .page-content{
    padding: 90px 20px 10px;
}

.page-content-white .page-content .page-bar {
    border-bottom: 0px solid #e7ecf1;
    margin: 0;
}

.page-header.navbar {
    background-color: #0b306b;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #ffffff;
}

.portlet.light {
    padding: 0;
}

.portlet.light.bordered {
    border: 0px !important;
}

.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{
    border-top:1px solid #fff;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #ffffff;
    border-right: 1px solid #eef1f5;
    box-shadow: 6px 4px 18px #eef1f5 !important;
}

.page-sidebar .page-sidebar-menu>li{
    font-family: din-condensed-bold;
    color: #666;
    font-size: 15px;
}

.page-sidebar .page-sidebar-menu>li>a{
    color: #666;
    font-size: 15px;
    border-top: 1px solid #666;
    text-transform: uppercase;
}

.page-sidebar .page-sidebar-menu>li.item-101start>a{
    border-top: 0px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a, .page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover{
    background: #0b306b;
}

.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #0b306b;
    color: #ffffff;
}

.page-sidebar .page-sidebar-menu>li:hover+li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover+li>a, .page-sidebar .page-sidebar-menu>li.active+li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active+li>a {
    border-top-color: #ffffff;
}

.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
    color: #fff;
}

.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-] {
    color: #666;
}

.page-sidebar .page-sidebar-menu>li:hover>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li:hover>a>i[class^=icon-], .page-sidebar .page-sidebar-menu>li.active>a>i[class*=icon-]{
    color: #fff;
}

.page-header.navbar .menu-toggler{
    opacity: 1;
}

.page-header.navbar .menu-toggler .vd-sidebar-toggler-icon{
    color: #666;
}

.itemid-101page-header-fixed .page-header.navbar .menu-toggler .vd-sidebar-toggler-icon{
    color: #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown {
    height: 50px;
    float: none;
    margin: 15px 0 0 0;
    vertical-align: middle;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 8px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user{
    width: auto;
    max-width: 250px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user:hover{
    background: #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user svg{
    display: inline-block;
    vertical-align: middle;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user svg path{
    fill: #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: transparent;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user:hover svg path{
    fill: #666;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user:hover>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover>i, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle>i{
    color:#666;
}

.nav>li.dropdown-tickets>a {
    padding: 6px !important;
    color: #fff;
}

.nav>li.dropdown-tickets>a:focus, .nav>li.dropdown-tickets>a:hover {
    color: #666;
    background-color: #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.dropdown-tickets{
    height:auto;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge{
    top: 0;
    right: 0;
    font-family: raleway-regular;
}

.badge-info {
    background-color: #ffffff;
    color: #666;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.vdBarraNotificacoes>.dropdown-toggle {
    margin: 0;
    padding: 8px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.vdBarraNotificacoes{
    height: auto;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.vdBarraNotificacoes .dropdown-toggle:hover>i{
    color:#fff;
}

.font-dark {
    color: #666!important;
}

.portlet.light>.portlet-title>.caption{
    font-family: din-condensed-bold;
    color: #666;
}

.portlet.light>.portlet-title>.caption span{
    padding: 0 0 0 10px;
}

.portlet.light>.portlet-title>.caption span i{
    color:#666 !important;
    padding-right:10px;
}

.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 16px;
    text-transform: uppercase;
    color: #0b306b !important;
}

.portlet.light>.portlet-title>.actions .btn-default{
    color:#666;
    border:1px solid #666;
    font-size: 12px;
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen{
    background:transparent;
    color:#666;
}

.portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm {
    font-size: 12px;
}

.kt-callout .kt-callout__body .kt-callout__content .kt-callout__title {
    font-size: 20px;
    color: #0b306b;
    margin-bottom: 1rem;
    margin-top: 0;
    font-family: din-condensed-bold;
}

.copyright{
    position: fixed;
    background-color: #0b306b;
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
    z-index: 9;
}

.copyright .version, .copyright .owner{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.copyright .brand{
    width: 59%;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    color:#fff;
}

.copyright .owner{
    text-align:right;
}

.copyright .owner img{
    width: 20px;
}

.copyright a, .copyright a:hover{
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 12px;
}

.page-sidebar .page-sidebar-menu{
    padding-bottom: 45px !important;
}

.page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    font-size: 15px;
}

.scroll-to-top {
    right: 20px;
    bottom: 70px;
}

.scroll-to-top>i{
    color: #666;
    font-size: 30px;
    opacity: 1;
}

.tabbable-line>.nav-tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid #0b306b;
}

.tabbable-line>.nav-tabs h4 {
    font-size: 18px;
    font-family: din-condensed-bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tabbable-line>.tab-content{
    border-top:0px;
}

.tabbable-line>.nav-tabs>li{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabbable-line>.nav-tabs>li, .tabbable-line>.nav-tabs>li.active, .tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
    border-bottom:0px;
}

.tabbable-line>.nav-tabs>li.active{
    background: #0b306b;
}

.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #fff;
}

.kt-callout .kt-callout__body .kt-callout__content .kt-callout__desc {
    font-size: 12px;
    line-height: 1;
    color: #666;
    padding-right: 1rem;
    font-weight: 400;
}

.kt-callout .kt-callout__body .kt-callout__action .btn.btn-custom{
    text-decoration: none;
    border: 1px solid #666;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666;
    background: #fff;
    font-size: 12px;
}

.kt-callout .kt-callout__body .kt-callout__action .btn.btn-custom:hover{
    background:#666;
    color:#fff;
}

.tabbable-line .col-lg-4 {
    width: 33%;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.tabbable-line>.tab-content{
    padding:10px 0;
}

form.well{
    background:#fff;
    padding: 0;
}

.tabbable-line>.tab-content .form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tabbable-line>.tab-content textarea.form-control {
    height: auto !important;
}

.tabbable-line>.tab-content .form-control[disabled], .tabbable-line>.tab-content .form-control[readonly], .tabbable-line>.tab-content fieldset[disabled] .form-control{
    background-color: #ccc;
}

form .bloco{
    margin-top:60px;
}

form .bloco:nth-child(1){
    margin-top:0;
}

form .bloco:nth-child(1) p {
    color: #333;
    font-weight: bold;
}

form .bloco h3 {
    font-size: 20px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
    margin-top: 0;
    text-transform: uppercase;
}

form .bloco .form-group label.col-md-12{
    margin-top: 1px;
    font-weight: 400;
    font-family: din-condensed-bold;
    color: #666;
    font-size: 18px;
    padding-left: 10px;
}

.form-horizontal .bloco .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .bloco .form-group .col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}

.form-group.fieldMorada, .form-group.fieldMoradaRep{
    width: 69%;
    display: inline-block;
    vertical-align: top;
}

.form-group.fieldPorta, .form-group.fieldLote, .form-group.fieldPortaRep, .form-group.fieldLoteRep{
    width: 15%;
    display: inline-block;
}

.form-group.fieldLocalidade, .form-group.fieldfreguesia, .form-group.fieldLocalRep, .form-group.fieldfreguesiaRep{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.form-group.fieldCodPostal, .form-group.fieldCodPostRep{
    width: 19%;
    display: inline-block;
    vertical-align: top;
}

.form-group.fieldNif, .form-group.fieldDocId, .form-group.fieldNumId, .form-group.fieldValId, .form-group.fieldNifRep, .form-group.fieldDocIdRep, .form-group.fieldNumIdRep, .form-group.fieldValIdRep{
    width: 24.7%;
    display: inline-block;
    vertical-align: top;
}

.form-group.fieldTelemovel, .form-group.fieldTelefone, .form-group.fieldFax, .form-group.fieldTelemovelRep, .form-group.fieldTelefoneRep, .form-group.fieldFaxRep{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.form-group.fieldHoraMarcacao, .form-group.fieldDataMarcacao, .form-group.fieldEstabelecimento, .form-group.fieldCurso, .form-group.fieldAnoLetivo, .form-group.fieldAnoAnterior, .form-group.fieldAproveitamento, .form-group.fieldResidenciaUniversitaria{
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

.form-group.fieldHoraMarcacao, .form-group.fieldCurso, .form-group.fieldAnoAnterior, .form-group.fieldResidenciaUniversitaria, .form-group.fieldPortaRep, .form-group.fieldLoteRep, .form-group.fieldfreguesiaRep, .form-group.fieldCodPostRep, .form-group.fieldDocIdRep, .form-group.fieldNumIdRep, .form-group.fieldValIdRep, .form-group.fieldTelefoneRep, .form-group.fieldFaxRep, .form-group.fieldfreguesia, .form-group.fieldCodPostal, .form-group.fieldPorta, .form-group.fieldLote, .form-group.fieldDocId, .form-group.fieldNumId, .form-group.fieldValId, .form-group.fieldTelefone, .form-group.fieldFax{
    padding-left:1%;
}

.form-group.fieldAproveitamento input[type=radio], .form-group.fieldResidenciaUniversitaria input[type=radio], .form-group.fieldDocId input[type=radio], .form-group.fieldDocIdRep input[type=radio], .form-group.fieldQualidadeRep input[type=radio], .form-group.fieldtipopedido input[type=radio]{
    margin: 15px 0 0 15px;
}

.form-group.fieldAproveitamento input[type=radio]:nth-child(1), .form-group.fieldResidenciaUniversitaria input[type=radio]:nth-child(1), .form-group.fieldDocId input[type=radio]:nth-child(1), .form-group.fieldDocIdRep input[type=radio]:nth-child(1), .form-group.fieldQualidadeRep input[type=radio]:nth-child(1), .form-group.fieldtipopedido input[type=radio]:nth-child(1){
    margin: 15px 0 0 0;
}

.form-group.fieldOpcaoCandidatura span{
    display:block;
}

.mt-repeater{
    margin-top: 20px;
    margin-bottom: 30px;
}

.mt-repeater .form-group {
    margin-bottom: 0;
}

.mt-repeater .mt-repeater-item .form-group{
    margin-bottom:15px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.mt-repeater .mt-repeater-item {
    border-bottom:0;
    border-top: 1px solid #0b306b;
    margin-bottom: 0;
    padding: 15px;
    background: #f1f1f1;
}

.mt-repeater .mt-repeater-item:nth-child(2){
    border-top: 0px;
}

.mt-repeater .mt-repeater-input {
    display: block;
    vertical-align: top;
    padding: 0;
    width: 100%;
}

.mt-repeater #fieldNomeAgregado, .mt-repeater #fieldIdadeAgregado, .mt-repeater #fieldParentescoAgregado, .mt-repeater #fieldSitProfissionalAgregado{
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

.mt-repeater #fieldNomeAgregado, .mt-repeater #fieldIdadeAgregado{
    margin-bottom:15px;
}

.mt-repeater #fieldNomeAgregado, .mt-repeater #fieldParentescoAgregado{
    padding-right:0.5%;
}

.mt-repeater #fieldIdadeAgregado, .mt-repeater #fieldSitProfissionalAgregado{
    padding-left:0.5%;
}

.mt-repeater .AgregadoInput .mt-repeater-delete {
    margin-top: 85px;
    float: right;
}

.mt-repeater .mt-repeater-delete, .mt-repeater .mt-repeater-add{
    font-size:12px;
}

.mt-repeater .mt-repeater-add{
    background: #0b306b;
    border-color: #0b306b;
    margin-top:10px;
}

.tabbable-line>.tab-content .mt-repeater .form-control{
    background:#fff;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    font-size: 12px;
}

.portlet .tabbable-line>.tab-content form .form-actions .btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #0b306b;
    border-color: #0b306b;
    font-size: 12px;
}

.portlet .tabbable-line>.tab-content form .form-actions .btn.default:not(.btn-outline) {
    color: #fff;
    background-color: #666;
    border-color: #666;
    font-size: 12px;
}

.portlet .tabbable-line>.tab-content form .form-actions{
    padding: 20px 0 0 0;
}

legend{
    color: #0b306b;
    border-bottom: 1px solid #0b306b;
}

.page-footer {
    padding: 0;
    height: 0;
}

#tabela_pedidos_wrapper tr th{
    font-size: 16px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
}

#tabela_pedidos_wrapper #tabela_pedidos_length{
    width: 10%;
    padding-right:1%;
    display:inline-block;
}

#tabela_pedidos_wrapper div.EstadoFilterDropBox{
    width: 15%;
    padding-right:1%;
    display:inline-block;
    margin-left: 0;
    float:right;
}

#tabela_pedidos_wrapper div.dataTables_filter{
    width: 60%;
    display:inline-block;
}

#tab_Alerta_PedidosSubmetidos .tabbable-line>.nav-tabs li{
    font-family: din-condensed-bold;
}

.table td, .table th {
    font-size: 12px;
}

.table th{
    font-size: 16px !important;
    color: #0b306b !important;
    font-family: din-condensed-bold;
}

div.dataTables_wrapper div.dataTables_length select, div.dataTables_wrapper div.EstadoFilterDropBox select{
    width: 100% !important;
    display: block;
    font-family: raleway-regular;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.EstadoFilterDropBox label, div.dataTables_wrapper div.dataTables_filter label{
    font-family: din-condensed-bold;
    font-size: 18px;
    color: #0b306b;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
    display: block;
    width: 100% !important;
    font-family: raleway-regular;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
}

table.table-bordered.dataTable tbody td .label{
    font-family: raleway-regular;
    font-size: 12px;
    padding: 3px 10px;
}

.widget-thumb .widget-thumb-heading {
    font-size: 16px;
    color: #0b306b;
    font-family: din-condensed-bold;
    text-transform: initial;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #666;
    font-size: 12px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #0b306b;
    border-color: #0b306b;
}

.pagination>li>a, .pagination>li>span{
    color: #0b306b;
}

.layout-view4user .portlet.light.form-fit>.portlet-title, .layout-view4manager .portlet.light.form-fit>.portlet-title{
    padding: 0;
    margin-bottom: 0;
}

.layout-view4user .form-body, .layout-view4manager .form-body{
    margin-top: 30px !important;
}

.layout-view4user .form-body .portlet.light.bg-inverse, .layout-view4manager .form-body .portlet.light.bg-inverse{
    background:#fff;
}

.layout-view4user .form-body .col-md-8 .portlet.light .portlet-body .row, .layout-view4manager .form-body .col-md-8 .portlet.light .portlet-body .row{
    margin-left: 0;
    margin-right: 0;
}

.layout-view4user .form-body .portlet.light.bordered>.portlet-title, .layout-view4manager .form-body .portlet.light.bordered>.portlet-title{
    border-bottom: 0;
}

.layout-view4user .form-body .portlet.light>.portlet-title>.caption, .layout-view4manager .form-body .portlet.light>.portlet-title>.caption{
    font-size: 20px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid;
    width: 100%;
}

.layout-view4user .field.fieldMorada, .layout-view4user .field.fieldMoradaRep, .layout-view4manager .field.fieldMorada, .layout-view4manager .field.fieldMoradaRep{
    width: 69%;
    display: inline-block;
    vertical-align: top;
}

.layout-view4manager .field.fieldPorta, .field.fieldLote, .layout-view4manager .field.fieldPortaRep, .layout-view4manager .field.fieldLoteRep, .layout-view4user .field.fieldPorta, .field.fieldLote, .layout-view4user .field.fieldPortaRep, .layout-view4user .field.fieldLoteRep{
    width: 14.9%;
    display: inline-block;
}

.layout-view4manager .field.fieldLocalidade, .layout-view4manager .field.fieldfreguesia, .layout-view4manager .field.fieldLocalRep, .layout-view4manager .field.fieldfreguesiaRep, .layout-view4user .field.fieldLocalidade, .layout-view4user .field.fieldfreguesia, .layout-view4user .field.fieldLocalRep, .layout-view4user .field.fieldfreguesiaRep{
    width: 39.9%;
    display: inline-block;
    vertical-align: top;
}

.layout-view4user .field.fieldCodPostal, .layout-view4user .field.fieldCodPostRep, .layout-view4manager .field.fieldCodPostal, .layout-view4manager .field.fieldCodPostRep{
    width: 19%;
    display: inline-block;
    vertical-align: top;
}

.layout-view4manager .field.fieldNif, .layout-view4manager .field.fieldDocId, .layout-view4manager .field.fieldNumId, .layout-view4manager .field.fieldValId, .layout-view4manager .field.fieldNifRep, .layout-view4manager .field.fieldDocIdRep, .layout-view4manager .field.fieldNumIdRep, .layout-view4manager .field.fieldValIdRep, .layout-view4user .field.fieldNif, .layout-view4user .field.fieldDocId, .layout-view4user .field.fieldNumId, .layout-view4user .field.fieldValId, .layout-view4user .field.fieldNifRep, .layout-view4user .field.fieldDocIdRep, .layout-view4user .field.fieldNumIdRep, .layout-view4user .field.fieldValIdRep{
    width: 24.5%;
    display: inline-block;
    vertical-align: bottom;
}

.layout-view4manager .field.fieldTelemovel, .layout-view4manager .field.fieldTelefone, .layout-view4manager .field.fieldFax, .layout-view4manager .field.fieldTelemovelRep, .layout-view4manager .field.fieldTelefoneRep, .layout-view4manager .field.fieldFaxRep, .layout-view4user .field.fieldTelemovel, .layout-view4user .field.fieldTelefone, .layout-view4user .field.fieldFax, .layout-view4user .field.fieldTelemovelRep, .layout-view4user .field.fieldTelefoneRep, .layout-view4user .field.fieldFaxRep{
    width: 32.9%;
    display: inline-block;
    vertical-align: top;
}

.field.referenciaProcesso, .field.estadoProcesso, .layout-view4user .field.fieldHoraMarcacao, .layout-view4manager .field.fieldHoraMarcacao, .layout-view4user .field.fieldDataMarcacao, .layout-view4manager .field.fieldDataMarcacao, .layout-view4user .field.fieldEstabelecimento, .layout-view4user .field.fieldCurso, .layout-view4user .field.fieldAnoLetivo, .layout-view4user .field.fieldAnoAnterior, .layout-view4user .field.fieldAproveitamento, .layout-view4user .field.fieldResidenciaUniversitaria, .layout-view4manager .field.fieldEstabelecimento, .layout-view4manager .field.fieldCurso, .layout-view4manager .field.fieldAnoLetivo, .layout-view4manager .field.fieldAnoAnterior, .layout-view4manager .field.fieldAproveitamento, .layout-view4manager .field.fieldResidenciaUniversitaria{
    width:49.5%;
    display:inline-block;
    vertical-align:top;
}

.field.referenciaProcesso, .layout-view4user .field.fieldDataMarcacao, .layout-view4manager .field.fieldDataMarcacao, .layout-view4user .field.fieldEstabelecimento, .layout-view4manager .field.fieldEstabelecimento, .layout-view4user .field.fieldAnoLetivo, .layout-view4manager .field.fieldAnoLetivo, .layout-view4user .field.fieldAproveitamento, .layout-view4manager .field.fieldAproveitamento{
    padding-right:0.5%;
}

.field.estadoProcesso, .layout-view4user .field.fieldHoraMarcacao, .layout-view4manager .field.fieldHoraMarcacao, .layout-view4user .field.fieldCurso, .layout-view4manager .field.fieldCurso, .layout-view4user .field.fieldAnoAnterior, .layout-view4manager .field.fieldAnoAnterior, .layout-view4user .field.fieldResidenciaUniversitaria, .layout-view4manager .field.fieldResidenciaUniversitaria{
    padding-left:0.5%;
}

.layout-view4manager .field.fieldPortaRep, .layout-view4manager .field.fieldLoteRep, .layout-view4manager .field.fieldfreguesiaRep, .layout-view4manager .field.fieldCodPostRep, .layout-view4manager .field.fieldDocIdRep, .layout-view4manager .field.fieldNumIdRep, .layout-view4manager .field.fieldValIdRep, .layout-view4manager .field.fieldTelefoneRep, .layout-view4manager .field.fieldFaxRep, .layout-view4manager .field.fieldfreguesia, .layout-view4manager .field.fieldCodPostal, .layout-view4manager .field.fieldPorta, .layout-view4manager .field.fieldLote, .layout-view4manager .field.fieldDocId, .layout-view4manager .field.fieldNumId, .layout-view4manager .field.fieldValId, .layout-view4manager .field.fieldTelefone, .layout-view4manager .field.fieldFax, .layout-view4user .field.fieldPortaRep, .layout-view4user .field.fieldLoteRep, .layout-view4user .field.fieldfreguesiaRep, .layout-view4user .field.fieldCodPostRep, .layout-view4user .field.fieldDocIdRep, .layout-view4user .field.fieldNumIdRep, .layout-view4user .field.fieldValIdRep, .layout-view4user .field.fieldTelefoneRep, .layout-view4user .field.fieldFaxRep, .layout-view4user .field.fieldfreguesia, .layout-view4user .field.fieldCodPostal, .layout-view4user .field.fieldPorta, .layout-view4user .field.fieldLote, .layout-view4user .field.fieldDocId, .layout-view4user .field.fieldNumId, .layout-view4user .field.fieldValId, .layout-view4user .field.fieldTelefone, .layout-view4user .field.fieldFax{
    padding-left:1%;
}

.layout-view4manager .field.fieldDocId input[type=radio], .layout-view4manager .field.fieldDocIdRep input[type=radio], .layout-view4manager .field.fieldQualidadeRep input[type=radio], .layout-view4manager .field.fieldtipopedido input[type=radio], .layout-view4user .field.fieldDocId input[type=radio], .layout-view4user .field.fieldDocIdRep input[type=radio], .layout-view4user .field.fieldQualidadeRep input[type=radio], .layout-view4user .field.fieldtipopedido input[type=radio]{
    margin: 15px 0 0 15px;
}

.layout-view4manager .field.fieldDocId input[type=radio]:nth-child(1), .layout-view4manager .field.fieldDocIdRep input[type=radio]:nth-child(1), .layout-view4manager .field.fieldQualidadeRep input[type=radio]:nth-child(1), .layout-view4manager .field.fieldtipopedido input[type=radio]:nth-child(1), .layout-view4user .field.fieldDocId input[type=radio]:nth-child(1), .layout-view4user .field.fieldDocIdRep input[type=radio]:nth-child(1), .layout-view4user .field.fieldQualidadeRep input[type=radio]:nth-child(1), .layout-view4user .field.fieldtipopedido input[type=radio]:nth-child(1){
    margin: 15px 0 0 0;
}

.layout-view4user .static-info .value, .layout-view4manager .static-info .value{
    min-height:40px;
    height:auto;
    line-height:1;
    display:flex;
    align-items: center;
}

.layout-view4user .form-horizontal .col-md-8 .portlet.light .portlet-body, .layout-view4manager .form-horizontal .col-md-8 .portlet.light .portlet-body{
    margin-bottom: 60px;
}

.layout-view4user .form-horizontal .col-md-8 .portlet.light .portlet-body:nth-last-child(1), .layout-view4manager .form-horizontal .col-md-8 .portlet.light .portlet-body:nth-last-child(1){
    margin-bottom: 0px;
}

.layout-view4user .form .form-bordered .form-actions, .layout-view4manager .form .form-bordered .form-actions{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.layout-view4user .form .form-bordered .form-actions .col-md-12, .layout-view4manager .form .form-bordered .form-actions .col-md-12{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.layout-view4user .form .form-bordered .form-actions .col-md-12 a.btn, .layout-view4manager .form .form-bordered .form-actions .col-md-12 a.btn{
    background-color: #0b306b !important;
    border-color: #0b306b !important;
    color:#fff !important;
    font-size: 12px;
}

.layout-view4user .form .form-bordered .form-actions .col-md-12 a.btn.default, .layout-view4manager .form .form-bordered .form-actions .col-md-12 a.btn.default{
    background-color: #666 !important;
    border-color: #666 !important;
}

.field.AgregadoInput .table {
    margin-bottom: 0;
}

.field.estadoProcesso .value{
    background: transparent;
    padding: 6px 0px;
    width: 49.5%;
    display: inline-block;
    vertical-align: middle;
}

.field.estadoProcesso .value label{
    color: #fff;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 0;
}

.field.estadoProcesso .btn.btn-circle{
    border-color: #0b306b;
    background: #0b306b;
    color: #fff;
}

.field.estadoProcesso .btn.btn-circle:hover{
    border-color: #0b306b;
    background: transparent;
    color: #000;
}

.field.estadoProcesso .botaoAlterarEstado{
    width: 49.5%;
    display: inline-block;
    vertical-align: middle;
}

.field.referenciaProcesso .value{
    font-weight: bold;
    font-size: 16px;
}

/*Entrada na APP*/

#recover-password .form-actions .btn.default, #member-registration .form-actions .btn.default{
    color: #666;
    border: 1px solid #666;
    background:#fff;
    float: right;
}

#recover-password .form-actions .btn.default:hover, #member-registration .form-actions .btn.default:hover{
    color: #fff;
    background:#666;
}

#recover-password #dynamic_recaptcha_1, #member-registration #dynamic_recaptcha_1{
    margin: 30px 0 0 0;
}

.loginContent #recover-password{
    width: 100%;
    padding: 0 20%;
}

.loginContent #member-registration{
    width: 100%;
    padding: 50px 20%;
}

.loginContent #recover-password p.hint, .loginContent #member-registration p.hint{
    font-family: raleway-regular;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#member-registration .col-md-3 {
    width: auto;
}

#member-registration .form-group .col-md-9{
    font-family: raleway-regular;
    font-weight: bold;
    font-size: 12px;
}

#member-registration .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, #member-registration .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #0b306b;
}

#member-registration .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, #member-registration .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #fff;
    background: #666;
}

#member-registration .row {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0 0 0;
}

#recover-password .form-actions, #member-registration .form-actions{
    margin-top: 30px;
}

.politicaprivacidade .header{
    background: #0b306b;
    padding: 10px 5%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.politicaprivacidade .header .mainlogo img{
    height: 70px;
}

.politicaprivacidade .header .mainplatform img {
    width: 70px;
}

.politicaprivacidade .header .mainplatform{
    position: fixed;
    right: 5%;
}

.politicaprivacidade .header a{
    display: inline-block;
    vertical-align: middle;
}

.politicaprivacidade .textBody{
    margin-top: 115px;
    padding: 0 5%;
}

.politicaprivacidade h2{
    color: #0b306b;
    font-family: din-condensed-bold;
    font-size: 34px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 35px;
    text-transform:uppercase;
}

.politicaprivacidade h2:nth-child(1){
    margin-top:0;
}

.politicaprivacidade h3{
    color: #0b306b;
    font-family: din-condensed-bold;
    font-size: 28px;
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 35px;
}

.politicaprivacidade h4{
    color: #0b306b;
    font-family: din-condensed-bold;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
}

.politicaprivacidade p, .politicaprivacidade li{
    font-family: raleway-regular;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.44;
}

.politicaprivacidade .copyrightBar{
    background: #0b306b;
    padding: 15px 5%;
    text-align: center;
    margin-top: 30px;
}

.politicaprivacidade .copyrightBar a{
    text-decoration:none;
    color:#fff;
    font-family: raleway-regular;
}

.politicaprivacidade .copyrightBar a:hover{
    text-decoration:underline;
}

/*Meus Dados*/

.view-profile .form-actions .col-md-12{
    padding: 0;
}

.view-profile .form-actions a.btn.submit, .view-profile .form-actions .btn.submit{
    color: #fff;
    background-color: #0b306b;
    border-color: #0b306b;
    font-size: 12px;
}

.view-profile .form-actions a.btn.default{
    color: #fff;
    background-color: #666;
    border-color: #666;
    font-size: 12px;
}

.view-profile .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .view-profile .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: #0b306b;
    opacity: 1;
}

.static-info {
    margin-bottom: 15px;
}

.static-info .name {
    margin-top: 1px;
    font-weight: 400;
    font-family: din-condensed-bold;
    color: #666;
    font-size: 18px;
}

.static-info .value {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 2.5;
    color: #000;
    border: 0px;
    border-radius: 4px;
    font-weight: 100;
}

.view-profile .field{
    width: 49.5%;
    display:inline-block;
    vertical-align:middle;
}

.view-profile .userLogin, .view-profile .userMail, .view-profile .userConcelho, .view-profile .email1, .view-profile .password1, .view-profile .phone{
    padding-right:1%;
}

.view-profile .userName, .view-profile .userPhone, .view-profile .userCodPostal, .view-profile .email2, .view-profile .password2{
    padding-left:1%;
}

.view-profile .userFreguesia{
    padding-right:0.5%;
    padding-left:0.5%;
}

.view-profile .userAddress{
    width:100%;
}

.view-profile .userConcelho, .view-profile .userFreguesia, .view-profile .userCodPostal{
    width:33%;
}

.view-profile .bloco .col-md-2 {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.view-profile .bloco .col-md-10 {
    width: 85%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.view-profile .bloco .col-md-10 a {
    color:#0b306b;
}

.view-profile .form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-profile .form-control[disabled], .view-profile .form-control[readonly]{
    background-color: #ccc;
}

.view-profile .password1 .btn, .view-profile .email1 .btn{
    padding: 9px 12px;
}

.view-profile .password1 .btn-success, .view-profile .email1 .btn-success{
    color: #fff;
    background-color: #0b306b;
    border-color: #0b306b;
}

.view-profile .select2-container--bootstrap .select2-selection {
    font-family: raleway-regular;
}

.view-profile .select2-container--bootstrap .select2-selection{
    background-color: #eee;
    border: 1px solid #eeeeee;
    font-size:12px;
    color: #000;
}

.view-profile .select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 1.9;
}

.view-profile .select2-container--bootstrap .select2-dropdown {
    border-color: #eee;
}

.view-profile .select2-dropdown{
    background-color: #eee;
    border: 1px solid #eee;
}

.view-profile .select2-container--bootstrap .select2-search--dropdown .select2-search__field{
    font-size:12px;
    color: #000;
    font-family: raleway-regular;
}

.view-profile .select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
    background:#ccc;
    color:#000;
}

.view-profile .select2-container--bootstrap .select2-results__option[aria-selected=true]{
    background-color: #0b306b;
    color:#fff;
}

.view-profile .select2-results__option {
    font-size: 12px;
}

/*A minha rua*/

.label-espera {background-color: #bd4e2e;}
.label-analise {background-color: #d4c744;}
.label-concluido {background-color: #4b744f;}
.label-documentos {background-color: #009ddc;}

.view-alerta .select2-container--bootstrap .select2-selection {
    font-family: raleway-regular;
}

.view-alerta .select2-container--bootstrap .select2-selection{
    background-color: #eee;
    border: 1px solid #eeeeee;
    font-size:12px;
    color: #000;
}

.view-alerta .select2-container--bootstrap .select2-selection--single {
    height: 39px;
    line-height: 1.9;
}

.view-alerta .select2-container--bootstrap .select2-dropdown {
    border-color: #eee;
}

.view-alerta .select2-dropdown{
    background-color: #eee;
    border: 1px solid #eee;
}

.view-alerta .select2-container--bootstrap .select2-search--dropdown .select2-search__field{
    font-size:12px;
    color: #000;
    font-family: raleway-regular;
}

.view-alerta .select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
    background:#ccc;
    color:#000;
}

.view-alerta .select2-container--bootstrap .select2-results__option[aria-selected=true]{
    background-color: #0b306b;
    color:#fff;
}

.view-alerta .select2-results__option {
    font-size: 12px;
}

.view-alerta .select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color:#000;
}

.view-alerta .form-group.categoria, .view-alerta .form-group.subcategoria, .view-alerta .form-group.freguesia, .view-alerta .form-group.sitio{
    width:49.5%;
    display:inline-block;
    vertical-align:top;
}

.view-alerta .form-group.categoria, .view-alerta .form-group.freguesia{
    padding-right:1%;
}

.view-alerta .form-group.subcategoria, .view-alerta .form-group.sitio{
    padding-left:1%;
}

.view-alerta .fileuploader{
    background: #eee;
}

.view-alerta .fileuploader-theme-thumbnails .fileuploader-thumbnails-input-inner{
    background: #ffffff;
    border: 2px dashed #0b306b;
    color: #0b306b;
    opacity: 1;
}

.view-alerta .gmaps {
    height: 500px;
    margin-bottom: 10px;
}

.view-alerta .table .btn {
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
    background: #0b306b;
    color: #fff;
    font-weight: 100 !important;
    text-transform: initial !important;
}

div.dataTables_wrapper div.EstadoFilterDropBoxEncaminhadas select, div.dataTables_wrapper div.EstadoFilterDropBoxAlerta select, div.dataTables_wrapper div.CatFilterDropBoxAlerta select{
    width: 100% !important;
    display: block;
    font-family: raleway-regular;
}

div.dataTables_wrapper div.EstadoFilterDropBoxTarefas label, div.dataTables_wrapper div.EstadoFilterDropBoxEncaminhadas label, div.dataTables_wrapper div.EstadoFilterDropBoxAlerta label, div.dataTables_wrapper div.CatFilterDropBoxAlerta label{
    font-family: din-condensed-bold;
    font-size: 18px;
    color: #0b306b;
    width: 100%;
}

#tabela_alerta_tarefas_full_wrapper #tabela_alerta_tarefas_full_length, #tabela_alerta_historico_full_wrapper #tabela_alerta_historico_full_length, #tabela_lista_alerta_wrapper #tabela_lista_alerta_length, #tabela_lista_alerta_encaminhadas_wrapper #tabela_lista_alerta_encaminhadas_length, #tabela_lista_alerta_tarefas_wrapper #tabela_lista_alerta_tarefas_length{
    width: 10%;
    padding-right:1%;
    display:inline-block;
}

#tabela_lista_alerta_tarefas_wrapper div.EstadoFilterDropBoxTarefas, #tabela_lista_alerta_encaminhadas_wrapper div.EstadoFilterDropBoxEncaminhadas, #tabela_lista_alerta_wrapper div.EstadoFilterDropBoxAlerta, #tabela_lista_alerta_wrapper div.CatFilterDropBoxAlerta{
    width: 15%;
    padding-right:1%;
    display:inline-block;
    margin-left: 0;
}

#tabela_alerta_tarefas_full_wrapper .dataTables_filter, #tabela_alerta_historico_full_wrapper .dataTables_filter, #tabela_lista_alerta_wrapper div.dataTables_filter, #tabela_lista_alerta_encaminhadas_wrapper div.dataTables_filter, #tabela_lista_alerta_tarefas_wrapper div.dataTables_filter{
    width: 60%;
    display:inline-block;
}

#tab_ListaAlertasEncaminhadas p, #tab_ListaAlertasTarefas p{
    font-size:12px;
}

.view-alerta .blocoResumoDadosTagDiv .col-md-6, .view-alerta .blocoResumoDadosTagDiv .col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.view-alerta #tabAlertaResumo .gmaps {
    height: 228px;
}

.view-alerta .tabbable-line>.nav-tabs a{
    font-size: 18px;
    font-family: din-condensed-bold;
}

.view-alerta .blocoResumoDadosTagDiv .col-md-6:nth-child(odd){
    padding-right:1%;
}

.view-alerta .blocoResumoDadosTagDiv .col-md-6:nth-child(even){
    padding-left:1%;
}

.view-alerta .blocoResumoDadosTagDiv .col-md-6.estado .value{
    padding: 6px 0px;
    background-color:#fff;
}

.view-alerta #tabAlertaResumo .newmsghistSend{
    background-color: #0b306b;
    border-color: #0b306b;
    font-size:12px;
}

.view-alerta #tabAlertaResumo .newmsghistSend:hover{
    background-color: #fff;
    color:#000;
}

.view-alerta .form-actions a.btn.submit{
    color: #fff;
    background-color: #0b306b;
    border-color: #0b306b;
    font-size: 12px;
}

.view-alerta .form-actions .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-alerta .form-actions a.btn.default{
    color: #fff;
    background-color: #666;
    border-color: #666;
    font-size: 12px;
}

.view-alerta .layout-view4user .portlet.light.form-fit>.portlet-title, .view-alerta .layout-view4manager .portlet.light.form-fit>.portlet-title{
    padding: 0;
    margin-bottom: 0;
}

.view-alerta .layout-view4user .form-body, .view-alerta .layout-view4manager .form-body{
    margin-top: 30px !important;
}

.view-alerta .layout-view4user .form-body .portlet.light.bg-inverse, .view-alerta .layout-view4manager .form-body .portlet.light.bg-inverse{
    background:#fff;
}

.view-alerta .layout-view4user .form-body .col-md-8 .portlet.light .portlet-body .row, .view-alerta .layout-view4manager .form-body .col-md-8 .portlet.light .portlet-body .row{
    margin-left: 0;
    margin-right: 0;
}

.view-alerta .layout-view4user .form-body .portlet.light.bordered>.portlet-title, .view-alerta .layout-view4manager .form-body .portlet.light.bordered>.portlet-title{
    border-bottom: 0;
}

.view-alerta .layout-view4user .form-body .portlet.light>.portlet-title>.caption, .view-alerta .layout-view4manager .form-body .portlet.light>.portlet-title>.caption{
    font-size: 20px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid;
    width: 100%;
}

.view-alerta .cbp .cbp-item{
    width: 49% !important;
    left: 0px !important;
    top: 0px !important;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 !important;
}

.view-alerta #tabAlertaDetalhe .col-md-6, .view-alerta #tabAlertaDetalhe .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.view-alerta #tabAlertaDetalhe .col-md-6.nif, .view-alerta #tabAlertaDetalhe .col-md-6.referencia, .view-alerta #tabAlertaDetalhe .col-md-6.categoria, .view-alerta #tabAlertaDetalhe .col-md-6.freguesia, .view-alerta #tabAlertaDetalhe .col-md-6.latitude{
    padding-right: 1%;
}

.view-alerta #tabAlertaDetalhe .col-md-6.telefone, .view-alerta #tabAlertaDetalhe .col-md-6.estado, .view-alerta #tabAlertaDetalhe .col-md-6.subcategoria, .view-alerta #tabAlertaDetalhe .col-md-6.sitio, .view-alerta #tabAlertaDetalhe .col-md-6.longitude{
    padding-left: 1%;
}

.view-alerta #tabAlertaDetalhe .gmaps {
    height: 228px;
}

.view-alerta #tabAlertaDetalhe .col-md-6.estado .value {
    padding: 6px 0px;
    background-color: #fff;
}

.view-alerta #tabAlertaHistorico .portlet .tabbable-line>.tab-content h3{
    font-size: 20px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #0b306b;
    line-height: 1.5;
}

.view-alerta #tabAlertaHistorico .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.view-alerta #tabAlertaHistorico .rowSendNewMsgText .col-md-10 {
    padding-left:0;
    padding-right:0;
    width:80%;
    display:inline-block;
    vertical-align:middle;
}

.view-alerta #tabAlertaHistorico .rowSendNewMsgText .col-md-2 {
    padding: 30px 0;
    width:20%;
    display:inline-block;
    vertical-align:middle;
    text-align:right;
}

.view-alerta #tabAlertaHistorico .rowSendNewMsgText .col-md-2 .btn.newmsghistSend{
    background-color: #0b306b;
    border-color: #0b306b;
    font-size: 12px;
    color:#fff;
}

#tabela_alerta_historico_full_wrapper{
    margin-top: 40px;
}

.view-alerta.layout-view4manager .portlet.light.form-fit>.portlet-title {
    padding: 0;
    margin-bottom: 0;
}

.view-alerta.layout-view4manager .form-body{
    margin-top: 30px !important;
}

.view-alerta.layout-view4manager .form-body .portlet.light.bg-inverse{
    background:#fff;
}

.view-alerta.layout-view4manager .form-body .col-md-8 .portlet.light .portlet-body .row {
    margin-left: 0;
    margin-right: 0;
}

.view-alerta.layout-view4manager .form-body .portlet.light.bordered>.portlet-title {
    border-bottom: 0;
}

.view-alerta.layout-view4manager .form-body .portlet.light>.portlet-title>.caption{
    font-size: 20px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid;
    width: 100%;
}
.view-alerta.layout-view4manager .blocoResumoDadosTagDiv .col-md-6.estado .col-md-6{
    width: auto;
    display:inline-block;
    vertical-align:middle;
    float:none;
}
.view-alerta.layout-view4manager .blocoResumoDadosTagDiv .botaoAlterarEstado .btn-sm{
    padding: 3px 10px;
    margin-top:20px;
}

.view-alerta.layout-view4manager .blocoResumoDadosTagDiv .btn-sm.btAlterarProcManagerModalOpen, .view-alerta.layout-view4manager .blocoResumoDadosTagDiv .btn-sm.btAlterarReencaminharModalOpen{
    padding: 3px 10px;
    margin-top: 30px;
}

.view-alerta.layout-view4manager .rowSendNewMsgText .col-md-3{
    margin-top: 35px;
    padding-left:20px !important;
}

.modal-dialog {
    width: 1000px;
    margin: 75px auto;
}

.modal .modal-header {
    border-bottom: 0;
}

.modal-dialog .modal-title{
    font-size: 20px;
    color: #0b306b !important;
    font-family: din-condensed-bold;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid;
    width: 100%;
}

.modal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.modal .form-group label{
    font-weight: 400;
    font-family: din-condensed-bold;
    color: #666;
    font-size: 18px;
}

.modal textarea.form-control {
    height: auto;
    font-family: raleway-regular;
    font-size: 12px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
}

.modal .bs-select .btn.dropdown-toggle.btn-default{
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
    height: 40px;
}

.modal .dropdown-menu.inner{
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
}

.modal .modal-footer {
    padding: 0 15px 15px 15px;
    text-align: right;
    border-top: 0;
}

.modal .btn.green{
    color: #fff;
    background-color: #0b306b;
    border-color: #0b306b;
    font-size: 12px;
}

.modal .btn.green:hover{
    background-color: #fff;
    border-color: #0b306b;
    color: #0b306b;
}

.modal .btn.dark{
    color: #fff;
    background-color: #666;
    border-color: #666;
    font-size: 12px;
}

.modal .btn.dark:hover{
    background-color: #fff;
    border-color: #666;
    color: #000;
}

.modal input.form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal .btn.btn-default{
    background: #0b306b;
    color: #fff;
}

.view-alerta .rowSendNewMsgText input.form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
}

.view-alerta #tabAlertaTarefas .actions{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.view-alerta #tabAlertaTarefas #tabela_alerta_tarefas_full_wrapper{
    padding-top: 20px;
}

#tabela_alerta_tarefas_full_length .form-control, #tabela_alerta_tarefas_full_filter .form-control{
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-alerta .headline{
    background: #0b306b;
    padding: 20px 10px;
    color: #fff;
    margin-bottom:20px;
    font-family: din-condensed-bold;
    font-size: 20px;
}

.view-alerta.layout-edit4user textarea.form-control, .view-alerta.layout-edit4user input.form-control, .view-alerta.layout-edit4manager textarea.form-control, .view-alerta.layout-edit4manager input.form-control{
    width: 100%;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 12px;
    line-height: 1.42857;
    color: #000;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-alerta.layout-edit4user input.form-control, .view-alerta.layout-edit4manager input.form-control{
    height:40px;
}

.view-alerta.layout-edit4user .form-actions .btn.green:not(.btn-outline), .view-alerta.layout-edit4manager .form-actions .btn.green:not(.btn-outline){
    color: #FFF;
    background-color: #0b306b;
    border-color: #0b306b;
    font-size: 12px;
}

.view-alerta .form-group.mail, .view-alerta .form-group.mail2, .view-alerta .form-group.nif, .view-alerta .form-group.telef{
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

.view-alerta .form-group.mail, .view-alerta .form-group.nif{
    padding-right: 1%;
}

.view-alerta .form-group.mail2, .view-alerta .form-group.telef{
    padding-left: 1%;
}