@font-face {
    font-family: roboto-light;
    src: url(fonts/roboto-light/RobotoLight.woff);
}

@font-face {
    font-family:swiss-Bold;
    src: url(fonts/swiss/swiss-Bold/Swiss721BoldCondensedBT.woff);
}

@font-face {
    font-family: swiss-Roman;
    src: url(fonts/swiss/swiss-Roman/Swiss721CondensedBT.woff);
}

@font-face {
    font-family: roboto-light-italic;
    src: url(fonts/roboto-light-italic/RobotoLightItalic.woff);
}

* {
    font-family: roboto-light;
}

body{
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    outline: 1px solid white;
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.barraSuperior{
    background: #000;
    padding: 10px 0 3px 0;
    text-align: right;
    position: fixed;
    width:100%;
    left: 0;
    top:0;
    z-index: 99;
}

.barraSuperior .content{
    width:1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.barraSuperior .botao{
    float: left;
    justify-content: left;
    margin-right: 20px;
    width: auto;
}

.barraSuperior .botao img{
    height: 21px;
}

.barraSuperior .logoWebsite{
    width: 120px;
    margin-left: auto;
    display: block;
}

.barraSuperior .logoWebsite img{
    width: 120px;
}

.sliderMotion{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.sliderMotion ul{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.sliderMotion li{
    z-index: 1;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sliderMotion .sliderActions{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.sliderMotion .sliderActions .sliderContent{
    width: 1160px;
    margin: 0 auto;
    text-align:right;
}

.sliderMotion .sliderActions .btn{
    width: 50px;
    height: 50px;
    background: #000;
    line-height: 1;
    border-radius: 0;
    padding: 5px;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sliderMotion .sliderActions .btn img{
    max-height:30px;
}

.sliderMotion .creditos{
    position: fixed;
    left: 0;
    bottom: 70px;
    width: 100%;
}

.sliderMotion .credito{
    width: 1160px;
    margin: 0 auto;
    text-align: right;
}

.sliderMotion .credito p{
    margin: 0;
    color: #fff;
}

.sliderMotion .credito .namePhoto{
    font-family: roboto-light-italic;
    font-size: 15px;
}

.sliderMotion .credito .nameAuthor{
    font-family: swiss-Bold;
    font-size: 16px;
}

.fundo{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    top: 0px;
    left: 0;
}

.workSpace{
    width:1160px;
    margin: 0 auto;
    padding-top: 150px;
    position: relative;
    z-index: 9;
}

.workSpace a.logo{
    display: block;
    width: max-content;
}

.workSpace a.logo img{
    max-height: 95px;
}

.workSpace .tab{
    width: auto;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    background: #fff;
    color: #000;
    cursor: pointer;
    margin-right: 10px;
    font-family: swiss-Bold;
    font-size: 16px;
    border-radius: 3px;
}

.workSpace #tab1, .workSpace #tab2{
    background: rgb(252 191 36 / 0.3);
    color:#fff;
}

.workSpace .tab.active, .workSpace .tab:hover, .workSpace #tab1:hover, .workSpace #tab2:hover, .workSpace #tab1.active, .workSpace #tab2.active{
    background:#fcbf24;
    color:#fff;
}

.workSpace .tabs{
    margin-top: 50px;
}

.contentLogin, .contentRegisto{
    padding-bottom: 50px;
}

.contentLogin .login-form{
    width: 305px;
    padding: 20px;
    margin-top: 50px;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    background: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.contentRegisto .registration-form{
    width: 345px;
    padding: 20px;
    margin-top: 50px;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    background: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.contentLogin h3, .contentRegisto h3, .contentUploadFoto h3{
    color: #000;
    margin-top: 0;
    font-size: 30px;
    font-family: swiss-Bold;
}

.contentRegisto h3, .contentUploadFoto h3{
    margin-bottom:30px;
}

.contentLogin .login-form p, .contentRegisto .registration-form p, .contentUploadFoto .registration-form p{
    color: #000;
    margin: 0;
    font-size: 13px;
    font-family: swiss-Bold;
}

.contentLogin .form-group, .contentRegisto .form-group, .contentUploadFoto .form-group{
    margin-top: 15px;
    margin-bottom: 0;
}

.contentRegisto .form-group.checkBox{
    margin-bottom: 15px;
}

.contentUploadFoto .form-group.checkBox{
    margin-bottom: 30px;
}

.contentLogin .form-group.first, .contentRegisto .form-group.first, .contentUploadFoto .form-group.first{
    margin-top: 25px;
}

.contentLogin .form-control, .contentRegisto .form-control, .contentUploadFoto .form-control{
    height: 28px !important;
    background-color: #f6f6f6 !important;
    border: 1px solid #ffffff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000;
    outline:none !important;
    font-size: 12px;
}

.has-error .help-block{
    font-size: 12px;
    text-align: left;
}

.contentLogin .forgotPassword{
    text-align:right;
}

.contentLogin .form-actions .btn, .contentRegisto .form-actions .btn{
    margin-top: 20px;
    width: 100%;
    padding: 7px;
    background: #fcbf24;
    color: #fff;
    outline: none !important;
    line-height: 1 !important;
    font-family: swiss-Roman;
    font-size: 20px;
}

.contentLogin .login-options, .contentRegisto .registo-options{
    margin-top: 30px;
    border-top: 1px solid #000;
}

.contentLogin .login-options p, .contentRegisto .registo-options p{
    margin-top: 15px;
}

.contentLogin .login-options a, .contentRegisto .registo-options a{
    color: #fcbf24;
    text-decoration: none !important;
    font-family: swiss-Bold;
}

.contentLogin .introLogin, .contentRegisto .introRegisto{
    width:500px;
    display:inline-block;
    vertical-align:middle;
    margin-left:40px;
}

.contentLogin .introLogin p{
    color:#fff;
}

.contentLogin .introLogin p:nth-child(1){
    font-size: 32px;
    width:300px;
    font-family: swiss-Roman;
    line-height: 1.2;
}

.contentRegisto .introRegisto p:nth-child(1){
    font-size: 32px;
    width:500px;
    font-family: swiss-Roman;
    line-height: 1.2;
    margin-bottom: 0;
}

.contentLogin .introLogin p b, .contentRegisto .introRegisto p b{
    font-family: swiss-Bold;
}

.contentLogin .introLogin p:nth-child(2), .contentRegisto .introRegisto p:nth-child(2){
    font-size: 24px;
    margin-top: 12px;
    font-family: swiss-Roman;
}

.contentRegisto .introRegisto p:nth-child(2){
    line-height: 1.2;
    margin-top: 0;
}

.contentLogin .forgotPassword a{
    font-family: roboto-light-italic;
    color: #333;
    font-size: 12px;
}

.contentLogin .login-form .alert-danger {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    color: #000;
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: -15px;
    font-size: 12px;
}

.contentLogin .form-control::-webkit-input-placeholder, .contentRegisto .form-control::-webkit-input-placeholder, .contentUploadFoto .form-control::-webkit-input-placeholder{
    color: #000;
}

.contentLogin .form-control:-ms-input-placeholder, .contentRegisto .form-control:-ms-input-placeholder, .contentUploadFoto .form-control:-ms-input-placeholder{
    color: #000;
}

.contentLogin .form-control::placeholder, .contentRegisto .form-control::placeholder, .contentUploadFoto .form-control::placeholder{
    color: #000;
}

.contentRegisto .checkBox .col-md-3{
    width: 30px;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.contentUploadFoto .checkBox .col-md-3{
    width: 55px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    padding-left: 30px;
}

.contentUploadFoto .checkbox input[type=checkbox]{
    width:28px !important;
    position: relative;
    margin-left: 0;
    margin-top: -28px;
    z-index: 999999999;
}

.contentUploadFoto .checkbox div{
    position: relative;
    margin-left: 0;
    margin-top: -28px;
    height: 30px;
    display: flex;
    padding-left: 40px;
    align-items: center;
}

.contentRegisto .checkBox .col-md-9 {
    width: 246px;
    float: right;
    padding-right: 0;
    font-size: 12px;
    text-align: left;
    font-family: roboto-light-italic;
}

.contentUploadFoto .checkBox .col-md-9 {
    width: 635px;
    float: none;
    padding-right: 0;
    font-size: 12px;
    text-align: left;
    font-family: roboto-light-italic;
}

.contentForgotPassword{
    width: 500px;
    padding: 20px;
    margin-top: 50px;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    background: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.contentForgotPassword h3{
    color: #000;
    margin-top: 0;
    font-size: 30px;
    font-family: swiss-Bold;
}

.contentForgotPassword .form-actions .btn, .contentUploadFoto .form-actions .btn{
    margin-top: 20px;
    padding: 7px;
    color: #fff;
    outline: none !important;
    line-height: 1 !important;
    font-size: 20px;
    font-family: swiss-Roman;
}

.contentForgotPassword .form-actions .btn.submit, .contentUploadFoto .form-actions .btn.submit{
    background: #fcbf24;
}

.contentForgotPassword .form-actions .btn.cancel, .contentUploadFoto .form-actions .btn.cancel{
    background: #000;
}

.contentForgotPassword .register-form p {
    color: #000;
    margin: 0;
    font-size: 13px;
    font-family: swiss-Bold;
}

.contentForgotPassword .form-group{
    margin-top: 25px;
}

.contentForgotPassword .form-control {
    height: 28px !important;
    background-color: #f6f6f6 !important;
    border: 1px solid #ffffff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000;
    outline: none !important;
    font-size: 12px;
}

.contentRegisto #dynamic_recaptcha_1, .contentUploadFoto #dynamic_recaptcha_1{
    margin: 30px 0 15px 0;
}

.contentUploadFoto .uploadFoto-form{
    width: 750px;
    padding: 20px;
    margin-top: 50px;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    box-shadow: 0 16px 64px -16px rgba(46,55,77,.24);
    background: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.contentUploadFoto .uploadFoto{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}

.contentUploadFoto .uploadData{
    width: 59%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5%;
}

.contentUploadFoto .fileuploader {
    padding: 0;
    margin: 0;
}

.contentUploadFoto .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, .contentUploadFoto .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
    padding-top: 100%;
}

.contentUploadFoto .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list {
    margin: 0;
}

.contentUploadFoto .fileuploader-theme-thumbnails .fileuploader-thumbnails-input-inner{
    background: #fff;
    border: 2px dashed #000;
    color: #000;
    opacity: 1;
}

.contentUploadFoto .form-actions .btn{
    min-width: 150px;
}

.contentUploadFoto {
    margin-bottom: 50px;
}

.contentUploadFoto .introUpload {
    width: 365px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}

.contentUploadFoto .introUpload p:nth-child(1) {
    font-size: 32px;
    font-family: swiss-Roman;
    line-height: 1.2;
    margin-bottom: 0;
}

.contentUploadFoto .introUpload p b {
    font-family: swiss-Bold;
}

.contentUploadFoto .introUpload p:nth-child(2) {
    line-height: 1.2;
    font-size: 24px;
    font-family: swiss-Roman;
}

.contentUploadFoto .alert{
    margin-bottom: 0;
    margin-top: 40px;
    width: 745px;
}

.contentUploadFoto .alert-danger {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

@media (min-width: 1440px) and (max-width: 1599px){
    .sliderMotion .credito, .sliderMotion .sliderActions .sliderContent, .workSpace, .barraSuperior .content{
        width: 1400px;
    }

    .workSpace{
        padding-top: 100px;
    }

    .contentUploadFoto .introUpload {
        width: 605px;
    }
}

@media (min-width: 1600px) and (max-width: 1799px){
    .sliderMotion .credito, .sliderMotion .sliderActions .sliderContent, .workSpace, .barraSuperior .content{
        width: 1560px;
    }

    .contentUploadFoto .introUpload {
        width: 605px;
    }
}

@media (min-width: 1800px){
    .sliderMotion .credito, .sliderMotion .sliderActions .sliderContent, .workSpace, .barraSuperior .content{
        width:1800px;
    }

    .contentUploadFoto .introUpload {
        width: 605px;
    }
}