.imagemFundo{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay{
    /*background-color: rgba(0, 0, 0, 0.5)!important;*/
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.site.login{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff !important;
}

.site.login.corporate{
    background: #e1e1e1 !important;
}

.site.login .logo{
    margin: 0;
    padding: 0;
    z-index: 9;
    width: 49.5%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: left;
}

.site.login .content{
    padding: 40px 0 40px 40px;
    background-color: transparent;
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 49.5%;
    margin: 0 0 30px 0;
    vertical-align: middle;
}

.site.login .contentMain{
    width: 1200px;
}

.site.login .content .login-form{
    width: 100%;
    padding: 100px 17px 0 17px;
    max-width: 500px;
    margin: 0 0 0 auto;
    border: 1px solid #1b2b67;
}

.site.login.corporate .content .login-form{
    background: #fff;
}

.site.login .content .login-form h3, .site.login .content .login-form .hint{
    display:none;
}

.copyright{
    position: fixed;
    z-index: 99;
    color: #000 !important;
    bottom: 0;
    margin: 0px auto !important;
    width: 1200px !important;
    font-size: 14px !important;
    padding: 0 0 20px 0 !important;
}

.site.login .content .form-control {
    background-color: transparent;
    height: auto;
    color: #000;
    border: 0px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 0px;
    border-bottom: 2px solid #1b2b67;
    outline: none !important;
    font-size: 16px;
}

.site.login .content .form-control:active, .site.login .content .form-control:focus {
    border: 0px;
    border-bottom: 2px solid #1b2b67;
    background: #ccc;
}

.has-error .help-block {
    color: #fff !important;
    background: rgba(27, 43, 103, 0.55) !important;
    padding: 5px !important;
}

.site.login .form-control::placeholder {
    color: #000 !important;
    opacity: 1;
}

.site.login .form-control:-ms-input-placeholder {
    color: #000 !important;
}

.site.login .form-control::-ms-input-placeholder {
    color: #000 !important;
}

.site.login .content .form-actions{
    border:0px !important;
}

.site.login .content .form-actions .btn {
    font-weight: 600;
    padding: 10px 20px!important;
    width: 100%;
    margin-top: 30px;
    background: #1b2b67;
    border-color: #1b2b67;
    border-radius: 0px;
    font-size: 17px;
}

.site.login .content .form-actions .btn:hover{
    background:#fff;
    color: #1b2b67;
}

.site.login .login-options {
    margin-top: 100px;
    margin-bottom: 0;
    overflow: hidden;
}

.site.login .login-options a {
    text-shadow: none;
    color: #000;
    font-size: 14px;
}

.site.login .login-options .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.site.login .login-options .col-md-6:nth-child(1) p:nth-child(1){
    margin: 0;
}

.site.login .login-options .col-md-6 p.corporate{
    margin-bottom: 20px !important;
}

.site.login .login-options .col-md-6:nth-child(1) p:nth-child(2){
    margin: 0 0 20px 0;
}

.site.login .login-options .col-md-6:nth-child(2) p{
    text-align:right;
}

.site.login .login-options a:hover {
    color: #000;
    text-decoration:underline;
}

.has-error .help-block{
    color:#fff !important;
}

.site.login .boxInterface{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logoInterface .prod {
    opacity: 0;
    width: 142px;
    text-align: center;
    color: #000;
    font-size: 12px;
    display: inline-block;
    vertical-align:top;
    -webkit-transition: opacity 1500ms ease-in;
    -moz-transition: opacity 1500ms ease-in;
    -o-transition: opacity 1500ms ease-in;
    transition: opacity 1500ms ease-in;
}

.logoInterface a{
    text-decoration: none !important;
}

.logoInterface img {
    width: 30px;
}

.logoInterface:hover .prod {
    opacity: 1;
}

logoInterface{
    text-align: right;
}

.contentCopyright{
    margin-top: 15px;
}

a.versao{
    color:#000;
}

a.versao:hover{
    color:#000;
    text-decoration:underline;
}

.spaceTop{
    margin-top: 14px;
    text-align: left;
    font-size: 12px;
}

@media (max-width: 361px){
    .site.login .login-options .col-md-6:nth-child(1) p:nth-child(1), .site.login .login-options .col-md-6:nth-child(1) p:nth-child(2){
        margin: 0 0 10px 0;
    }

    .alert-danger {
        background-color: #828bac;
        border-color: #ffffff;
        color: #ffffff;
    }

    #MainMessageAlertBlockSimple button.close{
        display:none !important;
    }

    .site.login .content .form-actions {
        border: 0px !important;
        padding: 0px !important;
        margin: 0 0 10px 0 !important;
    }

    .site.login .content .form-actions .btn{
        margin-top: 0px !important;
        margin-bottom: 15px;
    }

    .site.login .login-options .col-md-6:nth-child(2) p {
        text-align: left;
        margin: 10px 0;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        text-align:center;
        padding: 0 40px;
    }

    .site.login .content {
        display: block;
        width: 100%;
        padding: 40px;
        margin: 0;
    }

    .site.login .logo img{
        width: 100%;
        margin-top: 30px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 25px 17px 15px 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .logoInterface img {
        width: 25px;
    }

    .spaceTop {
        position: absolute;
        margin-top: 50px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: 10px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
    }
}

@media (min-width: 362px) and (max-width: 469px){
    .site.login .login-options .col-md-6:nth-child(1) p:nth-child(1), .site.login .login-options .col-md-6:nth-child(1) p:nth-child(2){
        margin: 0 0 10px 0;
    }

    .alert-danger {
        background-color: #828bac;
        border-color: #ffffff;
        color: #ffffff;
    }

    #MainMessageAlertBlockSimple button.close{
        display:none !important;
    }

    .site.login .content .form-actions {
        border: 0px !important;
        padding: 0px !important;
        margin: 0 0 10px 0 !important;
    }

    .site.login .content .form-actions .btn{
        margin-top: 0px !important;
        margin-bottom: 15px;
    }

    .site.login .login-options .col-md-6:nth-child(2) p {
        text-align: left;
        margin: 10px 0;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        text-align:center;
        padding: 0 40px;
    }

    .site.login .content {
        display: block;
        width: 100%;
        padding: 40px;
        margin: 0;
    }

    .site.login .logo img{
        width: 100%;
        margin-top: 30px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 25px 17px 15px 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .logoInterface img {
        width: 25px;
    }

    .spaceTop {
        position: absolute;
        margin-top: 50px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: 10px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
    }
}

@media (min-width: 470px) and (max-width: 591px){
    .site.login .login-options .col-md-6 {
        padding-left: 0;
        padding-right: 0;
        width: 50%;
        float: left;
        margin-top: 20px;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
    }

    .site.login .content {
        display: block;
        width: 100%;
        padding: 40px;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0 40px;
        margin-top: 30px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 50px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .spaceTop {
        position: absolute;
        margin-top: 40px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: 0px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
        margin-right: 10px;
    }
}

@media (min-width: 592px) and (max-width: 767px){
    .site.login .login-options .col-md-6 {
        padding-left: 0;
        padding-right: 0;
        width: 50%;
        float: left;
        margin-top: 20px;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        text-align: center;
    }

    .site.login .content {
        display: block;
        width: 100%;
        padding: 40px;
    }

    .site.login .logo img{
        width: 100%;
        margin-top: 30px;
        padding: 0 50px;
        max-width: 600px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 50px 17px 0 17px;
        margin: 0 auto;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .spaceTop {
        position: absolute;
        margin-top: 16px;
        z-index: 999;
        font-size: 13px;
    }

    .logoInterface{
        margin-top: -25px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
        margin-right: 10px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 958px){
    .site.login .login-options .col-md-6 {
        padding-left: 0;
        padding-right: 0;
        width: 50%;
        float: left;
        margin-top: 20px;
    }

    .site.login .logo{
        width: 40%;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0 0 0 5%;
    }

    .site.login .content{
        width: 59%;
    }

    .site.login .content .login-form{
        padding: 50px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 50px;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright{
        width: 100% !important;
    }

    .copyright .col-md-4{
        width: 33%;
        float: left;
    }

    .spaceTop{
        text-align:left;
    }

    .site.login .contentMain {
        width: 100%;
    }
}

@media (min-width: 959px) and (max-width: 1199px){
    .site.login .login-options .col-md-6 {
        padding-left: 0;
        padding-right: 0;
        width: 50%;
        float: left;
        margin-top: 20px;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0 0 0 5%;
    }

    .copyright{
        width: 100% !important;
    }

    .copyright .col-md-4{
        width: 33%;
        float: left;
    }

    .spaceTop{
        text-align:left;
    }
}

@media (min-width: 1200px) and (max-width: 1439px){
    .site.login .content .login-form{
        padding: 70px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 70px;
    }

    .logoInterface{
        text-align:right;
    }

    .site.login .logo{
        text-align:left;
    }

    .spaceTop{
        text-align:left;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0;
    }

    .site.login .contentMain, .copyright{
        width: 1160px !important;
    }

    .copyright .col-md-4 {
        padding: 0;
    }
}

@media (min-width: 1440px) and (max-width: 1599px){
    .site.login .contentMain, .copyright{
        width: 1400px !important;
    }

    .site.login .logo img{
        width: auto;
        padding: 0;
    }

    .copyright .col-md-4 {
        width: 33.33333%;
        padding: 0;
    }

    .logoInterface{
        text-align:right;
    }
}

@media (min-width: 1600px) and (max-width: 1799px){
    .site.login .contentMain, .copyright{
        width: 1560px !important;
    }

    .site.login .logo img{
        padding: 0;
    }

    .logoInterface{
        text-align: right;
    }
}

@media (min-width: 1800px){
    .site.login .contentMain, .copyright{
        width: 1760px !important;
    }

    .site.login .logo img{
        padding: 0;
    }

    .logoInterface{
        text-align: right;
    }
}



#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}