<!-- EXAMPLE OF CSS STYLE -->
<style>
    .tituloDoc{
        text-align:left;
        font-weight:bold;
        font-size:18px;
    }

    .subtitulo{
        text-align:left;
        font-weight:bold;
        font-size:13px;
    }

    .seccao{
        text-align:left;
        font-weight:bold;
        line-height:12px;
        font-size:12px;
        background-color:#e1e1e1;
        border:5px solid #e1e1e1;
    }

    .seccaoReg{
        text-align:center;
        font-weight:bold;
        line-height:10px;
        font-size:10px;
        background-color:#e1e1e1;
        border:5px solid #e1e1e1;
    }

    p{
        line-height:1;
        font-size:11px;
        text-align:justify
    }

    .rodape{
        font-size:8px;
    }

    .conteudo{
        font-size:10px;
    }

    .morada{
        font-size:13px;
        text-align:center;
        font-weight:bold;
    }

    .ref{
        font-size:9px;
        text-align:left;
    }

    .tit{
        font-size:11px;
        text-align:center;
        font-weight:bold;
    }

    .box{
        text-align:center;
        border:1px solid black;
    }

    .assinatura, .data{
        text-align:center;
        font-size:11px;
    }

    .tablesection{
        border: 0.5px solid #000;
    }

    .tablesection2{
        background-color:#e1e1e1;
    }

    .ass{
        text-align:center;
    }

    p.ass2{
        line-height:1;
        text-align:center;
    }

    p.auxText{
        font-size:8px;
        line-height:1;
        text-align:center;
    }

    p.auxText2{
        font-size:8px;
        line-height:1;
        text-align:left;
        color:#9d9d86;
    }

    .visto{
        background-color:#e1e1e1;
        border: 1px solid #000;
    }

    .tabletr{
        line-height:1px;
    }

    .registo{
        border:1px solid black;
    }

</style>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td width="320" align="left">


        </td>
        <td width="220" align="left">
            <div class="box">
                <table cellpadding="4" cellspacing="0">
                    <tr>
                        <td width="5" align="left"></td>
                        <td width="170" align="center">
                            <div class="tit">Registo de Entrada</div>
                            <div class="ref"><b>Nº Processo:</b> %referencia</div>
                            <div class="ref"><b>Data Entrada:</b> %dia/%mes/%ano</div>
                            <div class="ref"><b>Hora Entrada:</b> %hora</div>
                        </td>
                        <td width="5" align="left"></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

</table>

<table cellpadding="0" cellspacing="0">
    <br><br>
    <h3 class="subtitulo">%introPDF</h3>
    <tr>
        <td width="540" align="left">
            <h3 class="seccao">IDENTIFICAÇÃO DA OCORRÊNCIA</h3>
        </td>
    </tr>


    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="250" align="left">
            <p><b>Categoria:</b> <span class="conteudo">%catName</span></p>
        </td>
        <td width="30" align="left"></td>
        <td width="250" align="left">
            <p><b>Subcategoria:</b> <span class="conteudo">%subcatName</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>

    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="530" align="left">
            <p><b>Descrição:</b> <span class="conteudo">%descricao</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>


    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="250" align="left">
            <p><b>Freguesia:</b> <span class="conteudo">%fregName</span></p>
        </td>
        <td width="30" align="left"></td>
        <td width="250" align="left">
            <p><b>Sítio:</b> <span class="conteudo">%sitio</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>

    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="530" align="left">
            <p><b>Morada:</b> <span class="conteudo">%morada</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>

    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="530" align="left">
            <p><b>Pontos de Referência:</b> <span class="conteudo">%ptosrefs</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>


    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="250" align="left">
            <p><b>Latitude:</b> <span class="conteudo">%lat</span></p>
        </td>
        <td width="30" align="left"></td>
        <td width="250" align="left">
            <p><b>Longitude:</b> <span class="conteudo">%long</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>



    <tr>
        <td width="540" align="left">
            <h3 class="seccao">IDENTIFICAÇÃO UTILIZADOR</h3>
        </td>
    </tr>


    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="250" align="left">
            <p><b>Nome:</b> <span class="conteudo">%nome</span></p>
        </td>
        <td width="30" align="left"></td>
        <td width="250" align="left">
            <p><b>Email:</b> <span class="conteudo">%email</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>



    <tr class="tabletr">
        <td width="5" align="left"></td>
        <td width="250" align="left">
            <p><b>NIF:</b> <span class="conteudo">%fiscalid</span></p>
        </td>
        <td width="30" align="left"></td>
        <td width="250" align="left">
            <p><b>Telefone:</b> <span class="conteudo">%telefone</span></p>
        </td>
        <td width="5" align="left"></td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0">
    <br><br><br><br><br>
    <tr>
        <td width="540" align="center">
            <p class="auxText">Este documento foi gerado de forma automática e o seu conteúdo carece de confirmação pelos serviços competentes.<br>%copyrightAPP | %copyrightMorada | %copyrightCodPostal | Tel: %contactoTelefCopyrightEmail | %copyrightEmailGeral</p>
        </td>
    </tr>

</table>

