.fileinput-preview img {display:block; float: none; margin: 0 auto;}
.select2-bootstrap-prepend .input-group-btn {vertical-align: bottom;}

.tabbable-line>.nav-tabs{
    margin-bottom:15px;
}

#tab_Alerta_NovaOcorrencia h3 {
    font-size: 22px;
    font-weight: bold;
    color: #3d4957;
}