.fileinput{display:block;}
.fileinput-preview {display:block; max-height: 100%; }
.fileinput-preview img {display:block; float: none; margin: 0 auto;}

.tabbable-line>.tab-content {  padding: 0;  }
.iconVDModified {padding-left: 15px; }

.EstadoFilterDropBox {float: right; padding-right: 30px; }

.EstadoFilterDropBoxEncaminhadas {float: right; padding-right: 30px; }
.EstadoFilterDropBoxTarefas {float: right; padding-right: 30px; }

div.vdBlocoContador {float:left; padding-left: 15px; }
div.vdBlocoContadorTexto {margin-top: -26px; margin-left: 52px;}

.gmaps {
    height: 500px !important;
    width: 100% !important;
}

.portlet:not(.light) .tabbable-line {
    padding-top: 0;
}

.tabbable-line>.nav-tabs {
    margin: 0 0 15px 0;
}

.tabbable-line>.nav-tabs>li>a{
    font-size:16px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    padding: 20px 0 10px 0;
}

.EstadoFilterDropBoxAlerta, .CatFilterDropBoxAlerta{
    padding-top:20px;
    padding-bottom:10px;
    float: right;
    margin-left: 10px
}

.EstadoFilterDropBoxEncaminhadas, .EstadoFilterDropBoxTarefas{
    padding-top:20px;
    padding-bottom:10px;
    padding-right: 10px;
}

.EstadoFilterDropBoxAlerta{
    padding-right:10px;
}

.portlet>.portlet-body p {
    margin: 20px 0 0 0;
}