#form-alerta .col-md-3, #form-alerta .col-md-9{
    float:none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    line-height: 2;
}

#form-alerta  .form-group {
    margin-left: 0;
    margin-right: 0;
}

#form-alerta  .control-label {
    text-align: left;
}

#form-alerta .form-group#cat, #form-alerta .form-group#blocoMenuMain, #form-alerta .form-group#freg, #form-alerta .form-group#place, #form-alerta .form-group#mail, #form-alerta .form-group#mail2, #form-alerta .form-group#nif, #form-alerta .form-group#telef{
    width:47%;
    display:inline-block;
    vertical-align:top;
}

#form-alerta .form-group#cat, #form-alerta .form-group#freg, #form-alerta .form-group#mail, #form-alerta .form-group#nif{
    margin-right:2%;
}

#form-alerta .form-group#blocoMenuMain, #form-alerta .form-group#place, #form-alerta .form-group#mail2, #form-alerta .form-group#telef{
    margin-left:2%;
    float:right;
}

#form-alerta #Veracidade .control-label, #form-alerta #PoliticaPrivacidade .control-label{
    width: 98%;
    vertical-align: baseline;
    padding-top: 0;
}

.headline{
    background: #36c6d3;
    color: #fff;
    padding: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}

.headline span{
    font-size: 22px;
}

@media(max-width:361px) {
    #form-alerta .form-group#cat, #form-alerta .form-group#blocoMenuMain, #form-alerta .form-group#freg, #form-alerta .form-group#place, #form-alerta .form-group#mail, #form-alerta .form-group#mail2, #form-alerta .form-group#nif, #form-alerta .form-group#telef {
        width: 100%;
        display: block;
    }

    #form-alerta .form-group#cat, #form-alerta .form-group#freg, #form-alerta .form-group#mail, #form-alerta .form-group#nif {
        margin-right: 0;
    }

    #form-alerta .form-group#blocoMenuMain, #form-alerta .form-group#place, #form-alerta .form-group#mail2, #form-alerta .form-group#telef {
        margin-left: 0;
        float: none;
    }

    #form-alerta #Veracidade .control-label, #form-alerta #PoliticaPrivacidade .control-label{
        width: 93%;
        vertical-align: middle;
    }

}