#veracidadedados-error {margin: 15px;}
#politicaprivacidade-error {margin: 15px;}

.form-group .col-md-9 {
    color: #000;
    font-size: 15px;
}

.imagemFundo{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay{
    /*background-color: rgba(0, 0, 0, 0.5)!important;*/
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.site.login{
    position: fixed;
    width: 100%;
    display: inline-block;
    overflow-y:scroll;
    background-color: #fff !important;
}

.site.login::-webkit-scrollbar{
    width: 10px;
}

.site.login::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.site.login::-webkit-scrollbar-thumb{
    background-color: #1b2b67;
    outline: 1px solid slategrey;
}

.site.login .logo{
    margin: 200px 0 0 0;
    padding: 0;
    z-index: 9;
    width: 49.5%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.site.login .content{
    padding: 40px;
    background-color: transparent;
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 49.5%;
    margin: 0 0 30px 0;
    vertical-align: middle;
}

.site.login .contentMain{
    width: 1200px;
    margin: 0 auto;
}

.site.login .content .login-form{
    /*background: rgba(225, 225, 225, 0.5);*/
    width: 100%;
    padding: 30px 17px 0 17px;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #1b2b67;
}

.site.login .alert-danger{
    max-width: 500px;
    margin: 0 0 30px auto;
    width: 100%;
    border-color: transparent !important;
    color: #000 !important;
    background: rgba(225, 225, 225, 0.5) !important;
    border-radius:0px !important;
}

.site.login .content .login-form h3, .site.login .content .login-form .hint{
    display:none;
}

.site.login .content .form-control {
    background-color: transparent;
    height: auto;
    color: #000;
    border: 0px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 0px;
    border-bottom: 2px solid #1b2b67;
    outline: none !important;
    font-size: 16px;
}

.site.login .content .form-control:active, .site.login .content .form-control:focus {
    border: 0px;
    border-bottom: 2px solid #1b2b67;
    background: #ccc;
}

.site.login .form-control::placeholder {
    color: #000 !important;
    opacity: 1;
}

.site.login .form-control:-ms-input-placeholder {
    color: #000 !important;
}

.site.login .form-control::-ms-input-placeholder {
    color: #000 !important;
}

.site.login .content .form-actions{
    border:0px !important;
    padding: 0 0 25px 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.site.login .content .form-actions .btn {
    font-weight: 600;
    padding: 10px 20px!important;
    width: 49.5%;
    margin-top: 10px;
    background: #1b2b67;
    border-color: #1b2b67;
    border-radius: 0px;
    font-size: 17px;
    color: #fff;
}

.site.login .content .form-actions .btn:hover{
    background:#fff;
    color: #1b2b67;
}

.site.login .login-options p{
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.site.login .login-options p:nth-last-child(1){
    text-align:right;
}

.site.login .login-options {
    margin-top: 100px;
    margin-bottom: 0;
    overflow: hidden;
}

.site.login .login-options a {
    text-shadow: none;
    color: #fff;
    font-size: 14px;
}

.site.login .login-options a:hover {
    color: #fff;
    text-decoration:underline;
}

.has-error .help-block{
    color:#fff !important;
    background: rgba(27, 43, 103, 0.55) !important;
    padding: 5px !important;
}

.site.login .boxInterface{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.site.login .login-options p:nth-child(1){
    text-align:left !important;
}

.logoInterface .prod {
    opacity: 0;
    width: 142px;
    text-align: center;
    color: #000;
    font-size: 12px;
    display: inline-block;
    vertical-align:top;
    -webkit-transition: opacity 1500ms ease-in;
    -moz-transition: opacity 1500ms ease-in;
    -o-transition: opacity 1500ms ease-in;
    transition: opacity 1500ms ease-in;
}

.logoInterface a {
    text-decoration:none !important;
}

.logoInterface:hover .prod {
    opacity: 1;
}

.contentCopyright{
    margin-top: 15px;
}

a.versao{
    color:#000;
}

a.versao:hover{
    color:#000;
    text-decoration:underline;
}

.spaceTop{
    margin-top:14px;
    font-size: 12px !important;
}

.copyright{
    z-index: 99;
    color: #000 !important;
    bottom: 0;
    margin: 0px auto !important;
    width: 1200px !important;
    font-size: 14px !important;
    padding: 0 0 50px 0 !important;
    position: relative;
}

.copyright a{
    color:#000 !important;
}

.site.login .alert-success {
    background-color: rgba(225, 225, 225, 0.5) !important;
    border-color: transparent !important;
    color: #fff !important;
    width: 100% !important;
    padding: 30px 17px !important;
    max-width: 500px !important;
    margin: 0 0 30px auto !important;
    border-radius: 0;
}

.login .content .alert-success h4{
    color:#555 !important;
}

.login .content .alert-success .fa-check:before {
    color: #27a4b0 !important;
}

.site.login .alert-success .btn.blue:not(.btn-outline){
    font-weight: 600;
    padding: 10px 20px!important;
    width: 49.5%;
    margin-top: 10px;
    background: #1b2b67;
    border-color: #1b2b67;
    border-radius: 0px;
    font-size: 17px;
    color: #fff;
}

.site.login .alert-success .btn.blue:not(.btn-outline):hover{
    background: #fff;
    border-color: #1b2b67;
    color: #1b2b67;
}

.logoInterface img {
    width: 30px;
}

@media (max-width: 361px){
    .form-group .col-md-3{
        width: 35% !important;
        display:inline-block;
        vertical-align:middle;
        float: none !important;
    }

    .form-group .col-md-9{
        width: 63% !important;
        display: inline-block;
        vertical-align: middle;
        float: none !important;
        padding-left: 0;
        font-size: 13px;
    }

    .site.login .alert-success .btn.blue:not(.btn-outline){
        width:100%;
    }

    #dynamic_recaptcha_1 .rc-anchor-normal {
        width: 270px !important;
    }

    .site.login .rc-anchor-normal, #dynamic_recaptcha_1 .iframe{
        width: 245px !important;
    }

    .site.login .content .form-actions .btn{
        width:100%;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        margin: 0;
    }

    .site.login .content {
        display: block;
        width: 100%;
        padding: 40px 20px 0 20px;
    }

    .site.login .logo img {
        width: 100%;
        padding: 0 30px;
        margin-top: 30px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 20px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
        padding: 0 0 10px 0 !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .spaceTop {
        position: absolute;
        margin-top: 45px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: 5px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
    }
}

@media (min-width: 362px) and (max-width: 469px){
    .form-group .col-md-3{
        width: 35% !important;
        display:inline-block;
        vertical-align:middle;
        float: none !important;
    }

    .form-group .col-md-9{
        width: 63% !important;
        display: inline-block;
        vertical-align: middle;
        float: none !important;
        padding-left: 0;
        font-size: 13px;
    }

    .site.login .alert-success .btn.blue:not(.btn-outline){
        width:100%;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .content .form-actions .btn{
        width:100%;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        margin: 0;
    }

    .site.login .content {
        display: block;
        width: 100%;
        padding: 40px 20px 0 20px;
    }

    .site.login .logo img {
        width: 100%;
        margin-top: 30px;
        padding: 0 30px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 50px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
        padding: 0 0 20px 0 !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .spaceTop {
        position: absolute;
        margin-top: 45px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: 5px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
    }
}

@media (min-width: 470px) and (max-width: 591px){
    .form-group .col-md-3{
        width: 28% !important;
        display:inline-block;
        vertical-align:middle;
        float: none !important;
    }

    .form-group .col-md-9{
        width: 71% !important;
        display: inline-block;
        vertical-align: middle;
        float: none !important;
        padding-left: 0;
    }
    .site.login .alert-success .btn.blue:not(.btn-outline){
        width:60%;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .content .form-actions .btn{
        width:49%;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        margin: 0;
    }

    .site.login .content {
        display: block;
        width: 100%;
        margin:0;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0 40px;
        margin-top: 30px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 50px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
        padding: 0 0 20px 0 !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .spaceTop {
        position: absolute;
        margin-top: 45px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: 5px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
        margin-right: 10px;
    }
}

@media (min-width: 592px) and (max-width: 767px){
    .form-group .col-md-3{
        width: 21% !important;
        display:inline-block;
        vertical-align:middle;
        float: none !important;
    }

    .form-group .col-md-9{
        width: 78% !important;
        display: inline-block;
        vertical-align: middle;
        float: none !important;
        padding-left: 0;
    }

    .site.login .alert-success .btn.blue:not(.btn-outline){
        width:50%;
    }

    .site.login{
        overflow-x:hidden;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .logo {
        width: 100%;
        display: block;
        margin: 0;
    }

    .site.login .content {
        display: block;
        width: 100%;
        margin: 0;
    }

    .site.login .logo img{
        width: 100%;
        padding:0 40px;
        margin-top: 30px;
        max-width: 578px;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .content .login-form {
        padding: 50px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright {
        position: relative;
        width: 100% !important;
        padding: 0 0 20px 0 !important;
    }

    .logoInterface .prod{
        display:none;
    }

    .spaceTop {
        position: absolute;
        margin-top: 16px;
        z-index: 999;
    }

    .logoInterface{
        margin-top: -25px !important;
        text-align: right;
        width: 50%;
        margin-left: auto;
        margin-right: 10px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 958px){
    .form-group .col-md-3{
        width: 35% !important;
        display:inline-block;
        vertical-align:middle;
        float: none !important;
    }

    .form-group .col-md-9{
        width: 63% !important;
        display: inline-block;
        vertical-align: middle;
        float: none !important;
        padding-left: 0;
    }

    .site.login .alert-success .btn.blue:not(.btn-outline){
        width:100%;
    }

    .site.login {
        position: relative;
        display: block;
    }

    .site.login .logo{
        width: 40%;
    }

    .site.login .content .form-actions .btn{
        width:100%;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0 0 0 5%;
    }

    .site.login .content{
        width: 59%;
        margin: 0;
    }

    .site.login .content .login-form{
        padding: 50px 17px 0 17px;
    }

    .site.login .login-options {
        margin-top: 50px;
    }

    .site.login .login-options p {
        width: 100%;
        display: block;
    }

    .site.login .login-options p:nth-last-child(1) {
        text-align: left;
    }

    .copyright{
        width: 100% !important;
        position: relative;
    }

    .copyright .col-md-4{
        width: 33%;
        float: left;
    }

    .spaceTop{
        text-align:left;
    }

    .site.login .contentMain {
        width: 100%;
    }
}

@media (min-width: 959px) and (max-width: 1199px){
    .form-group .col-md-3{
        width: 26% !important;
        display:inline-block;
        vertical-align:middle;
        float: none !important;
    }

    .form-group .col-md-9{
        width: 73% !important;
        display: inline-block;
        vertical-align: middle;
        float: none !important;
        padding-left: 0;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0 0 0 5%;
    }

    .site.login .contentMain {
        width: 100%;
    }

    .site.login .content .form-actions .btn{
        width:100%;
    }

    .copyright{
        width: 100% !important;
    }

    .copyright .col-md-4{
        width: 33%;
        float: left;
    }

    .spaceTop{
        text-align:left;
    }
}

@media (min-width: 1200px) and (max-width: 1439px){
    .site.login{
        height: auto !important;
        position:relative;
    }

    .site.login .logo img{
        width: 100%;
        padding: 0;
    }

    .login-form .form-group:nth-child(4), .login-form .form-group:nth-child(5){
        display:inline-block;
        width:49.5%;
    }

    .site.login .login-options {
        margin-top: 70px;
    }

    .logoInterface{
        text-align:right;
        padding-right:40px;
    }

    .site.login .logo{
        text-align:left;
        margin: 120px 0 0 0;
    }

    .spaceTop{
        text-align:left;
    }

    .site.login .contentMain {
        width: 1160px;
        margin: 0 auto;
    }

    .contentMain .col-md-12{
        padding-left: 15px;
        padding-right: 15px;
    }

    .site.login .content .login-form{
        margin: 0 0 0 auto;
    }

    .site.login .content {
        padding: 40px 0 40px 40px;
    }

    .logoInterface{
        text-align:right;
    }

    .copyright .col-md-4{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1440px) and (max-width: 1599px){
    .site.login .contentMain, .copyright{
        width: 1400px !important;
    }

    .site.login .logo{
        margin: 120px 0 0 0;
    }

    .site.login .logo img{
        width: auto;
        padding: 0;
    }

    .contentMain .col-md-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .site.login .content .login-form{
        margin: 0 0 0 auto;
    }

    .site.login .content {
        padding: 40px 0 40px 40px;
    }

    .spaceTop{
        text-align:left;
    }

    .logoInterface{
        text-align:right;
    }
}

@media (min-width: 1600px) and (max-width: 1799px){
    .site.login .contentMain, .copyright{
        width: 1560px !important;
    }

    .site.login .content .login-form{
        margin: 0 0 0 auto;
    }

    .site.login .content {
        padding: 40px 0 40px 40px;
    }

    .site.login .logo{
        margin: 120px 0 0 0;
        text-align: left;
    }

    .spaceTop{
        text-align:left;
    }

    .logoInterface{
        text-align:right;
    }
}

@media (min-width: 1800px){
    .site.login .contentMain, .copyright{
        width: 1760px !important;
    }

    .copyright{
        position:relative;
        bottom: 0;
    }

    .copyright .col-md-4{
        padding:0;
    }

    .spaceTop{
        text-align:left;
    }

    .site.login .logo{
        margin: 120px 0 0 0;
        text-align: left;
    }

    .site.login .content .login-form{
        margin: 0 0 0 auto;
    }

    .site.login .content {
        padding: 40px 0 40px 40px;

    }

    .logoInterface{
        text-align:right;
    }
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}