html {
    overflow-x: hidden !important;
}

h2{
    color: #1b2b67;
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: left !important;
}

h2.second{
    margin-top:50px !important;
}

body.page-header-fixed{
    color: #000 !important;
    padding: 50px 0 !important;
    width: 1760px;
    margin: 0 auto !important;
    text-align: justify;
    overflow-x: hidden !important;
}

body.page-header-fixed::-webkit-scrollbar{
    width: 10px;
}

body.page-header-fixed::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body.page-header-fixed::-webkit-scrollbar-thumb{
    background-color: #1b2b67;
    outline: 1px solid slategrey;
}

h4, h3{
    color: #1b2b67;
    font-weight: bold !important;
}

h3 {
    margin-bottom: -15px !important;
    margin-top: 40px !important;
    text-align: left !important;
}

h4{
    margin-top: 25px !important;
    margin-bottom: -15px !important;
    text-align: left !important;
}

p {
    margin: 20px 0 10px 0 !important;
}

ul{
    margin-top: 0;
}

@media (max-width: 958px){
    body.page-header-fixed{
        width: 100% !important;
    }

    .page-container div{
        padding: 0 20px !important;
    }

    h2 {
        font-size: 27px !important;
    }
}



@media (min-width: 959px) and (max-width: 1199px){
    body.page-header-fixed{
        width: 919px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px){
    body.page-header-fixed{
        width: 1160px;
    }
}

@media (min-width: 1440px) and (max-width: 1599px){
    body.page-header-fixed{
        width: 1400px;
    }
}

@media (min-width: 1600px) and (max-width: 1799px){
    body.page-header-fixed{
        width: 1560px;
    }
}