.view-noticias .portlet.light.bordered {
    padding: 10px !important;
}

.view-noticias .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-noticias h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-noticias legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-noticias .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-noticias .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-noticias .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-noticias .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-noticias .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-noticias .bloco{
    margin-bottom:50px;
}

.view-noticias .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-noticias h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

#uploadFieldLogo .fileuploader-theme-thumbnails .fileuploader-thumbnails-input{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 25%;
    padding-top: 25%;
}

#uploadFieldLogo.half .fileuploader-theme-thumbnails .fileuploader-thumbnails-input{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 50%;
    padding-top: 50%;
}

#uploadFieldLogo .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 25%;
    padding-top: 25%;
}

#uploadFieldLogo.half .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    position: relative;
    display: block;
    margin: 10px 0 -5px 8px;
    padding: 0;
    vertical-align: top;
    width: 50%;
    padding-top: 50%;
}

#uploadFieldLogo.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2) {
    display:none !important;
}

.form-actions{
    text-align: center;
}

.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}


.view-noticias .portlet-body.form .col-md-8, .view-noticias .portlet-body.form .col-md-4{
    margin-top: 10px;
}

.view-noticias.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-noticias.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-noticias .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-noticias .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-noticias .form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-noticias .dataTables_wrapper .dataTables_length label, .view-noticias .dataTables_wrapper .dataTables_filter label, .view-noticias .EstadoFilterDropBox label, .view-noticias .CategoriasFilterDropBox label{
    text-align: left;
    width: 100%;
}

.view-noticias div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-noticias .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-noticias .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-noticias div.dataTables_wrapper div.dataTables_filter input, .view-noticias .EstadoFilterDropBox select.input-sm, .view-noticias .CategoriasFilterDropBox select.input-sm{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-noticias .EstadoFilterDropBox {
    width: 30%;
    float: right;
    margin-right: 10px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 4px 24px 4px 12px;
}

input[type=date].form-control{
    line-height: 30px !important;
    margin-top: 0 !important;
}

.view-noticias #uploadFieldCapa .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, .view-noticias #uploadFieldCapa .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item {
    width: 40%;
    padding-top: 40%;
}

.wysihtml5-sandbox {
    min-height: 390px;
}

.view-noticias .dataTables_wrapper #tabela_lista_noticias_filter.dataTables_filter {
    width: 60%;
}

.view-noticias .CategoriasFilterDropBox {
    width: 29.5%;
    float: right;
    margin-right: 1%;
}

.view-noticias #tabela_lista_noticias_wrapper .EstadoFilterDropBox {
    margin-right: 0px;
    width: 29.5%;
}

.view-noticias.layout-view4manager .row.static-info .value .label {
    padding: 6px 15px;
}

.view-noticias .form-group.half.state{
    float:right;
}

.view-noticias .form-group.half.state .value{
    background-color: transparent;
    padding-left:0;
}

.view-noticias .form-group.all.multiline .value{
    min-height:300px;
}

#vdNoticiasFileGridCapa .cbp-item.identity.logos{
    width:100% !important;
}

.view-noticias.layout-view4manager .col-md-8, .view-noticias.layout-view4gestor .col-md-8{
    padding-left: 0px;
    padding-right: 10px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.view-noticias.layout-view4manager .col-md-4, .view-noticias.layout-view4gestor .col-md-4{
    padding-left: 10px;
    padding-right: 0px;
    float:right;
}

.view-noticias.layout-view4manager .form-group.half:nth-child(odd), .view-noticias.layout-view4gestor .form-group.half:nth-child(odd){
    float:right;
}

#vdNoticiasFileGridGaleria.cbp .cbp-item{
    width:24% !important;
    top: 0 !important;
}

#vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(1), #vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(5){
    left:0% !important;
}

#vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(2), #vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(6){
    left:25% !important;
}

#vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(3), #vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(7){
    left:50% !important;
}

#vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(4), #vdNoticiasFileGridGaleria.cbp .cbp-item:nth-child(8){
    left:75% !important;
}

.view-noticias #uploadFieldCapa .fileuploader-items-list li:nth-child(2){
    display:none !important;
}

.select2-container--bootstrap{
    margin-top: 7px !important;
}