/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.rok-dropdown-group, .rok-dropdown {
	position: relative;
}

.rok-dropdown-open .rok-dropdown {
	display: block;
}

.dropdown() {
	position: absolute;
	top: 100%;
	left: 0;
	display: none; // none by default, but block on "open" of the menu
	float: left;
	list-style: none;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	z-index: 5;

	// Dividers (basically an hr) within the dropdown
	.divider {
		.nav-divider();
	}

	> li {
		display: block; // reset to blocks the dropdowns children
	}

	// Links within the dropdown menu
	a {
		display: block;
		clear: both;
		font-weight: normal;
		white-space: nowrap;
	}

	// hover states
	// in your custom dropdowns.less you would edit this for different colors
	> li > a:hover, .active > a, .active > a:hover {
		text-decoration: none;
	}
}