/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

.rok-popover-group, .rok-popover {
	position: relative;
}

.rok-popover-open .rok-popover {
	display: block;
}

.popover() {
	position: absolute;
	top: 0;
	left: -100%;
	display: none; // none by default, but block on "open" of the menu
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	z-index: 5;
}