.view-diretorioservicos .portlet.light.bordered {
    padding: 10px !important;
}

.view-diretorioservicos .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-diretorioservicos h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-diretorioservicos legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-diretorioservicos .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-diretorioservicos .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-diretorioservicos .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-diretorioservicos .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-diretorioservicos .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-diretorioservicos .bloco{
    margin-bottom:50px;
}

.view-diretorioservicos .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-diretorioservicos h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.form-actions{
    text-align: center;
}

.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}


.view-diretorioservicos .portlet-body.form .col-md-8, .view-diretorioservicos .portlet-body.form .col-md-4{
    margin-top: 10px;
}

.view-diretorioservicos.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-diretorioservicos.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-diretorioservicos .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-diretorioservicos .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-diretorioservicos .form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-diretorioservicos .dataTables_wrapper .dataTables_length label{
    text-align: left;
    width: 100%;
}

.view-diretorioservicos div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-diretorioservicos .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-diretorioservicos .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-diretorioservicos div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 4px 24px 4px 12px;
}

.view-diretorioservicos.layout-view4manager .row.static-info .value .label {
    padding: 6px 15px;
}

.view-diretorioservicos .form-group.half.state{
    float:right;
}

.view-diretorioservicos .form-group.half.state .value{
    background-color: transparent;
    padding-left:0;
}

.view-diretorioservicos .form-group.half.state .col-md-3{
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.view-diretorioservicos .form-group.all.multiline .value{
    min-height:300px;
}

.view-diretorioservicos.layout-view4manager .col-md-8{
    padding-left: 0px;
    padding-right: 10px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.view-diretorioservicos.layout-view4manager .col-md-4{
    padding-left: 10px;
    padding-right: 0px;
    float:right;
}

.select2-container--bootstrap{
    margin-top: 7px !important;
}

div.dataTables_wrapper div.dataTables_filter label{
    width:100%;
}

div.dataTables_wrapper div.dataTables_filter label, .view-multimedia #tabela_lista_multimedia_wrapper .CategoriasFilterDropBox label, .view-multimedia #tabela_lista_multimedia_wrapper .FreguesiasFilterDropBox label, .view-multimedia #tabela_lista_multimedia_wrapper .EstadoFilterDropBox label{
    width:100%;
}

.layout-list4manager .input-inline{
    display:block;
    width:100%;
}

.view-diretorioservicos #tabela_lista_empresas_wrapper .EstadoFilterDropBox{
    padding-left: 10px;
}

.view-diretorioservicos #tabela_listaempresas_wrapper .CategoriasFilterDropBox{
    padding-right: 5px;
    padding-left: 5px;
}

.view-diretorioservicos #tabela_lista_empresas_wrapper .ConcelhoFilterDropBox{
    padding-right: 10px;
}

.view-diretorioservicos .dataTables_wrapper .dataTables_length label{
    text-align: left;
    width: 100%;
}

.view-diretorioservicos div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-diretorioservicos .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-diretorioservicos .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-diretorioservicos div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-diretorioservicos .EstadoFilterDropBox {
    width: 30%;
    float: right;
    margin-right: 10px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 4px 24px 4px 12px;
}

.view-diretorioservicos .dataTables_wrapper #tabela_lista_empresas_filter.dataTables_filter {
    width: 60%;
}

.view-diretorioservicos #tabela_lista_empresas_wrapper .EstadoFilterDropBox, .view-diretorioservicos #tabela_lista_empresas_wrapper .CategoriasFilterDropBox, .view-diretorioservicos #tabela_lista_empresas_wrapper .ConcelhoFilterDropBox{
    margin-right: 0px;
    width: 30%;
    display:inline-block;
    float: right;
}

.view-diretorioservicos .dataTables_wrapper #tabela_lista_empresas_filter.dataTables_filter label, .view-diretorioservicos #tabela_lista_empresas_wrapper .EstadoFilterDropBox label, .view-diretorioservicos #tabela_lista_empresas_wrapper .CategoriasFilterDropBox label, .view-diretorioservicos #tabela_lista_empresas_wrapper .ConcelhoFilterDropBox label{
    width: 100%;
    display:block;
    text-align: left;
}

.view-diretorioservicos.layout-addnew4manager .form-group.half.right, .view-diretorioservicos.layout-view4manager .form-group.half.right, .view-diretorioservicos.layout-edit4manager .form-group.half.right{
    float:right;
}

.view-diretorioservicos .form-group.half #codPostal4, .view-diretorioservicos .form-group.half #codPostal3{
    width:20%;
    display:inline-block;
    vertical-align:middle;
}

.view-diretorioservicos .form-group.half #codPostalText{
    width:56%;
    display:inline-block;
    vertical-align:middle;
}

.select2-container--bootstrap {
    margin-top: 5px !important;
}

.form-group.half .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, .form-group.half .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    width: 100%;
    padding-top: 100%;
    margin: 0;
}

.form-group.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list{
    margin: 0;
}

.form-group.all .gmaps{
    height: 500px;
}

.view-diretorioservicos.layout-view4manager .cbp .cbp-item{
    width: 100% !important;
    height: 100% !important;
}

.view-diretorioservicos.layout-view4manager #vdDiretorioServicosFileGridGaleria.cbp .cbp-item{
    width: 25% !important;
    height: 100% !important;
    display: inline-block;
    vertical-align: top;
    left: 0 !important;
    position: relative !important;
}
.view-diretorioservicos.layout-view4manager .portlet.light.bg-inverse.bordered{
    min-height:300px;
}

.view-diretorioservicos.layout-edit4manager .form-group.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2){
    display:none !important;
}

.view-diretorioservicos.layout-edit4manager .form-group.half .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-diretorioservicos.layout-edit4manager .form-group.half.estado .select2-container--bootstrap {
    margin-top: 0px !important;
}

.view-diretorioservicos .idiomas span, .view-diretorioservicos .premios span{
    margin-right:20px;
    display: inline-block;
}

.view-diretorioservicos .idiomas span input[type=checkbox], .view-diretorioservicos .premios span input[type=checkbox]{
    margin-right: 5px;
}

.mt-repeater .mt-repeater-input {
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
}

.mt-repeater .mt-repeater-input .form-group.all{
    width:80%;
    display:inline-block;
    vertical-align: middle;
}

.mt-repeater .mt-repeater-delete{
    margin-top: 0;
    vertical-align: middle;
}

.mt-repeater{
    margin-bottom:50px;
}

.view-diretorioservicos .textarea .row.static-info .value{
    min-height:100px;
}

