.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}

.form-actions{
    text-align: center;
}

.view-documentos .portlet.light.bordered {
    padding: 10px !important;
}

.view-documentos .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-documentos h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-documentos legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-documentos .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-documentos .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-documentos .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-documentos .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-documentos .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-documentos .bloco{
    margin-bottom:50px;
}

.view-documentos .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-documentos h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-documentos .form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-documentos .dataTables_wrapper .dataTables_length label, .view-documentos .dataTables_wrapper .dataTables_filter label, .view-documentos .EstadoFilterDropBox label, .view-documentos .CatLevel1FilterDropBox label{
    text-align: left;
    width: 100%;
}

.view-documentos div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-documentos .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-documentos .dataTables_wrapper .dataTables_filter {
    width: 50%;
    margin-left:10px;
}

.view-documentos div.dataTables_wrapper div.dataTables_filter input, .view-documentos .EstadoFilterDropBox select.input-sm, .view-documentos .CatLevel1FilterDropBox select.input-sm{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-documentos .EstadoFilterDropBox, .view-documentos .CatLevel1FilterDropBox {
    width: 25%;
    float: right;
    margin-right: 0px;
}

#uploadFieldDoc .fileuploader {
    margin: 0 0 16px 0;
}

#uploadFieldDoc .fileuploader-items-list li:nth-child(2){
    display:none !important;
}

.view-documentos .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-documentos .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-documentos.layout-view4manager .form-group.half:nth-child(odd){
    float: right;
}

.view-documentos .form-group.half.state .value {
    background-color: transparent;
    padding-left: 0;
}

.view-documentos.layout-view4manager .col-md-8{
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    padding-left: 5px;
}

.view-documentos.layout-view4manager .col-md-4{
    float: right;
    margin-top: 10px;
    padding-right: 5px;
}

.view-documentos.layout-view4manager .cbp-item.identity.link{
    width:100% !important;
}

.mt-repeater .mt-repeater-input {
    width: 100% !important;
}

.TagInput .form-group.all{
    width: 47.5%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
}

.view-documentos .TagInput .value.col-md-12 .form-control {
    margin: 5px 0 0 0;
}

.form-group.tags span{
    background: #3d4957;
    padding: 3px 20px;
    border-radius: 30px;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}