.label-pendente {
    background-color: #bd4e2e ;
    padding:5px 10px;
    color:#fff;
    border-radius:4px;
}
.label-analise {
    background-color: #d4c744;
    padding:5px 10px;
    color:#fff;
    border-radius:4px;
}
.label-concluido {
    background-color: #154874;
    padding:5px 10px;
    color:#fff;
    border-radius:4px;
}

