.form-group {
    margin-bottom: 15px;
}

.col-md-9 {
    width: 100%;
    float: none;
}

.input-group {
    display: table;
    border-collapse: separate;
}

.input-group, .input-group-btn, .input-group-btn>.btn {
    position: relative;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
    box-shadow:none !important;
}

textarea, input[type="text"]{
    border-width: 1px !important;
    border-radius:0px !important;
    outline:none !important;
    box-shadow:none !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.select2-container--bootstrap .select2-selection{
    border-radius:0px !important;
    outline:none !important;
    box-shadow:none !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}

form#projetosApoiados{
    margin: 0;
}

#blocoMenuMain.form-group {
    margin-bottom: 0;
}