.view-multimedia .portlet.light.bordered {
    padding: 10px !important;
}

.view-multimedia .nav.nav-tabs h4{
    margin-top:0;
    font-weight:100;
}

.view-multimedia h3 {
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}

.view-multimedia legend {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #34495e;
    border-bottom: 1px solid #3d4957;
}

.view-multimedia .col-md-12{
    padding-left:0;
    padding-right:0;
}

.view-multimedia .name.col-md-12{
    font-size: 14px;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-multimedia .value.col-md-12 .form-control{
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
    margin: 5px 0;
}

.view-multimedia .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.view-multimedia .form-horizontal .form-group.all{
    border-bottom: 0px;
}

.view-multimedia .bloco{
    margin-bottom:50px;
}

.view-multimedia .bloco:nth-last-child(1){
    margin-bottom:0px;
}

.view-multimedia h4{
    color: #3d4957 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 0;
}

.form-actions{
    text-align: center;
}

.label-pendente {background-color: #bd4e2e;}
.label-publicado {background-color: #4b744f;}
.label-despublicado {background-color: #154874;}
.label-rejeitado {background-color: #d4c744 ;}


.view-multimedia .portlet-body.form .col-md-8, .view-multimedia .portlet-body.form .col-md-4{
    margin-top: 10px;
}

.view-multimedia.layout-view4manager .form .form-bordered .form-group>div{
    padding: 0;
}

.view-multimedia.layout-view4manager .form .form-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-multimedia .row.static-info .value {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 13px;
    min-height: 30px;
}

.view-multimedia .row.static-info .name {
    padding: 0;
    font-weight: bold;
    color: #3d4957;
    margin-top: 20px;
}

.view-multimedia .form-horizontal .form-group.half{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0px;
}

.view-multimedia .dataTables_wrapper .dataTables_length label{
    text-align: left;
    width: 100%;
}

.view-multimedia div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
    display: block;
}

.view-multimedia .dataTables_wrapper .dataTables_length {
    width: 20%;
}

.view-multimedia .dataTables_wrapper .dataTables_filter {
    width: 40%;
}

.view-multimedia div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
    display: block;
    margin-left: 0;
}

.view-multimedia .EstadoFilterDropBox {
    width: 30%;
    float: right;
    margin-right: 10px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
    padding: 4px 24px 4px 12px;
}

.view-multimedia .dataTables_wrapper #tabela_lista_multimedia_filter.dataTables_filter {
    width: 60%;
}

.view-multimedia #tabela_lista_multimedia_wrapper .EstadoFilterDropBox, .view-multimedia #tabela_lista_multimedia_wrapper .CategoriasFilterDropBox{
    margin-right: 0px;
    width: 30%;
    display:inline-block;
    float: right;
}

.view-multimedia.layout-view4manager .row.static-info .value .label {
    padding: 6px 15px;
}

.view-multimedia .form-group.half.state, .view-multimedia .form-group.half.right{
    float:right;
}

.view-multimedia .form-group.half.state .value{
    background-color: transparent;
    padding-left:0;
}

.view-multimedia .form-group.all.multiline .value{
    min-height:300px;
}

.view-multimedia.layout-view4manager .col-md-8{
    padding-left: 0px;
    padding-right: 10px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.view-multimedia.layout-view4manager .col-md-4{
    padding-left: 10px;
    padding-right: 0px;
    float:right;
}

.select2-container--bootstrap{
    margin-top: 7px !important;
}

div.dataTables_wrapper div.dataTables_filter label, .view-multimedia #tabela_lista_multimedia_wrapper .CategoriasFilterDropBox label, .view-multimedia #tabela_lista_multimedia_wrapper .FreguesiasFilterDropBox label, .view-multimedia #tabela_lista_multimedia_wrapper .EstadoFilterDropBox label{
    width:100%;
}

.layout-list4manager .input-inline{
    display:block;
    width:100%;
}

.view-multimedia #tabela_lista_multimedia_wrapper .EstadoFilterDropBox{
    padding-left: 10px;
}

.view-multimedia #tabela_lista_multimedia_wrapper .CategoriasFilterDropBox{
    padding-right: 10px;
}

.view-multimedia #tabela_lista_multimedia_wrapper .FreguesiasFilterDropBox{
    padding-left: 5px;
    padding-right: 5px;
}

.view-multimedia.layout-addnew4manager .form-group.half.right, .view-multimedia.layout-view4manager .form-group.half.right, .view-multimedia.layout-edit4manager .form-group.half.right{
    float:right;
}

.view-multimedia .form-group.half #codPostal4, .view-multimedia .form-group.half #codPostal3{
    width:20%;
    display:inline-block;
    vertical-align:middle;
}

.view-multimedia .form-group.half #codPostalText{
    width:56%;
    display:inline-block;
    vertical-align:middle;
}

.select2-container--bootstrap {
    margin-top: 5px !important;
}

.form-group.half .fileuploader-theme-thumbnails .fileuploader-thumbnails-input, .form-group.half .fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item{
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
}

.form-group.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list{
    margin: 0;
    text-align: center;
}

.form-group.all .gmaps{
    height: 500px;
}

.view-multimedia.layout-view4manager .cbp .cbp-item{
    width: 100% !important;
    height: 100% !important;
}

.view-multimedia.layout-view4manager .portlet.light.bg-inverse.bordered{
    min-height:300px;
}

.view-multimedia.layout-edit4manager .form-group.half .fileuploader-theme-thumbnails .fileuploader-items .fileuploader-items-list li:nth-child(2){
    display:none !important;
}

.view-multimedia.layout-edit4manager .form-group.half .row {
    margin-left: 0px;
    margin-right: 0px;
}

.view-multimedia.layout-edit4manager .form-group.half.estado .select2-container--bootstrap {
    margin-top: 0px !important;
}

.view-multimedia.layout-view4manager iframe {
    width: 500px;
    height: 280px;
}